{% extends "dashboard/base.html" %}
{% load humanize %}

{% block scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages:['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
  	// Annual Financials
	var annual_financials_chart_data = google.visualization.arrayToDataTable([
        ['Year', 'Inflow', 'Expenditure'],
        {% for item in annual_financials_list %} ['{{item.0.0}}', {{item.0.1}}, {{item.1.1}}],	{% endfor %}
        ]);	

	var annual_financials_chart_options = {
		title: 'Annual Financials',
		width: '100%',
        height: 400,
		bar: {groupWidth: "65%"}
		// explorer: {}
	};	
	var annual_financials_chart = new google.visualization.ColumnChart(document.getElementById('annual_financials_chart'));
	annual_financials_chart.draw(annual_financials_chart_data, annual_financials_chart_options);



	// Comparison of donors, donations among different geographies
	var donor_donations_by_geo_chart_data = google.visualization.arrayToDataTable([
    ['Location', '% donors', '%donations'],
    {% for item in donor_donations_by_geo_list %} ['{{item.0.0}}', {{item.1.2}}, {{item.0.2}}],	{% endfor %}
    ]);	

	var donor_donations_by_geo_chart_options = {
		title: 'Donors and Donations by Location',
		width: '100%',
        height: 400,
		bar: {groupWidth: "65%"}
		// explorer: {}
	};	
	var donor_donations_by_geo_chart = new google.visualization.ColumnChart(document.getElementById('donors_donations_by_geography'));
	donor_donations_by_geo_chart.draw(donor_donations_by_geo_chart_data, donor_donations_by_geo_chart_options);


	// Frequecy of giving
	var freq_of_donation_chart_data = google.visualization.arrayToDataTable([
    ['Frequecy of giving', '% donors', '%donations'],
    {% for item in freq_of_donation_stats %} ['{{item.0}}', {{item.2}}, {{item.3}}],	{% endfor %}
    ]);	

	var freq_of_donation_chart_options = {
		title: 'Frequecy of Donations',
		width: '100%',
        height: 400,
		bar: {groupWidth: "65%"}
		// explorer: {}
	};	
	var freq_of_donation_chart = new google.visualization.ColumnChart(document.getElementById('freq_of_donation_chart'));
	freq_of_donation_chart.draw(freq_of_donation_chart_data, freq_of_donation_chart_options);

	// // Monthly Inflow
	// var monthly_inflow_chart_data = google.visualization.arrayToDataTable([
	// 	{% for monthly_donation in monthly_donations %} ['{{monthly_donation.0}}', {{monthly_donation.1}}] {% endfor %}
	// 	]);
 //    options = {
 //        hAxis: {
 //          title: 'Time'
 //        },
 //        vAxis: {
 //          title: 'Popularity'
 //        },
 //        series: {
 //          1: {curveType: 'function'}
 //        }
 //      };

 //    chart = new google.visualization.LineChart(document.getElementById('monthly_inflow'));
 //    chart.draw(monthly_inflow_chart_data, options);


    }

</script>

<script type="text/javascript">
    $(function(){
        $('#view_dashboard_button').click(function() {
            $('#login_modal a:not(.close-reveal-modal)').each(function() {
                $(this).attr('href', $(this).attr('href') + '?next=/dashboard');
            });
            $('#login_modal').foundation('reveal', 'open');
        });

});
</script>
{% endblock scripts %}

{% block content %}
{% if not logged_in %}
	<div class="button need_login" id="view_dashboard_button" style="display: block; margin-left: auto; margin-right: auto; width: 20%; font-size: 1.5rem; font-weight: bold;">CLICK HERE TO LOGIN</div>

{% else %}
<div class="row">
	<div class="large-12 column">
			<table>
				<tr>
					<th>Bank</th>
					<!-- <th>Account Type</th> -->
					<th>Date</th>
					<th>Balance</th>
				</tr>
			{% for bank, type, date, balance in bank_balance_list %}
				<tr>
					<td>{{bank}}</td>
					<!-- <td>{{type}}</td> -->
					<td>{{date}}</td>
					<td>{{balance|floatformat:"0"|intcomma}}</td>
				</tr>
			{% endfor %}				
				<tr>
					<td style="font-weight:bold">Total Balance</td>
					<!-- <td>{{type}}</td> -->
					<td></td>
					<td style="font-weight:bold">{{total_balance|floatformat:"0"|intcomma}}</td>
				</tr>
			</table>	
			<table>
				<tr>
					<th>Milestone</th>
					<th>Target</th>
					<!-- <th>Start Date</th> -->
					<th>Progress</th>
					<th>Progress %</th>
					<th>Committed</th>
					<th>End Date</th>					
				</tr>
			{% for milestone in milestones %}
				<tr>
					<td>{{milestone.title}}</td>
					<td>{{milestone.target_amount|floatformat:"0"|intcomma}}</td>
					<td>{{milestone.raised_amount|floatformat:"0"|intcomma}}</td>
					<td>{{milestone.raised_precent|floatformat:"0"|intcomma}}%</td>
					<td>{{milestone.committed_amount|floatformat:"0"|intcomma}}</td>
					<!-- <td>{{milestone.start_date}}</td> -->
					<td>{{milestone.end_date}}</td>
				</tr>
			{% endfor %}				
			</table>		
			
		<div id="annual_financials_chart"/></div>
		<div id="donors_donations_by_geography"/></div>
		<div id="freq_of_donation_chart"/></div>
	</div>		
</div>
<div class="row">
	<div class="large-12 column">
		<div id="monthly_inflow"/></div>
	</div>		
</div>

<div class="row">
	<div class="large-12 column">
<!-- 		<span  class="large-4 column">
			<h1>DONATIONS</h1>
			<table>
				<tr>
					<th>Year</th>
					<th>Total</th>
				</tr>
			{% for year, total in annual_donations %}
				<tr>
					<td>{{year}}</td>
					<td>{{total}}</td>				
				</tr>
			{% endfor %}
			</table>		
			<table>
				<tr>
					<th>Month</th>
					<th>Total</th>
				</tr>
			{% for month, total in monthly_donations %}
				<tr>
					<td>{{month}}</td>
					<td>{{total}}</td>				
				</tr>
			{% endfor %}
			</table>
		</span> -->
		

<!-- 		<span class="large-4 column">
			<h1>EXPENSES</h1>
			<table>
				<tr>
					<th>Year</th>
					<th>Total</th>
				</tr>
			{% for year, total in annual_expenses %}
				<tr>
					<td>{{year}}</td>
					<td>{{total}}</td>				
				</tr>
			{% endfor %}
			</table>		
			<table>
				<tr>
					<th>Month</th>
					<th>Total</th>
				</tr>
			{% for month, total in monthly_expenses %}
				<tr>
					<td>{{month}}</td>
					<td>{{total}}</td>				
				</tr>
			{% endfor %}
			</table>
		</span>		 -->

	<div>
		<span class="large-12 column">
<!-- 			<h1>EVENT PARTICIPATION</h1>
			<h3>Total Events - {{total_events_count}}</h3>
			<h3>Total Participation - {{total_participation}}</h3>
			<table>
				<tr>
					<th>Month</th>
					<th>Participation</th>
				</tr>
			{% for month, count in monthly_participation %}
				<tr>
					<td>{{month}}</td>
					<td>{{count}}</td>				
				</tr>
			{% endfor %}
			</table> -->

			<table>
				<tr>
					<th>Country</th>
					<th>No. of Donors</th>
					<th>As % of total Donors</th>
				</tr>
			{% for region, total, percent in donors_by_geo_list %}
				<tr>
					<td>{{region}}</td>
					<td>{{total}}</td>
					<td>{{percent|floatformat:"0"}}%</td>
				</tr>
			{% endfor %}				
			</table>
			<table>
				<tr>
					<th>Country</th>
					<th>Donation Amount</th>
					<th>As % of total</th>
				</tr>
			{% for region, total, percent in donation_by_geo_list %}
				<tr>
					<td>{{region}}</td>
					<td>{{total|floatformat:"0"|intcomma}}</td>
					<td>{{percent|floatformat:"0"}}%</td>
				</tr>
			{% endfor %}				
			</table>
			<table>
				<tr>
					<th>Freq of donation</th>
					<th>No. of donors</th>
					<th>As % of total number of donors</th>
					<th>Contribution % of total donation amount</th>
				</tr>
			{% for freq, total, percent_donation_instances, percent_amount in freq_of_donation_stats %}
				<tr>
					<td>{{freq}}</td>
					<td>{{total}}</td>
					<td>{{percent_donation_instances|floatformat:"0"}}%</td>
					<td>{{percent_amount|floatformat:"0"}}%</td>
				</tr>
			{% endfor %}				
			</table>

		</span>		
	</div>
	</div>
</div>
{% endif %}
{% endblock content %}
