{% extends "newbase.html" %}
{% block meta %}
<title>Payment redirect</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"></LINK>
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/datatable/demo_table.css"></LINK>
<script src="{{STATIC_URL}}js/jquery.min.js"></script>	

<script type="text/javascript">
$(function() {
	$('#pgform_container form').submit();
});
</script>

{% endblock %}
{% block content %}
<div class = "content_with_page_title center">
	<div class="content_div">
		<div id = "redirecting">
			<h3 style="margin-top:100px;text-align:center;">Redirecting to the Payment Gateway...</h3>
		</div>
	</div>

	<div id="pgform_container" style="display:none;">
		{% include pg_form_template %}
	</div>

</div>
{% endblock content %}
