/** Regular **/
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Light.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

/** Thin **/
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}

/** Bold **/
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Gotham',Helvetica,Arial,sans-serif;
	font-weight: normal;
	font-size: 1.3rem;
	color: #333;
	text-shadow: none;
  	padding:0;
  	margin: 0;
  	width:100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table {
	border: none;
	background: transparent;
}

/* Overrides */
.row {
	max-width: 98rem;
}


/* Common */
a.cta {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	background: #00b4ff;
	padding: 1rem 4rem;
}

a.cta.hackathon {
	background: #e31b4a;
}

a.cta.ig {
	background: #f75b22;
	font-weight: 700;
}

a.cta.disabled {
	background: #ccc;
}

#content_container {
	width: 100%;
	margin: 0 auto;
	min-height: 40rem;
}

div.content {
	max-width: 98rem;
	margin: 0 auto;
}

p.heading {
	text-transform: uppercase;
	font-weight: 700;
	color: #4b4b4b;
	font-size: 1.8rem;
}

/* Menu */
#menu {
	height: 8.4rem;
	max-width: 98rem;
	margin: 0 auto 0.5rem;
	/*border-bottom: 1px solid #464646;*/
}

#menu .top-bar:not(.expanded) {
	background: #fff;
	height: 100%;
}

#menu .top-bar .toggle-topbar.menu-icon {
  	padding: 2.5rem 1.3rem;
  	top: 0;
  	margin-top: 0;
}

#menu .top-bar .toggle-topbar.menu-icon a span::after {
	box-shadow: 0 0 0 1px #464646, 0 7px 0 1px #464646, 0 14px 0 1px #464646;
	right: auto;
}

#menu .top-bar.expanded .toggle-topbar.menu-icon {
	background: #303030;
}

#menu .top-bar.expanded .toggle-topbar.menu-icon a span::after {
	box-shadow: 0 0 0 1px #00b4ff, 0 7px 0 1px #00b4ff, 0 14px 0 1px #00b4ff;
}

#menu .top-bar ul.title-area {
	height: 100%;
}

#menu .top-bar.expanded .title-area {
	background: #fff;
}

#menu .top-bar .name {
	text-align: center !important;
	padding-top: 1.7rem;
	height: auto;
}

#menu .top-bar .name a {
	display: inline-block;
}

#menu .top-bar .name span {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	color: #4b4b4b;
}

#menu .top-bar .toggle-topbar {
	left: 0;
	right: auto;
}

#menu .top-bar-section ul {
	width: 80%;
	max-width: 30rem;
	z-index: 4;
  	position: relative;
}

#menu .top-bar-section ul li {
	background: #303030;
	color: #fff;
}

#menu .top-bar-section ul li > a {
	font-size: 1.4rem;
	font-family: 'Gotham',Helvetica,Arial,sans-serif;
	padding: 1rem 0;
}

#menu .top-bar-section ul li img {
	width: 2.5rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
}

#menu .top-bar-section ul li.grp-end {
	border-bottom: 1px solid #595959;
}

#menu .top-bar #login {
	display: none; /* Temporary till we enable login */
	position: absolute;
	right: 0;
	top: 0;
	padding: 2.1rem 1.3rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #464646;
	margin-top: 0;
}

#menu .top-bar #login img {
	width: 4rem;
}

/* Footer */
#footer {
	background: #303030;
	padding: 2.8rem 0.5rem;
}

#footer table.heading {
	border-bottom: 1px solid #6f6f6f;
	height: 6.5rem;
	width: 100%;
}

#footer table.heading td {
	vertical-align: bottom;
	height: 100%;
	padding-bottom: 1rem;
}

#footer table.heading span {
	color: #656565;
	font-size: 1.8rem;
	line-height: 1.2;
}

#footer img.footer_icon {
	width: 3rem;
}

#footer table.heading td.heading_text {

}

#footer table.heading td.heading_img {
	text-align: right;
}

#footer div.column div.footer-group {
	max-width: 49rem;
	margin: 0 auto 4.5rem;
}

#footer div.footer-group.text-center table.heading td.heading_text {
	text-align: center;
}

#footer div.column li.footer-item a {
	color: #acacac;
	display: inline-block;
	margin-bottom: 0.5rem;
}

p, a, li, span {
	font-size: 1.3rem;
}

/* Home page */
#home_page {

}

#home_hero {
	height: 51.2rem;
	background: url('../newimg/hero_lakshya.png');
	background-size: cover;
	background-position: center center;
}

#home_hero .initiative {
	color: #fff;
	text-align: center;
	padding: 0 2rem;
	height: 100%;
}
#home_hero .initiative:hover {
	background: rgba(0,0,0,0.85);
}

#home_hero .initiative_main {
	border-bottom: 1px solid #fff;
	padding-bottom: 1.5rem;
}

#home_hero .initiative_main p.initiative_name {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 2rem;
}

#home_hero .initiative_logo {
	width: 14rem;
	border-radius: 100%;
	border: 2px solid #fff;
	margin: 4rem auto 0;
}

#home_hero .initiative_update p {
	text-align: left;
	padding: 2rem 0.5rem;
	line-height: 1.3;
	font-size: 1.5rem;
	color: #fff;
}

#home_hero .initiative_update p a {
	display: block;
	text-align: center;
	color: #fff;
}

#home_hero #home_hackathon:hover {
	color: #e11c4a;
}

#home_hero #home_hackathon:hover svg.initiative_logo {
	border-color: #e11c4a;
}

#home_hero #home_hackathon:hover svg.initiative_logo path {
	fill: #e11c4a;
}

#home_hero #home_ig:hover {
	color: #f75b22;
}

#home_hero #home_ig:hover svg.initiative_logo {
	border-color: #f75b22;
}

#home_hero #home_ig:hover svg.initiative_logo path {
	fill: #f75b22;
}

#home_hero #home_crowdfunding:hover {
	color: #01b49e;
}

#home_hero #home_crowdfunding:hover svg.initiative_logo {
	border-color: #01b49e;
}

#home_hero #home_crowdfunding:hover svg.initiative_logo path {
	fill: #01b49e;
}

@media only screen and (max-width: 64em) { /* Small and medium */
	#home_hero .initiative {
		height: 30%;
	}
	#home_hero .initiative_main {
		border: none;
	}
	#home_hero .initiative:hover {
		background: transparent !important;
	}
	#home_hero .initiative_logo {
		border: none;
		max-height: 8rem;
	}
	#home_hero .initiative:hover .initiative_name {
		color: #fff;
	}
	#home_hero .initiative_main p.initiative_name {
		margin-top: 0.8rem;
	}
}

#home_update_container {
	background: #ededed;
	padding: 4rem 0;
}

#home_update {
	text-align: center;
}

#home_update a.cta {
	margin-top: 1rem;
}

#home_stats {
	padding: 4rem 0;
}

#home_stats .home_stat {
	text-align: center;
}

#home_stats p.home_stat_number {
	color: #72ceff;
	font-size: 10rem;
	font-weight: 300;
	margin-bottom: -1rem;
}

#home_stats p.home_stat_text {
	
}

#home_testimonial_container {
	background: #f9f9f9;
	padding: 4rem 0;
}

#home_testimonial {
	text-align: center;
}

#home_testimonial #home_testimonial_text {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 2.2;
	padding: 0 3rem;
}

#home_testimonial #home_testimonial_picture {
	width: 8rem;
	border-radius: 100%;
	margin-top: 2rem;
}

#home_testimonial #home_testimonial_name {
	margin-top: 1rem;
	font-weight: 700;
}

#home_testimonial #home_testimonial_designation {
	font-style: italic;
}

#home_news {
	padding: 4rem 0;
	text-align: center;
}

#home_news p.heading {
	
}

#home_news p.news_description {
	margin-top: 1rem;
	font-style: italic;
	line-height: 2;
	padding: 0 2rem;
}

#home_contact_container {
	padding: 4rem 01;
	background: #eaeaea;
}

#home_contact {
	text-align: center;
}

#home_contact #home_contact_input {
	background: #303030;
	width: 100%;
	max-width: 60rem;
	height: 7rem;
	margin: 0 auto;
	padding: 0;
}

#home_contact #home_contact_input input {
	width: 83%;
	height: 100%;
	outline: none;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 2rem;
	padding-left: 1.5rem;
	float: left;
}

#home_contact #home_contact_submit {
	float: right;
	height: 100%;
	background: #00b4ff;
	color: #fff;
	font-size: 1.4rem;
	text-transform: uppercase;
	line-height: 100%;
	padding: 0 1rem;
}

#home_contact #home_contact_submit svg {
	width: 5rem;
	margin-top: 1rem;
}

#home_contact #enter_details_text {
	margin-top: 2rem;
	color: #808080;
	font-size: 1.5rem;
}

#home_contact #follow_lakshya {
	color: #808080;
	font-weight: 700;
	font-size: 1.5rem;
}

#home_contact #home_contact_submit_mobile {
	padding: 1rem 6rem;
	font-size: 1.8rem;
	margin-top: 2rem;
}


/* Hackathon home page */
#hackathon_home {

}

#hackathon_hero {
	height: 51.2rem;
	background: url('../newimg/hero_hackathon.png');
	background-size: cover;
	background-position: center center;	
	text-align: center;
}

#hackathon_hero #hackathon_logo {
	margin: 8rem 0 3rem;
	width: 16rem;
}

#hackathon_hero #hackathon_hero_content_container {
	padding: 3rem 6rem;
	background: #2f2f2f;
	color: #fff;
	max-width: 60rem;
	margin: 0 auto;
}

#hackathon_hero #hackathon_hero_content_container #hackathon_hero_heading {
	color: #e31b4a;	
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.6rem;
}

#hackathon_hero #hackathon_hero_content_container p {

}

#hackathon_upcoming_container {
	background: #f3f3f3;
	padding: 4rem 0;
	text-align: center;
}

#hackathon_upcoming p.title {
	font-weight: 300;
	font-size: 4.5rem;
	text-transform: uppercase;
	color: #e31b4a;
}

#hackathon_upcoming div.column {
	padding: 0 3rem;
	margin-bottom: 5rem;
}

#hackathon_upcoming p.heading {
	color: #9f9f9f;
}

#hackathon_upcoming img.participate_icon {
	width: 4.5rem;
	margin-bottom: 1rem;
}

#hackathon_upcoming p.participate_text {
	font-size: 1.5rem;
	line-height: 1.8;
	margin-bottom: 1.5rem;
}

#hackathon_stats {
	padding: 4rem 0;
	text-align: center;
}

#hackathon_stats .hackathon_stat {
	text-align: center;
}

#hackathon_stats p.hackathon_stat_number {
	color: #e31b4a;
	font-size: 10rem;
	font-weight: 300;
	margin-bottom: -1rem;
}

#hackathon_stats div.column {
	margin-bottom: 4rem;
}

#hackathon_history_container {
	background: #f9f9f9;
}

#hackathon_history {
	padding: 6rem 0;
	text-align: center;
}

#hackathon_history p.heading {
	margin-bottom: 3rem;
}

#hackathon_history select {
	height: 5.1rem;
	max-width: 36.6rem;
	width: 70%;
	font-size: 1.6rem !important;
	display: inline-block;
	vertical-align: bottom;
}

#hackathon_history a.cta.hackathon {
	background: #a1a1a1;
	display: inline-block;
	padding: 0;
	vertical-align: bottom;
	margin-left: -5px;
}

#hackathon_history a.cta.hackathon svg {
	height: 5.1rem;

}

#hackathon_history #hackathon_dropdown_container {
	margin: 0 auto;
}

#hackathon_testimonial {
	text-align: center;
	padding: 6.7rem 0;
}

#hackathon_testimonial #hackathon_testimonial_text {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 2.2;
	padding: 0 3rem;
}

#hackathon_testimonial #hackathon_testimonial_picture {
	width: 8rem;
	border-radius: 100%;
	margin-top: 2rem;
}

#hackathon_testimonial #hackathon_testimonial_name {
	margin: 2rem 0 0.8rem;
	font-weight: 700;
}

#hackathon_testimonial #hackathon_testimonial_designation {
	font-style: italic;
}

#hackathon_mentorship_container {
	border-top: 2px solid #e31b4a;
	padding: 4.2rem 0;
	background: #f9f9f9;
}

#hackathon_mentorship {
	text-align: center;
}

#hackathon_mentorship a.cta.hackathon {
	text-align: center;
	margin-top: 1.6rem;
	margin-bottom: 3.2rem;
}

#hackathon_mentorship p.subheading {
	text-transform: uppercase;
	margin-bottom: 2.8rem;
}

#hackathon_mentorship div.mentor table {
	margin: 0 auto;
}

#hackathon_mentorship div.mentor p.mentor_name {
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 0;
}

#hackathon_mentorship p.heading {
	color: #e31b4a;
}

#hackathon_mentorship p {
	padding: 0 3rem;
}

#hackathon_sponsorship_container {
	border-top: 2px solid #e31b4a;
	padding: 4.2rem 0;
	background: #f9f9f9;
}

#hackathon_sponsorship {
	text-align: center;
}

#hackathon_sponsorship a.cta.hackathon {
	text-align: center;
	margin-top: 1.6rem;
	margin-bottom: 3.2rem;
}

#hackathon_sponsorship p.subheading {
	text-transform: uppercase;
	margin-bottom: 2.8rem;
}

#hackathon_sponsorship p.heading {
	color: #e31b4a;
}

#hackathon_sponsorship div.column {
	margin-bottom: 3rem;
}

#hackathon_sponsorship p {
	padding: 0 3rem;
}

@media only screen and (max-width: 25em) { /* Small */
	#hackathon_upcoming p.title {
		font-size: 3rem;
	}
}


/* Hackathon detail page */
#hackathon_detail {

}

#hackathon_detail_hero {
	height: 51.2rem;
	background: url('../newimg/hero_hackathon.png');
	background-size: cover;
	background-position: center center;	
}

#hackathon_detail_hero div.content {
	position: relative;
	height: 100%;
}

#hackathon_detail #hackathon_detail_hero_content_container {
	position: absolute;
	bottom: 0;
	color: #fff;
}

#hackathon_detail #hackathon_detail_hero #hackathon_date {
	background: #2f2f2f;
	border: 1px solid #fff;
	padding: 0.5rem 2rem;
	display: inline-block;
	margin: 0;
	position: relative;
	top: 1rem;
}

#hackathon_detail #hackathon_detail_hero #hackathon_name {
	background: #e31b4a;
	font-size: 3.5rem;
	font-weight: 300;
	text-transform: uppercase;
	padding: 1rem 5rem;
	margin: 0;
}

#hackathon_detail_stats_container {
	background: #f3f3f3;
	padding: 4rem 0;
	border-bottom: 2px solid #e31b4a;
}

#hackathon_detail_stats {
	padding: 4rem 0;
	text-align: center;
}

#hackathon_detail_stats .hackathon_stat {
	text-align: center;
}

#hackathon_detail_stats p.hackathon_stat_number {
	color: #e77688;
	font-size: 10rem;
	font-weight: 300;
	margin-bottom: -1rem;
}

#hackathon_detail_stats div.column {
	margin-bottom: 4rem;
}

#hackathon_detail #hackathon_detail_download {
	text-transform: none;
}

#hackathon_problem_statements {
	padding: 4rem 0;
	text-align: center;
}

#hackathon_problem_statements table {
	margin: 2rem auto 0;
}

#hackathon_problem_statements table td {
	padding: 1.5rem 3rem;
	border-bottom: 1px solid #ccc;
	font-size: 1.5rem;
	color: #4c4c4c;
	line-height: 1.2;
}

@media only screen and (max-width: 25em) { /* Small */
	#hackathon_problem_statements table td {
		padding: 1.5rem 1rem;
	}
}

#hackathon_gallery_container {
	background: #f3f3f3;
	padding: 4rem 0;
}

#hackathon_gallery {
	text-align: center;
}

#hackathon_mentors {
	padding: 4rem 0;
	text-align: center;
}

#hackathon_mentors div.mentor table {
	margin: 2rem auto 0;
}

#hackathon_mentors div.mentor p.mentor_name {
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 0;
}

#hackathon_sponsors_container {
	padding: 4rem 0;
}

#hackathon_sponsors {
	text-align: center;
}

#hackathon_sponsors p.heading {
	margin-bottom: 3rem;
}

#hackathon_sponsors div.column {
	margin-bottom: 3rem;
}

/* IG Home page */
#ig_home {
	padding-top: 42.3rem;
}

#ig_hero {
	height: 51.2rem;
	background: url('../newimg/hero_ig.png');
	background-size: cover;
	background-position: center center;		
	border-bottom: 3px solid #f75b22;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#ig_hero .content {
	position: relative;
	height: 100%;
}

#ig_hero_content {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#ig_hero_content #hero_heading {
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

#ig_hero .ig_stat {
	text-align: center;
}

#ig_hero p.ig_stat_number {
	color: #f75b22;
	font-size: 10rem;
	font-weight: 300;
	margin-bottom: -1rem;
}

#ig_hero p.ig_stat_text {
	color: #f75b22;
}

#ig_home #ig_sponsors_container {
	background: #30302f;
	padding: 4rem 0 1rem;
}

#ig_home #ig_sponsors div.column {
	text-align: center;
	margin-bottom: 3rem;
}

#ig_home #ig_sponsors img {
	width: 15rem;
}

#ig_home #ig_sponsors a.cta {
	background: #747474;
	padding: 1.5rem 3rem;
	font-weight: 700;
}

#ig_home #ig_projects {
	text-align: center;
	margin: 4rem auto 0;
}

div.ig_project_snipper p.heading {
	padding-bottom: 2rem;
	border-bottom: 1px solid #f75b22;
	margin-bottom: 2rem;
}

div.ig_project_snippet {
	width: 31rem;
	height: 31rem;
	margin: 0 auto 3rem;
	position: relative;
	background-position: cover;
	background-position: center center;
	cursor: pointer;
}

div.ig_project_snippet p.ig_project_name {
	color: #fff;
	text-align: center;
	line-height: 4;
	background: #30302f;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
}

div.ig_project_snippet:hover p.ig_project_name {
	background: #4c4c4c;
}

div.ig_project_snippet.view_all_content {
	background: #30302f;
	padding-top: 12rem;
	text-align: left;
}

div.ig_project_snippet.view_all_content p {
	background: #f75b22;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5rem;
	padding: 0.5rem;
	text-align: left;
	max-width: 50%;
	display: inline-block;
	margin-bottom: 0.3rem;
	margin-left: 10rem;
}

#ig_home #ig_explore {
	background: url('../newimg/ig_explore_bg.png');
	padding: 2rem 0;
}

#ig_home #ig_explore div.column {
	text-align: center;
}

#ig_home #ig_explore_text {
	color: #fff;
	font-size: 2.5rem;
	max-width: 30rem;
	margin: 0 auto;
}

#ig_home #ig_explore a.cta {
	display: inline-block;
	margin: 1.5rem auto 0;

}

#ig_home #ig_notes {
	padding: 5rem 0 0;
}

#ig_home #ig_notes div.column {
	padding: 1rem 3rem;
	margin-bottom: 4rem;
}

#ig_home #ig_notes #ig_google_calendar {
	min-height: 25rem;
}

#ig_testimonial {
	text-align: center;
	margin-bottom: 5rem;
}

#ig_testimonial #ig_testimonial_text {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 2.2;
	padding: 0 3rem;
}

#ig_testimonial #ig_testimonial_picture {
	width: 8rem;
	border-radius: 100%;
	margin-top: 2rem;
}

#ig_testimonial #ig_testimonial_name {
	margin: 2rem 0 0;
	font-weight: 700;
}

#ig_testimonial #ig_testimonial_designation {
	font-style: italic;
}

#ig_home #ig_map {
	width: 100%;
	height: 300px;
	margin-bottom: 4rem;
}


/* IG listing page */
#ig_list {
	text-align: center;
}

#ig_list p.heading {
	margin-bottom: 5rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #f75b22;
}

#ig_list a.cta {
	margin: 3rem 0;
}