#u774-4,#u760-4,#u751-4,#u769-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u780-2,#u780-3,#u782-2,#u782-3
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u780-5,#u780-7,#u780-8,#u780-10,#u780-12,#u780-13,#u780-15,#u780-17,#u780-18,#u780-20,#u780-22,#u780-23,#u780-25,#u780-27,#u780-29,#u780-31,#u780-33,#u780-35,#u780-37,#u780-38,#u780-40,#u780-42,#u780-43,#u780-45,#u780-47,#u780-48,#u780-50,#u780-52,#u782-5,#u782-7,#u782-8,#u782-10,#u782-12,#u782-13,#u782-15,#u782-17,#u782-18,#u782-20,#u782-22,#u782-23,#u782-25,#u782-27
{
	font-family: source-sans-pro-n3, sans-serif;
}

