.version.index /* version checker */
{
	color: #000011;
	background-color: #35EA63;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 611px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -848px;
}

#top
{
	left: -51px;
}

#u74
{
	z-index: 76;
	width: 271px;
	top: 0px;
	left: 50%;
	margin-left: -503px;
}

#u178
{
	z-index: 115;
	top: 17px;
	left: 50%;
	margin-left: 179px;
}

#u178_states
{
	height: 51px;
	width: 292px;
}

#pu176
{
	width: 0.01px;
	padding-bottom: 51px;
	margin-left: 241px;
	margin-top: 4px;
}

#u176
{
	z-index: 109;
	width: 2px;
	height: 51px;
	top: 22px;
	left: 50%;
	margin-left: -239px;
}

#u177-4
{
	z-index: 110;
	top: 34px;
	left: 50%;
	margin-left: -218px;
}

#u80
{
	z-index: 2;
	height: 457px;
	top: 88px;
}

#u80-bw
{
	z-index: 2;
}

#u369
{
	z-index: 32;
	height: 457px;
	top: 88px;
}

#u369-bw
{
	z-index: 32;
}

#u250
{
	z-index: 3;
	height: 457px;
	top: 88px;
}

#u250-bw
{
	z-index: 3;
}

#u423
{
	z-index: 33;
	width: 373px;
	height: 457px;
	top: 88px;
	left: 50%;
	margin-left: -181px;
}

#u279-4
{
	z-index: 24;
	top: 119px;
	left: 50%;
	margin-left: -147px;
}

#u368-4
{
	z-index: 34;
	top: 119px;
	left: 50%;
	margin-left: -147px;
}

#u86
{
	z-index: 117;
	width: 574px;
	top: 120px;
	left: 50%;
	margin-left: -94px;
}

#u375-4
{
	z-index: 38;
	top: 126px;
	left: 50%;
	margin-left: -400px;
}

#u378-4
{
	z-index: 46;
	top: 126px;
	left: 50%;
	margin-left: 304px;
}

#pamphletu118
{
	z-index: 78;
	width: 0.01px;
	height: 290px;
	margin-left: 8px;
	margin-top: 76px;
}

#u125
{
	z-index: 79;
	width: 344px;
	padding-bottom: 290px;
	margin-right: -10000px;
}

#u130
{
	width: 344px;
	padding-bottom: 13px;
	top: 149px;
	left: 50%;
	margin-left: -472px;
}

#u130:hover
{
	margin: 0px 0px 0px -472px;
}

#u130:active
{
	margin: 0px 0px 0px -472px;
}

#u170
{
	z-index: 82;
	height: 53px;
	width: 326px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u158
{
	width: 344px;
	padding-bottom: 12px;
	top: 257px;
	left: 50%;
	margin-left: -472px;
}

#u130.PamphletThumbSelected,#u158:hover
{
	margin: 0px 0px 0px -472px;
}

#u158:active
{
	margin: 0px 0px 0px -472px;
}

#u181
{
	z-index: 88;
	height: 53px;
	width: 326px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#u164
{
	width: 344px;
	padding-bottom: 11px;
	top: 363px;
	left: 50%;
	margin-left: -472px;
}

#u158.PamphletThumbSelected,#u164:hover
{
	margin: 0px 0px 0px -472px;
}

#u164:active
{
	margin: 0px 0px 0px -472px;
}

#u164.PamphletThumbSelected
{
	margin: 0px 0px 0px -472px;
}

#u182
{
	z-index: 94;
	height: 53px;
	width: 326px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u132popup
{
	z-index: 98;
}

#u132
{
	width: 536px;
	top: 137px;
	left: 564px;
}

#u141
{
	z-index: 99;
	width: 536px;
	height: 313px;
	margin-right: -10000px;
}

#u160
{
	z-index: 100;
	width: 536px;
	height: 313px;
	margin-right: -10000px;
}

#u165
{
	z-index: 101;
	width: 536px;
	height: 313px;
	margin-right: -10000px;
}

#u439
{
	z-index: 102;
	width: 536px;
	margin-right: -10000px;
}

#u445
{
	z-index: 104;
	width: 101px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 291px;
}

#u265-20
{
	z-index: 4;
	top: 136px;
	left: 50%;
	margin-left: -472px;
}

#u93
{
	z-index: 119;
	width: 574px;
	top: 141px;
	left: 50%;
	margin-left: -94px;
}

#u377-4
{
	z-index: 42;
	top: 187px;
	left: 50%;
	margin-left: -48px;
}

#u384-4
{
	z-index: 62;
	width: 266px;
	min-height: 55px;
	top: 257px;
	left: 50%;
	margin-left: -475px;
}

#u386-4
{
	z-index: 70;
	width: 266px;
	min-height: 55px;
	top: 257px;
	left: 50%;
	margin-left: 223px;
}

#phase1
{
	left: -62px;
	top: -177px;
	margin-bottom: -18px;
}

#u379-4
{
	z-index: 50;
	width: 266px;
	min-height: 177px;
	top: 300px;
	left: 50%;
	margin-left: -475px;
}

#u383-4
{
	z-index: 58;
	width: 266px;
	min-height: 177px;
	top: 300px;
	left: 50%;
	margin-left: 223px;
}

#u451
{
	z-index: 133;
	width: 200px;
	min-height: 200px;
	margin-left: 286px;
	top: -134px;
	margin-bottom: -134px;
}

#pu429
{
	width: 0.01px;
	padding-bottom: 220px;
	margin-left: 93px;
	margin-top: -189px;
}

#u429
{
	z-index: 74;
	width: 87px;
	height: 71px;
	top: 458px;
	left: 50%;
	margin-left: -387px;
}

#u429:hover
{
	margin: 0px 0px 0px -387px;
}

#u425
{
	z-index: 29;
	width: 87px;
	height: 71px;
	top: 458px;
	left: 50%;
	margin-left: -386px;
}

#u425:hover
{
	margin: 0px 0px 0px -386px;
}

#u319
{
	z-index: 121;
	width: 87px;
	height: 71px;
	top: 458px;
	left: 50%;
	margin-left: -338px;
}

#u319:hover
{
	margin: 0px 0px 0px -338px;
}

#u431
{
	z-index: 75;
	width: 87px;
	height: 71px;
	top: 458px;
	left: 50%;
	margin-left: -315px;
}

#u431:hover
{
	margin: 0px 0px 0px -315px;
}

#u424
{
	z-index: 28;
	width: 87px;
	height: 71px;
	top: 458px;
	left: 50%;
	margin-left: -298px;
}

#u424:hover
{
	margin: 0px 0px 0px -298px;
}

#u385-4
{
	z-index: 66;
	width: 266px;
	min-height: 55px;
	top: 317px;
	left: 50%;
	margin-left: -126px;
}

#u382-4
{
	z-index: 54;
	width: 266px;
	min-height: 177px;
	top: 360px;
	left: 50%;
	margin-left: -129px;
}

#u415
{
	z-index: 132;
	width: 70px;
	min-height: 70px;
	margin-left: 354px;
}

#pu289
{
	width: 0.01px;
	padding-bottom: 115px;
	margin-left: -15px;
	margin-top: -52px;
}

#u289
{
	z-index: 127;
	width: 89px;
	top: 590px;
	left: 50%;
	margin-left: -495px;
}

#u289:hover
{
	margin: 0px 0px 0px -495px;
}

#u289_img
{
	padding-right: 1px;
}

#u287-4
{
	z-index: 123;
	width: 215px;
	min-height: 28px;
	top: 555px;
	left: 50%;
	margin-left: -475px;
}

#u301
{
	z-index: 129;
	width: 83px;
	height: 74px;
	top: 594px;
	left: 50%;
	margin-left: -394px;
}

#u301:hover
{
	margin: 0px 0px 0px -394px;
}

#u544
{
	z-index: 131;
	width: 163px;
	height: 76px;
	top: 577px;
	left: 50%;
	margin-left: -107px;
}

#u544:hover
{
	margin: 0px 0px 0px -107px;
}

#u533
{
	z-index: 130;
	width: 150px;
	height: 52px;
	top: 601px;
	left: 50%;
	margin-left: -287px;
}

#u533:hover
{
	margin: 0px 0px 0px -287px;
}

#u171-3
{
	z-index: 106;
	width: 5px;
	margin-left: 486px;
	top: -31px;
	margin-bottom: -17px;
}

#phase2
{
	left: -22px;
	margin-top: 771px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 1464px;
}

