#u178
{
	position: fixed;
	background: url("../images/u178_states.png") no-repeat 0px 0px;
}

#u178_states
{
	vertical-align: top;
}

#u178:hover #u178_states
{
	background: url("../images/u178_states-r.png") no-repeat 0px 0px;
}

#u176
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.26;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=26)";
	filter: alpha(opacity=26);
	position: fixed;
}

#u80
{
	border-color: #000000;
	position: fixed;
	background: #FFFFFF url("../images/bg.png") repeat center center;
}

#u369
{
	border-color: #000000;
	background-color: #46B389;
	position: fixed;
}

#u250
{
	border-color: #000000;
	background-color: #DFAE50;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: fixed;
}

#u423
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
	position: fixed;
}

#u130
{
	border-color: #C4C4C4;
	background-color: #000000;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: fixed;
}

#u130:hover
{
	border-color: #6B6B6B;
	background-color: #000000;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
}

#u130:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
}

#u170
{
	vertical-align: top;
	position: relative;
	background: url("../images/u170.png") no-repeat 0px 0px;
}

#u130:hover #u170
{
	background: url("../images/u170-r.png") no-repeat 0px 0px;
}

#u130:active #u170
{
	background: url("../images/u170-m.png") no-repeat 0px 0px;
}

#u130.PamphletThumbSelected #u170
{
	background: url("../images/u170-a.png") no-repeat 0px 0px;
}

#u158
{
	border-color: #C4C4C4;
	background-color: #000000;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: fixed;
}

#u158:hover
{
	border-color: #6B6B6B;
	background-color: #000000;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
}

#u158:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
}

#u181
{
	vertical-align: top;
	position: relative;
	background: url("../images/u181.png") no-repeat 0px 0px;
}

#u158:hover #u181
{
	background: url("../images/u181-r.png") no-repeat 0px 0px;
}

#u158:active #u181
{
	background: url("../images/u181-m.png") no-repeat 0px 0px;
}

#u158.PamphletThumbSelected #u181
{
	background: url("../images/u181-a.png") no-repeat 0px 0px;
}

#u164
{
	border-color: #C4C4C4;
	background-color: #000000;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: fixed;
}

#u164:hover
{
	border-color: #6B6B6B;
	background-color: #000000;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
}

#u164:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
}

#u130.PamphletThumbSelected,#u158.PamphletThumbSelected,#u164.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

#u182
{
	vertical-align: top;
	position: relative;
	background: url("../images/u182.png") no-repeat 0px 0px;
}

#u164:hover #u182
{
	background: url("../images/u182-r.png") no-repeat 0px 0px;
}

#u164:active #u182
{
	background: url("../images/u182-m.png") no-repeat 0px 0px;
}

#u164.PamphletThumbSelected #u182
{
	background: url("../images/u182-a.png") no-repeat 0px 0px;
}

#u141
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #7F7F7F url("../images/what.jpg") no-repeat center center;
	background-size: cover;
}

#u160
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #7F7F7F url("../images/when.jpg") no-repeat center center;
	background-size: cover;
}

#u165
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u439
{
	background-color: #ED1C24;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u74,#u86,#u132,#u93
{
	position: fixed;
}

#u177-4,#u279-4,#u368-4,#u375-4,#u378-4,#u265-20,#u377-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u429
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-webkit-transform: matrix(-1,0,0,-1,87,71);
	-ms-transform: matrix(-1,0,0,-1,87,71);
	-o-transform: matrix(-1,0,0,-1,87,71);
	transform: matrix(-1,0,0,-1,87,71);
	position: fixed;
	background: transparent url("../images/downarrow-0.png") no-repeat left top;
	background-size: contain;
}

#u425
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-webkit-transform: matrix(-1,0,0,-1,87,71);
	-ms-transform: matrix(-1,0,0,-1,87,71);
	-o-transform: matrix(-1,0,0,-1,87,71);
	transform: matrix(-1,0,0,-1,87,71);
	position: fixed;
	background: transparent url("../images/downarrow-0.png") no-repeat left top;
	background-size: contain;
}

#u319
{
	position: fixed;
	background: transparent url("../images/downarrow-0.png") no-repeat left top;
	background-size: contain;
}

#u431
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-webkit-transform: matrix(-1,0,0,-1,87,71);
	-ms-transform: matrix(-1,0,0,-1,87,71);
	-o-transform: matrix(-1,0,0,-1,87,71);
	transform: matrix(-1,0,0,-1,87,71);
	position: fixed;
	background: transparent url("../images/downarrow-0.png") no-repeat left top;
	background-size: contain;
}

#u424
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: fixed;
	background: transparent url("../images/downarrow-0.png") no-repeat left top;
	background-size: contain;
}

#u429:hover,#u425:hover,#u319:hover,#u431:hover,#u424:hover
{
	background: transparent url("../images/downarrow.png") no-repeat left top;
	background-size: contain;
}

#u384-4,#u386-4,#u385-4
{
	line-height: 28px;
	color: #FFFFFF;
	font-size: 23px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: fixed;
}

#u379-4,#u383-4,#u382-4
{
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: fixed;
}

.js #u369.ose_pre_init,.js #u250.ose_pre_init,.js #u423.ose_pre_init,.js #u279-4.ose_pre_init,.js #u368-4.ose_pre_init,.js #u375-4.ose_pre_init,.js #u378-4.ose_pre_init,.js #u265-20.ose_pre_init,.js #u377-4.ose_pre_init,.js #u384-4.ose_pre_init,.js #u386-4.ose_pre_init,.js #u379-4.ose_pre_init,.js #u383-4.ose_pre_init,.js #u429.ose_pre_init,.js #u425.ose_pre_init,.js #u431.ose_pre_init,.js #u424.ose_pre_init,.js #u385-4.ose_pre_init,.js #u382-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u451,#u415
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u289
{
	background-color: transparent;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	position: fixed;
}

.js #u86.ose_pre_init,.js #u130.ose_pre_init,.js #u158.ose_pre_init,.js #u164.ose_pre_init,.js #u141.ose_pre_init,.js #u160.ose_pre_init,.js #u165.ose_pre_init,.js #u93.ose_pre_init,.js #u319.ose_pre_init,#u289:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u287-4
{
	line-height: 25px;
	color: #333333;
	font-size: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
	position: fixed;
}

#u301
{
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	position: fixed;
	background: transparent url("../images/lakshya-0.png") no-repeat left top;
	background-size: contain;
}

#u301:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/lakshya-1.png") no-repeat left top;
	background-size: contain;
}

#u544
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: fixed;
	background: transparent url("../images/emertxe-1.png") no-repeat left top;
	background-size: contain;
}

#u544:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/emertxe-layer%200.png") no-repeat left top;
	background-size: contain;
}

#u533
{
	position: fixed;
	background: transparent url("../images/almabase-1.png") no-repeat left top;
	background-size: contain;
}

#u533:hover
{
	background: transparent url("../images/almabase-0.png") no-repeat left top;
	background-size: contain;
}

#top,#pamphletu118,#u125,#u445,#phase1,#u171-3,#phase2
{
	position: relative;
}

