#u491
{
	position: fixed;
}

#u493
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.26;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=26)";
	filter: alpha(opacity=26);
	position: fixed;
}

#u494-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u488
{
	border-color: #000000;
	background-color: #7F7F7F;
}

