.version.register /* version checker */
{
	color: #00001D;
	background-color: #C60825;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 22px;
	padding-bottom: 393px;
}

#u491
{
	z-index: 3;
	width: 271px;
	top: 0px;
	left: 50%;
	margin-left: -503px;
}

#u493
{
	z-index: 5;
	width: 2px;
	height: 51px;
	top: 22px;
	left: 50%;
	margin-left: -239px;
}

#ppu529
{
	width: 0.01px;
	padding-bottom: 53px;
	margin-left: 556px;
}

#u529
{
	z-index: 11;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 76px;
	background: url("../images/u529_states.png") no-repeat 0px 0px;
}

#u529_states
{
	height: 51px;
	width: 260px;
	vertical-align: top;
}

#u529:hover #u529_states
{
	background: url("../images/u529_states-r.png") no-repeat 0px 0px;
}

#u530
{
	z-index: 14;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: 351px;
	background: url("../images/u530_states.png") no-repeat 0px 0px;
}

#u530_states
{
	height: 51px;
	width: 196px;
	vertical-align: top;
}

#u530:hover #u530_states
{
	background: url("../images/u530_states-r.png") no-repeat 0px 0px;
}

#u494-4
{
	z-index: 6;
	top: 34px;
	left: 50%;
	margin-left: -218px;
}

#u488
{
	z-index: 2;
	height: 1px;
}

#u488-bw
{
	z-index: 2;
	margin-top: 31px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

