{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>About Lakshya</h2>
	<div class="content_div">
		<p>asfasdf sadf  sadfsad f sad f sad f sadf sa df sda fs adf sa df sad fs afsd fsadf sd f saf asd f
			sadfsadfsadfsadfsdaf sd f sa f sadf a sf  asfd s af s da fs d f sd f sd f sd f </p>
		<p>asfasdf sadf  sadfsad f sad f sad f sadf sa df sda fs adf sa df sad fs afsd fsadf sd f saf asd f
			sadfsadfsadfsadfsdaf sd f sa f sadf a sf  asfd s af s da fs d f sd f sd f sd f </p>
		<div>
			<div class="project_gist left" >
				<img src="{{STATIC_URL}}/img/temp_img.jpg" />
				<a href=""><h3>Innovation Project</h3></a>
				<p>asdfasdf asd f saf sa df as fd <br>safd sadf sad fasd fsa df sa fasfd sdfa df</p>
			</div>
			<div class="project_gist left" >
				<img src="{{STATIC_URL}}/img/temp_img.jpg" />
				<a href=""><h3>Scholarship Project</h3></a>
				<p>asdfasdf asd f saf sa df as fd <br>safd sadf sad fasd fsa df sa fasfd sdfa df</p>
			</div>
			<div class="project_gist left" >
				<img src="{{STATIC_URL}}/img/temp_img.jpg" />
				<a href=""><h3>Asthra</h3></a>
				<p>asdfasdf asd f saf sa df as fd <br>safd sadf sad fasd fsa df sa fasfd sdfa df</p>
			</div>			
		</div>			
		<h3 class="cB">Vision</h3>
		<p>asfasdf sadf  sadfsad f sad f sad f sadf sa df sda fs adf sa df sad fs afsd fsadf sd f saf asd f
			sadfsadfsadfsadfsdaf sd f sa f sadf a sf  asfd s af s da fs d f sd f sd f sd f </p>		
		<h3>Mission</h3>
		<p>asfasdf sadf  sadfsad f sad f sad f sadf sa df sda fs adf sa df sad fs afsd fsadf sd f saf asd f
			sadfsadfsadfsadfsdaf sd f sa f sadf a sf  asfd s af s da fs d f sd f sd f sd f </p>	
		<h3>Core Values</h3>
		<p>asfasdf sadf  sadfsad f sad f sad f sadf sa df sda fs adf sa df sad fs afsd fsadf sd f saf asd f
			sadfsadfsadfsadfsdaf sd f sa f sadf a sf  asfd s af s da fs d f sd f sd f sd f </p>	
		<ul>
			<li>asdfasdf ads f ad f asd f a sfd a dsf a fd a sdf sad f sa df s adf sd</li>
			<li>asdfasdf ads f ad f asd f a sfd a dsf a fd a sdf sad f sa df s adf sd</li>
			<li>asdfasdf ads f ad f asd f a sfd a dsf a fd a sdf sad f sa df s adf sd</li>
		</ul>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li>About Lakshya</li>
		<li><a href="/team">Team</a></li>
	</ul>
</div>
{% endblock content %}