{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>About Lakshya</h2>
	<div class="content_div">
		<p>Lakshya creates the institute-alumni connect through an active and dedicated team. Our aims and objectives have matured over time to enable us to have a deeper and sustainable impact.</p>
		<div class="project_gist_list">
			<a href="/innovation/home">
				<div class="project_gist left" >
					<img src="{{STATIC_URL}}/img/temp_img.jpg" />
					<h3>Innovation Project</h3>
					<p>Create ecosystem of innovation, research and entrepreneurship at NIT Warangal</p>
				</div>
			</a>
			<a href="/scholarships/home">			
				<div class="project_gist left" >
					<img src="{{STATIC_URL}}/img/temp_img.jpg" />
					<h3>Scholarship Project</h3>
					<p>Develop campus administration and infrastructure to support institute development<br/><br/></p>
				</div>
			</a>
			<a href="/pilot-projects">			
				<div class="project_gist left" >
					<img src="{{STATIC_URL}}/img/temp_img.jpg" />
					<h3>Pilot Projects</h3>
					<p>Some of the pilot projects under taken by Lakshya</p>
				</div>			
			</a>
		</div>			
		<h3 class="cB"></h3>
		<p></p>		
		<h3>Mission</h3>
		<p>Our mission is to enable NIT Warangal to efficiently develop an ecosystem of research, innovation and positive change through the collaboration of students, faculty and alumni.</p>
		<h3>Core Values</h3>
		<p>These are our guiding principles. Every time we have a difficult decision to make, we come here.</p>	
		<ul> 
			<li><b>Transparency - Nothing to hide, nothing to fear</b><br/>We want you to nurture our work, while also seeing where exactly your contributions are being utilized. Transparency, both in funds and activities, keeps us on the right track.</li><br/>
			<li><b>Synergy - Everyone has something to contribute</b><br/>While the alumni contribute immensely with their experience, the system at NIT Warangal is built around students and faculty and is run by the administration. Creating this synergy is not a way, but the only way to form a holistic sustainable approach to achieve our shared vision of a better NIT Warangal.</li><br/>
			<li><b>Technology - is key</b><br/>At the heart of our effort is making a point - technology can solve problems, create wealth and make life easier. Institutions like NIT Warangal need to breed technology, become hotbeds for cutting edge research and innovation. We do not use technology to assist us, technology forms the core of our work.</li><br/>

		</ul>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li>About Lakshya</li>
		<li><a href="/team">Team</a></li>
	</ul>
</div>


{% endblock content %}
