{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>About Asthra</h2>
	<div class="content_div">
		<h3>Vision</h3>
		<div class="q_and_a">
			<p class="question">Q) asfdasdfasf asd fsa df asf sa df as f asf sadf asd f ?</p>
			<p class="answer">A) asfdasdfasf asd fsa df asf sa df as f asf sadf asd fasdfsadfsadf adfadsfsadff
				sadfsadfsadf sadf as df sadf a sdf as df as f safd  SFD AS DF SADF</p>
			<p class="question">Q) asfdasdfasf asd fsa df asf sa df as f asf sadf asd f ?</p>
			<p class="answer">A) asfdasdfasf asd fsa df asf sa df as f asf sadf asd fasdfsadfsadf adfadsfsadff
				sadfsadfsadf sadf as df sadf a sdf as df as f safd  SFD AS DF SADF</p>
		</div>
		<h3>Selection Process</h3>
		<div class="q_and_a">
			<p class="question">Q) asfdasdfasf asd fsa df asf sa df as f asf sadf asd f ?</p>
			<p class="answer">A) asfdasdfasf asd fsa df asf sa df as f asf sadf asd fasdfsadfsadf adfadsfsadff
				sadfsadfsadf sadf as df sadf a sdf as df as f safd  SFD AS DF SADF</p>
			<p class="question">Q) asfdasdfasf asd fsa df asf sa df as f asf sadf asd f ?</p>
			<p class="answer">A) asfdasdfasf asd fsa df asf sa df as f asf sadf asd fasdfsadfsadf adfadsfsadff
				sadfsadfsadf sadf as df sadf a sdf as df as f safd  SFD AS DF SADF</p>
		</div>
		<h3>Support System</h3>
		<div class="q_and_a">
			<p class="question">Q) asfdasdfasf asd fsa df asf sa df as f asf sadf asd f ?</p>
			<p class="answer">A) asfdasdfasf asd fsa df asf sa df as f asf sadf asd fasdfsadfsadf adfadsfsadff
				sadfsadfsadf sadf as df sadf a sdf as df as f safd  SFD AS DF SADF</p>
			<p class="question">Q) asfdasdfasf asd fsa df asf sa df as f asf sadf asd f ?</p>
			<p class="answer">A) asfdasdfasf asd fsa df asf sa df as f asf sadf asd fasdfsadfsadf adfadsfsadff
				sadfsadfsadf sadf as df sadf a sdf as df as f safd  SFD AS DF SADF</p>
			<p class="answer">asfdasdfasf asd fsa df asf sa df as f asf sadf asd fasdfsadfsadf adfadsfsadff
				sadfsadfsadf sadf as df sadf a sdf as df as f safd  SFD AS DF SADF</p>		
		</div>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Asthra</h3>
	<ul>
		<li><a href="/asthra/">Asthra Home</a></li>
		<li>About Asthra</li>
	</ul>
</div>
{% endblock content %}