{% extends "base.html" %}

{% block title %}
<title>About Internship Funding - Lakshya</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{%block header_slide%}
	<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/headers/projects.png" width="990" height="420" alt="Team"></a>
{%endblock header_slide%}

{% block content %}
<div class = "content_with_page_title left">
		<div id="blockquote_div">
			<blockquote> "The only source of knowledge is experience."</h3><p>-Albert Einstein</p></blockquote>
		</div> 	
	<h2>About Internship Funding</h2>
	<div class="content_div">
		<div class="q_and_a">

			<p class="question">Why should I sponsor a student's internship program?</p>
			<p class="answer">Internships are a proven way to gain relevant knowledge, skills, and experience while building an important network of experts in the field. It makes the classroom’s theories and teaching more relevant and incrases retention through practical research and real-world applications. Not every university offering an internship will provide a stipend which is immensely necessary for students to sustain themselves during the internhip period.</p>

			<p class="question">How will it impact the NITW ecosystem?</p>
			<p class="answer">
<ul>
<li><b>Confidence</b>: The financial back up will enable students to apply for prestigious universities in India and Abroad which doesn’t provide any funding. Getting an internship in these places is a challenging task for which they should have good research background and aspiring students work hard from day one to secure them and this knowledge builds great confidence to reach greater heights.</li>

<li><b>Awareness</b>: The students benefitted through this funding program conduct sessions for sophomore batches and guide them on various aspects from beginning till application for these institutes. While there were 5 applications in the year of 2013, we have received more than 15 applications for this year i.e. 2014.This clearly indicates the growing interest among the students.</li>
</p>
			<p class="question">How are the funds raised transferred to the student?</p>
			<p class="answer">A cheque is made out and given to each beneficiary. Once the donation is made, you will receive a conformation mail and a receipt which can be used to claim tax exemption.</p>
		</div>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Financial Assistance Program</h3>
	<ul>
		<li><a href="/research/home">Research Facilitator Program Home</a></li>
		<li>About Internship Funding</li>
	</ul>
</div>
{% endblock content %}
