{% extends "base.html" %}

{% block title %}
<title>About Innovation Project - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{%  block header %}
<div id="example">
	<div id="header_wrapper">

	<div style="width:990px; height:24px; background-image:url('{{STATIC_URL}}img/REC-top.png'); opacity:0.8;">
		<div id="secondary_navigation" class = "right">
		<a href="/team"> Team </a>
		<a href="/contact"> Contact Us </a>
		<a href="/"> Home </a>
	</div>
	</div>

	<div style="width:990px; height:134px; background-image:url('{{STATIC_URL}}img/nav_bg.png'); opacity:0.8;">
		<div id="primary_navigation" class = "right cR">
		<ul>
		<li><a href="#">About Us<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/about">About Lakshya</a></li>
				<li><a href="/team">Team</a></li>
			</ul>
		</li>
		<li><a href="#">Projects<span class="drop">&#9660;</span></a>
			<ul id="projects-menu">
				<li><p>Innovation, Research and Entreprenuership</p></li>
				<li><a href="/innovation/home">- Innovation Support Program</a></li>
				<li><a href="/research/home">- Research Facilitator Program</a></li>
				<li><p>Campus Enablers</p></li>
				<li><a href="/automation/home">- Administrative Process Automation</a></li>
				<li><p>Student Enablers</p></li>
				<li><a href="/scholarships/home">- Financial Assistance Program</a></li>
				<li><p>Others</p></li>
				<li><a href="/pilot-projects">- Pilot Projects</a></li>
			</ul>
		</li>
		<li><a href="#">Funds & Transparency<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/accounts/our-core-belief">Our core belief</a></li>
				<li><a href="/accounts/donations">Donations</a></li>
				<li><a href="/accounts/expenses">Expenses</a></li>
				<li><a href="/accounts/audits">Audit Statements</a></li>				
			</ul>
		</li>
		<li><a href="/donate">Donate Now</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="slides">
	<div class="slides_container" >
			<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/projects.jpg" width="990" height="420" alt="Team"></a>
	
	</div>
	</div>
	
</div>

{% endblock header%}

{% block content %}
<div class = "content_with_page_title left">
		<div id="blockquote_div">
			<blockquote> "Ideas are like rabbits. You get a couple and learn how to handle them, and pretty soon you have a dozen"</h3><p>-John Steinbeck, Nobel Laureate, Literature (1962)</p></blockquote>
		</div> 	
	<h2>About the Innovation Support Program</h2>
	<div class="content_div">
		<div class="q_and_a">
			<p class="question">What is the Innovation Support Program?</p>
			<p class="answer"><!--convey the part about going all the way to a prototype-->Each semester we select innovative ideas from students and faculty. We then work with these teams to create prototypes or technology demonstrators to validate their ideas. Depending on the field of work and its impact, we then proceed for protecting intellectual property and commercialization.</p>
			<p class="question">What is its purpose?</p>
			<p class="answer">To establish a support system that creates an atmosphere conducive to research, innovation and technology entrepreneurship in NIT Warangal.</p>
		</div>
		<h3>Selection Process</h3>
		<div class="q_and_a">
			<p class="question">How are project ideas selected?</p>
			<p class="answer">Lakshya calls for students to submit abstracts of their ideas. These are then screened and the shortlisted teams are requested to present a detailed proposal. A judges panel will then select ideas based on originality, practical application, and impact.</p>
		</div>
		<h3>Support System</h3>
		<div class="q_and_a">
				<div class="centre">
					<img src="{{STATIC_URL}}img/developmentModel.jpg" width="550px" height="380px" />
				</div>

			<p class="question">How will the Innovation Support Program create a support system?</p>
			<p class="answer">The support system is essentially a framework which give confidence to the innovator in himself, confidence in his ideas, because the gains if successful far outweigh the risks. By taking care of funding, providing access to world class mentors and to industry, we mitigate the risks and improve the chances of success.</p>
			<p class="question">Where do the funds come from?</p>
			<p class="answer">While Lakshya and NIT Warangal contribute equally for some of the projects, the remaining are funded entirely by us. Lakshya's funds come from the NIT Warangal alumni and the institute gets its funds from the Government of India.</p>
		</div>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Innovation Support Program</h3>
	<ul>
		<li><a href="/innovation/home">Innovation Support Program Home</a></li>
		<li>About Innovation Support Program</li>
		<li><a href="/innovation/innovations-list">Innovations list</a></li>
	</ul>
</div>
{% endblock content %}
