{% extends "base.html" %}

{% block title %}
<title>About Financial Assistance Project - Lakshya</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{%block header_slide%}
	<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/headers/projects.png" width="990" height="420" alt="Team"></a>
{%endblock header_slide%}

{% block content %}
<div class = "content_with_page_title left">
		<div id="blockquote_div">
			<blockquote> "Education is not an expense... it is an investment"</h3><p>-Lyndon B Johnson, Former President of the United States (1963-1969)</p></blockquote>
		</div> 	
	<h2>About Financial Assistance Program</h2>
	<div class="content_div">
		<div class="q_and_a">
			<p class="question">What is a Lakshya Scholarship?</p>
			<p class="answer">Lakshya provides loans to students who cannot afford to pay their undergraduate fee. Important points to note here are:
<ul>
<li>The loan is interest free and no collateral is required.</li>
<li>Each scholar gets five years to repay the loan. Time spent in higher education is exempt.</li>
<li>The scholarship will cover tuition and hostel fees.</li>
</ul>
</p>
			<p class="question">How do you ensure repayment?</p>
			<p class="answer">Once a scholar graduates, they deposit a minimum of Rs.100 per month in the Lakshya account. This enables to keep in touch with each scholar and ensures that their contact information is up to date. We have had a 100% repayment record so far, and scholars have expressed their desire to not only repay the amount but also willingly contributed over and above it. </p>
			<p class="question">Who is eligible for a Lakshya Scholarship?</p>
			<p class="answer">NIT Warangal undergraduate students are eligible for the scholarship. The criteria for selecting scholars are:
<ul>
<li>Need based - A student unable to pay for his/her tuition and hostel expenses will be considered.</li>
<li>Merit - If two students with similar needs are tied for the last available slot, the student with a better academic record will be chosen.</li>
</ul>
</p>
			<p class="question">What is the process followed for choosing a scholar?</p>
			<p class="answer">
<ul>
<li>Lakshya calls for applications in the first semester every year, asking candidates to fill an online application form.</li>
<li>A shortlist is created based on the information provided in the application forms.</li>
<li>Lakshya volunteers visit each shortlisted candidate's home to ascertain the level of need.</li>
<li>Based on information from the application forms and from verifiers, our team finalizes a list of scholars based on the organization's financial standing.</li>
</ul>
</p>
		</div>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Financial Assistance Program</h3>
	<ul>
		<li><a href="/scholarships/home">Financial Assistance Program Home</a></li>
		<li>About Financial Assistance Program</li>
		<li><a href="/scholarships/scholars-list/16">List of Scholars</a></li>
		<li><a href="/scholarships/funding-partners">Funding Partners</a></li>
		<li><a href="/scholarships/apply-scholarships">Apply For Scholarships</a></li>		
	</ul>
</div>
{% endblock content %}
