{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>About Lakshya</h2>
	<div class="content_div">
		<p>Lakshya bridges the alumni-insitute connect through an active and dedicated team. Our aims and objectives have matured over time to enable us to have a deeper and sustainable impact.</p>
		<div class="project_gist_list">
			<a href="/innovation/home">
				<div class="project_gist left" >
					<img src="{{STATIC_URL}}/img/temp_img.jpg" />
					<h3>Innovation Project</h3>
					<p>Crreate an ecosystem of research, innovation, and entrepreneurship in NIT Warangal</p>
				</div>
			</a>
			<a href="/scholarships/home">			
				<div class="project_gist left" >
					<img src="{{STATIC_URL}}/img/temp_img.jpg" />
					<h3>Scholarship Project</h3>
					<p>Provide financial assistance to students in need of such aid<br/><br/></p>
				</div>
			</a>
			<a href="/asthra/home">			
				<div class="project_gist left" >
					<img src="{{STATIC_URL}}/img/temp_img.jpg" />
					<h3>Asthra</h3>
					<p>Improve efficiency, transparency and accountability of the administration</p>
				</div>			
			</a>
		</div>			
<!--		<h3 class="cB">Vision</h3>
		<p>Our vision is to develop the Indian higher education system to stand alongside the best educational institutions in the world.</p>		-->
		<h3>Mission</h3>
		<p>Our mission is to enable NIT Warangal to efficiently develop an ecosystem of research and innovation while also making it accessible to all students.</p>
		<h3>Core Values</h3>
		<p>Before we began our work, we prepared a list of values to guide us. Everytime we have a difficult decision to make, we visit this list.</p>	
		<ul> 
		<!--make heading into sentence-->
		<!--trans: we are obsessed, want to be role model-->
		<!--sustain: replace with technology being core value-->
		<!--Synergy: we believe it works, it hasnt worked yet-->
			<li><b>Transparency</b><br/>We want your support to nurture our work, while also seeing where exactly your contributions are being utilized. Being transparent, both in funds and activities, keeps us on the right track - if we have nothing to hide, we have nothing to fear.</li><br/>
			<li><b>Sustainability</b><br/>We are in this for the long-haul. We work to have a lasting impact that will take us closer to our vision.</li><br/>
			<li><b>Synergy</b><br/>aaaaaaaaaaaaaaaaaa</li><br/>
		</ul>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li>About Lakshya</li>
		<li><a href="/team">Team</a></li>
	</ul>
</div>
{% endblock content %}
