{% extends "base.html" %}

{% block title %}
<title>About Internship Funding - Lakshya</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{%block header_slide%}
	<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/headers/projects.png" width="990" height="420" alt="Team"></a>
{%endblock header_slide%}

{% block content %}
<div class = "content_with_page_title left">
		<div id="blockquote_div">
			<blockquote> "The only source of knowledge is experience."</h3><p>-Albert Einstein</p></blockquote>
		</div> 	
	<h2>About Internship Funding</h2>
	<div class="content_div">
		<div class="q_and_a">

			<p class="question">Why are internship programs important?</p>
			<p class="answer">Internships are a proven way to gain relevant knowledge, skills, and experience while building an important network of experts in the field. It makes the classroom teaching more relevant and increases retention through practical research and real-world applications. More importantly, it exposes students to world class research facilities and opens up opportunities for them to pursue a career in research.</p>

			<p class="question">Are students in need of money?</p>
			<p class="answer">The aim of this program is to give students a first hand experience at world class research facilities. Students are selected based on their enthusiasm to learn and the reputation of the host university. Unlike Scholarships, which is need based, this programs rewards students who often compete with hundreds of candidates across the globe to secure an internship in a reputed university.</p>

			<p class="question">What is the selection process?</p>
			<p class="answer">
				<ul>
				<li>Stage-1: The application portal on the website will be opened in January each year and we will continue to accept applications till the end of the month.</li>
				<li>Stage-2: <a href="http://www.thelakshyafoundation.org/static/docs/RFP-FundingCriteria.pdf">Selection criteria</a> considers both qualitative and quantitative information about the student and the internship opportunity.</li>
				<li>Stage-3: Announcement of results and initiating fund-raising campaign.</li>
				</ul>
			</p>
			<p class="question">How are the funds utilized?</p>
			<p class="answer">Funds are utilized for travel (air fare, visa, local transport), food, and accommodation. Expenses depend on location and duration of the internship.</p>

			<p class="question">What is the impact?</p>
			<p class="answer">
				<ul>
					<li>
						<u>Students</u>: Several students have been funded for their internship in research centers and universities, and for presenting their research work at international conferences. List of beneficiaries can be found <a href="https://docs.google.com/document/d/1RhsI9evTRkUhc9tkHiNO032Ei3UcnOMIAqXhqmCWw8E/edit">here</a>. A majority of them pursue a career in research.
					</li>
					<li>
						<u>Community</u>: Awareness about research has increased in the student community. With inspiration and guidance from seniors, incoming undergraduate batches start working early on basic research in their respective fields. Alumni who benefited from this program have come forward to pitch in with funding and/or contacts to help their juniors.
					</li>
				</ul>
			</p>
			<p class="question">Why should I give?</p>
			<p class="answer">Students are given a soft loan and repay the amount within three years after graduation. This will be utilized to fund more student applicants in future. Hence, your contribution will touch the lives of many students. This is beyond charity, it is an impact investment in your Alma-mater.</p>
		</div>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Financial Assistance Program</h3>
	<ul>
		<li><a href="/research/home">Research Facilitator Program Home</a></li>
		<li>About Internship Funding</li>
		<li><a href="/research/apply-rfp/">Apply for Funding</a></li>
	</ul>
</div>
{% endblock content %}
