{% extends "base.html" %}

{% block title %}
<title>About Asthra - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block content %}
<div class = "content_with_page_title left">
	<h2>About Asthra</h2>
	<div class="content_div">
		<h3>Vision</h3>
		<div class="q_and_a">
			<p class="answer">To make the present Indian education system free of corruption through Citizen Action and a role model for transparency and accountability.</p>
		</div>
		<h3>Mission</h3>
		<div class="q_and_a">
			<p class="answer">To make use of Right to Information (RTI) extensively to make all Institutes of National Importance (INI) transparent and accountable. To expand the same model to all educational institutes.</p>
		</div>

		<h3>Our Work and impact</h3>
		<div class="q_and_a">
			<p class="answer">
					<ul>
						<li>14 RTI applications filed</li>
						<li>Institute terminated over-priced web development contract in favour of in-house development by students</li>
						<li>Reduction in tuition fees to the tune of Rs.3,500 was made possible through the ratification of the NITW fee system after Asthra RTI application revelead discrepency.</li>
					</ul>
			</p>
		</div>

	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Asthra</h3>
	<ul>
		<li><a href="/asthra/home">Asthra Home</a></li>
		<li>About Asthra</li>
	</ul>
</div>
{% endblock content %}
