{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>Lakshya Updates</h2>
	<div class="content_div">
		{% for update in update_list %}
		<div class="update">
			<h4 id="update-{{update.id}}">{{update.date_of_entry|date:'d-m-y'}}</h4>
			<hr>
			{% if update.photo%}
				<img src="{{update.photo.url}}" />
			{% endif %}
			<p>{{update.update_text|safe}}</p>
		</div>
		{% endfor %}
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>2012</h3>
	<ul>
		<li><a href="/" class="scroll">Home</a></li>
		<li>Updates</li>
		<li><a href="/testimonials">Testimonials</a></li>
	</ul>
</div>
{% endblock content %}