{% extends "base.html" %}

{% block title %}
<title>Apply for Innovation Support Program</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block content %}
<br>
<h2>Apply for Innovation Support Program.</h2>

<form id="apply_innovation" enctype="multipart/form-data" action="/innovation/apply" method="post">{% csrf_token %}
    <div class="left">
	{% for field in form.visible_fields %}
    	{% if forloop.counter < 10 %}
		<div class="field">
            <label>{{ field.label}}</label> {{ field }}
           	<p class="error">
           		{% for error in field.errors %}
           			{{error}}<br>
           		{% endfor %}
           	</p>
       	</div>
    	{% endif %}
    {% endfor %}
    </div>
    <div class="second_column left"> 	
    {% for field in form.visible_fields %}
    	{% if forloop.counter > 9 %}
		<div class="field">
            <label>{{ field.label}}</label> {{ field }}
           	<p class="error">
           		{% for error in field.errors %}
           			{{error}}<br>
           		{% endfor %}
           	</p>
       	</div>
    	{% endif %}
    {% endfor %}
    <div id="terms">
	    <p>Terms and conditions </p>
	    <ul>
	    	<li>Entries are not open to final year students</li>
	    </ul>
	    <p class="note">By clicking Submit, you agree to above Terms and Conditions</p>
    </div>
    <button type="submit" value="Submit">Submit</button>
    </div>
    <span class="cB"></span>

<!--     <div class="column-1 left">
       {{ form.name }}
       {{ form.email }}
       {{ form.repeat_email }}
       {{ form.roll_num }}
       {{ form.course }}
       {{ form.department }}
       {{ form.year_of_passing }} 
       {{ form.contact_number }}
       {{ form.other_member_details }}        
    </div>
    <div class="column-2 left"> 
       {{ form.title_of_project }}
       {{ form.expected_expenditure }}
       {{ form.abstract }}
       <input type="submit" value="Submit" />
    </div>
    <span class="cB"></span> -->
</form>

{% endblock content %}
