{% extends "base.html" %}

{% block title %}
<title>Apply for Research Facilitator Program</title>
<meta name="description" content="Apply for Research Facilitator Program">
{% endblock title %}

{% block content %}
<br>
<h2>Apply for Research Facilitator Program</h2>
<div id="research_main_content" class="left">
*Sign into your google account to view the form<br/>
*Funding criteria - View or download from <a href="{{ STATIC_URL }}/docs/RFP-FundingCriteria.pdf">here</a>
<iframe src="https://docs.google.com/forms/d/103SjGtd5gS5TKnDCqrNmTSwJKfQZwEjkDWZ_2a96yTc/viewform?embedded=true" width="760" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<div class = "right_navigation_div right">
	<h3>Financial Assistance Program</h3>
	<ul>
		<li><a href="/research/home">Research Facilitator Program Home</a></li>
		<li><a href="/research/about">About Internship Funding</a></li>
		<li>Apply for Funding</li>

	</ul>
</div>


{% endblock content %}
