{% extends "base.html" %}

{% block title %}
<title>Join Lakshya</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block content %}
<br>
<h2>Join Lakshya</h2>
<div id="intro">
	<p>NITW Final year students applying for VP-Operations post has to submit the below quesstionnaire before 12th April, Midnight.  </p>
</div>
<iframe src="https://docs.google.com/forms/d/1rTMNoPMP6VzGEnw-_MUdB3eLOpEkCynl2cKnXn6E_1A/viewform?embedded=true" width="900" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
<!-- <div id="research_image" class="left">
	<br>
	<img src="{{STATIC_URL}}img/research_facilitator/research_facilitator_program-1.jpg" width="480px"> 

</div> -->
{% endblock content %}
