{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>Asthra</h2>
	<div class="content_div" id="asthra-intro">
		<div id="blockquote_div">
			<blockquote> adfasdf asd fa sdf as df as df as fa sd fas df as fas f asd f sadf s adf sadf sad fsa df as fsa df as f sadfsdf s adf sad f sadf sa fsa df as f sdaf asd f fdsasda sadf as f as fas df sa df sa fd s afd f as f a sfd  sadf  </blockquote>
		</div>
		<p>asfdasdf sad fasd f asdf sad fasd f sadf sa df asd f sadf sad f sadf sda f sad fs daf s fsa df sa fsa f sa f sadf sad fsa df sda fsa df sad fs adf sdaf as df sda f asd fas df as df as df as df as df sd as df as f as df as df dsa f asd f as f dsa f asdfasdfsadfasdfsafasfsdadfsda</p>
		<p>asfdasdf sad fasd f asdf sad fasd f sadf sa df asd f sadf sad f sadf sda f sad fs daf s fsa df sa fsa f sa f sadf sad fsa df sda fsa df sad fs adf sdaf as df sda f</p>
		<ul>
			<li>asdfasdf ads f ad f asd f a sfd a dsf a fd a sdf sad f sa df s adf sd</li>
			<li>asdfasdf ads f ad f asd f a sfd a dsf a fdf sa df s adf sd</li>
			<li>asdfasdf ads f ad f asd f a sfd a dsf sad f sa df s adf sd</li>
		</ul>
		<button>Visit Asthra's blog</button>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Asthra</h3>
	<ul>
		<li>Asthra Home</li>
		<li><a href="/asthra/about">About Asthra</a></li>
	</ul>
</div>
{% endblock content %}