{% extends "base.html" %}
{% block title %}
<title>Audits - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}
{%  block header %}
<div id="example">
	<div id="header_wrapper">

	<div style="width:990px; height:24px; background-image:url('{{STATIC_URL}}img/REC-top.png'); opacity:0.8;">
		<div id="secondary_navigation" class = "right">
		<a href="/team"> Team </a>
		<a href="/contact"> Contact Us </a>
		<a href="/"> Home </a>
	</div>
	</div>

	<div style="width:990px; height:134px; background-image:url('{{STATIC_URL}}img/nav_bg.png'); opacity:0.8;">
		<div id="primary_navigation" class = "right cR">
		<ul>
		<li><a href="#">About Us<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/about">About Lakshya</a></li>
				<li><a href="/team">Team</a></li>
			</ul>
		</li>
		<li><a href="#">Projects<span class="drop">&#9660;</span></a>
			<ul id="projects-menu">
				<li><p>Innovation, Research and Entreprenuership</p></li>
				<li><a href="/innovation/home">- Innovation Support Program</a></li>
				<li><a href="/research/home">- Research Facilitator Program</a></li>
				<li><p>Campus Enablers</p></li>
				<li><a href="/automation/home">- Administrative Process Automation</a></li>
				<li><p>Student Enablers</p></li>
				<li><a href="/scholarships/home">- Financial Assistance Program</a></li>
				<li><p>Others</p></li>
				<li><a href="/pilot-projects">- Pilot Projects</a></li>
			</ul>
		</li>
		<li><a href="#">Funds & Transparency<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/accounts/our-core-belief">Our core belief</a></li>
				<li><a href="/accounts/donations">Donations</a></li>
				<li><a href="/accounts/expenses">Expenses</a></li>
				<li><a href="/accounts/audits">Audit Statements</a></li>				
			</ul>
		</li>
		<li><a href="/donate">Donate Now</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="slides">
	<div class="slides_container" >
			<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/funds.jpg" width="990" height="420" alt="Team"></a>
	
	</div>
	</div>
	
</div>

{% endblock header%}
{% block content %}
<div class = "content_with_page_title left">
	<h2>Audits</h2>
	<div class="content_div">
		<p>Lakshya's accounts are audited by independent third-party registered auditors. Click on the PDF to view the respective year's financials.</p>
		<h3>Annual Financial Statements</h3>
		<div class="audit_list">
			
			<div class="audit_report left" >
				<a href="{{MEDIA_URL}}audits/08-09.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>08-09</h4>
				</a>
			</div>

			<div class="audit_report left" >
				<a href="{{MEDIA_URL}}audits/09-10.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>09-10</h4>
				</a>
			</div>

			<div class="audit_report left" >
				<a href="{{MEDIA_URL}}audits/10-11.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>10-11</h4>
				</a>
			</div>

			<div class="audit_report left" >
				<a href="{{MEDIA_URL}}audits/11-12.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>11-12</h4>
				</a>
			</div>

										
		</div>
		<br>
		<p class="cB" >For any queries, <a href="/contact">contact us</a></p>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li><a href="/accounts/our-core-belief">Our core belief</a></li>
		<li><a href="/accounts/donations">Donations</a></li>
		<li><a href="/accounts/expenses">Expenses</a></li>
		<li>Audits</li>
	</ul>
</div>
{% endblock content %}
