{% extends "newbase.html" %}
{% block title %}
<title>Audits - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block precss %}
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_v_1_0_3.css?1"></LINK>
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_1.css"></LINK>
<style type="text/css">
	
</style>
{% endblock precss %}

{%block header_slide%}
	<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/headers/funds.png" width="990" height="420" alt="Team"></a>
{%endblock header_slide%}	

{% block content %}
<div class="content_wrap_old clearfix">

<div class = "content_with_page_title left">
	<h2>Audits</h2>
	<div class="content_div">
		<p>Lakshya's accounts are audited by independent third-party registered auditors. Click on the PDF to view the respective year's financials.</p>
		<h3>Annual Financial Statements</h3>
		<div class="audit_list">
			
			<div class="audit_report left" >
				<a href="{{ STATIC_URL }}docs/08-09.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>08-09</h4>
				</a>
			</div>

			<div class="audit_report left" >
				<a href="{{ STATIC_URL }}docs/09-10.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>09-10</h4>
				</a>
			</div>

			<div class="audit_report left" >
				<a href="{{ STATIC_URL }}docs/10-11.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>10-11</h4>
				</a>
			</div>

			<div class="audit_report left" >
				<a href="{{ STATIC_URL }}docs/11-12.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>11-12</h4>
				</a>
			</div>

			<div class="audit_report left" >
				<a href="{{ STATIC_URL }}docs/12-13.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>12-13</h4>
				</a>
			</div>

			<div class="audit_report left" >
				<a href="{{ STATIC_URL }}docs/13-14.pdf" target="_blank"> 
					<img src="{{STATIC_URL}}/img/pdf-logo.png" /> 
					<h4>13-14</h4>
				</a>
			</div>

										
		</div>
		<br>
		<p class="cB" >To view our Trust Deed please <a href="{{ STATIC_URL }}docs/Trust_Deed.pdf" target="_blank">click here</a></p>
		<p class="cB" >For any queries please <a href="/contact">contact us</a></p>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li><a href="/accounts/our-core-belief">Our core belief</a></li>
		<li><a href="/accounts/donations">Donations</a></li>
		<li><a href="/accounts/expenses">Expenses</a></li>
		<li>Audits</li>
	</ul>
</div>
</div>
{% endblock content %}
