{% extends "base.html" %}

{% block meta %}
<title>Adminstrative Process Automation</title>
<meta name="description" content="Lakshya Foundation is a registered ngo">
<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"></LINK>
<!-- <script src="{{STATIC_URL}}js/jquery.min.js"></script> -->
<script src="http://gettopup.com/releases/latest/top_up-min.js"></script>
{% endblock %}

{% block content %}
<br>
<h2>Administrative Process Automation</h2>
<div id="blockquote_div">
	<blockquote> "One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man."<p>-Elbert Hubbard, American writer, publisher, artist, and philosopher</p></blockquote>
</div>
<div id="intro">
	<p>Applying for official certificates, transcripts or documents from NIT Warangal will be as easy as booking a movie ticket. This has been made possible through IT infrastructure being built by Lakshya together with the institute for the administration.</p>
</div>
<h3>Updates</h3>
<ul>
<li>
	<p>Wireframes</p><br>
	<div id="automation-wireframes">
			<a href="{{STATIC_URL}}img/automation/page0.png"><img src="{{STATIC_URL}}img/automation/page0-thumb.png"/></a>
			<a href="{{STATIC_URL}}img/automation/page1.png"><img src="{{STATIC_URL}}img/automation/page1-thumb.png"/></a>
			<a href="{{STATIC_URL}}img/automation/page2.png"><img src="{{STATIC_URL}}img/automation/page2-thumb.png"/></a>
			<a href="{{STATIC_URL}}img/automation/page3.png"><img src="{{STATIC_URL}}img/automation/page3-thumb.png"/></a>
			<a href="{{STATIC_URL}}img/automation/page4.png"><img src="{{STATIC_URL}}img/automation/page4-thumb.png"/></a>
			<br>
			<a href="{{STATIC_URL}}img/automation/page5.png"><img src="{{STATIC_URL}}img/automation/page5-thumb.png"/></a>
			<a href="{{STATIC_URL}}img/automation/page6.png"><img src="{{STATIC_URL}}img/automation/page6-thumb.png"/></a>
			<a href="{{STATIC_URL}}img/automation/page7.png"><img src="{{STATIC_URL}}img/automation/page7-thumb.png"/></a>
			<a href="{{STATIC_URL}}img/automation/page8.png"><img src="{{STATIC_URL}}img/automation/page8-thumb.png"/></a>
	</div>
	<script type="text/javascript">
	  TopUp.addPresets({
	    "#automation-wireframes a": {
	      title: "Gallery {alt} ({current} of {total})",
	      group: "automation-wireframes",
	      readAltText: 1,
	      shaded: 1
	    }
	  });
	</script>
</li>
<li><p>Basic framework developed and tested on the institute website</p></li>
<li><p>Proposal for payment gateway submitted to the institute</p></li>
</ul>
<h3>Planned Release</h3>
<p id="release_plan">Academic system automation for alumni scheduled to go live by <b>February 2013</b></p>
{% endblock content %}
