{% extends "base.html" %}

{% block meta %}
<title>Adminstrative Process Automation</title>
<meta name="description" content="Lakshya Foundation is a registered ngo">
<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"></LINK>
<!-- <script src="{{STATIC_URL}}js/jquery.min.js"></script> -->
<script src="http://gettopup.com/releases/latest/top_up-min.js"></script>
{% endblock %}

{% block content %}
<br>
<h2>Administrative Process Automation</h2>
<div id="blockquote_div">
	<blockquote> "One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man."<p>-Elbert Hubbard, American writer, publisher, artist, and philosopher</p></blockquote>
</div>
<div id="intro">
	<p>Applying for official certificates, transcripts or documents from NIT Warangal will be as easy as booking a movie ticket. This has been made possible through IT infrastructure being built by Lakshya together with the institute for the administration.</p>
</div>

<h3> Certificates that you can apply for </h3>
<ul>
<li> Transcripts </li>
<li> Degree Certificate (Original and Duplicate)</li>
<li> Consolidated Grade Sheets </li>
<li> TC and Migration </li>
<li> Medium of Instruction </li>
</ul>

<a id="automation_button" href="http://www.nitw.ac.in/alumnirequest/select.php">Apply now </a> 

<h3>Planned Next Release</h3>
<p id="release_plan">Request monitoring and Tracking system will be released on <b>February 5th 2013</b></p>
{% endblock content %}
