<head>
	{% block meta %}
	<meta name="description" content="Lakshya Foundation is a registered ngo">
	<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
	<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"></LINK>
	{% endblock %}
	{% block scripts %}
	{% endblock scripts %}	
</head>
<body>
{% block header %}
<div id="header_wrapper">
	<div id="logo" class="left">
		<a href="/"><img src="{{STATIC_URL}}img/logo.jpg"></a>
	</div>
	<div id="secondary_navigation" class = "right">
		<a href="#"> Blog </a>
		<a href="#"> Team </a>
		<a href="#"> Contact Us </a>
	</div>
	<div id="primary_navigation" class = "right cR">
		<ul>
		<li><a href="#">About Us<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/about">About Lakshya</a></li>
				<li><a href="/team">Team</a></li>
			</ul>
		</li>
		<li><a href="#">Projects<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/innovation/">Innovation Project</a></li>
				<li><a href="#">Scholarships Project</a></li>
			</ul>
		</li>
		<li><a href="#">Funds & Transparency<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="#">Donations</a></li>
				<li><a href="#">Expenses</a></li>
				<li><a href="#">Audit Statements</a></li>				
			</ul>
		</li>
		<li><a href="#"><span id="donate">Donate Now</span></a></li>
		</ul>
	</div>	
</div>
{% endblock header %}
<div id="content_wrapper" class="cB">
	<span class="cB"></span>
	{% block content %}
	<h1 class="cB">Content Area</h1>
    {% endblock content %}
</div>
{% block footer %}
<div id="footer" class="cB">
	<table id="footer_table">
		<tr id="footer_header">
			<th>About us</th><th>Projects</th><th>Funds & Transparency</th><th>Connect</th>
		</tr>
		<tr>
			<td>About Lakshya</td><td>Innovation Project</td><td>Donations</td><td>Online Payment Gateway</td>
		</tr>
		<tr>
			<td>The Team</td><td>Scholarships Project</td><td>Expenses</td><td>Cheque/DD/Cash/NEFT</td>
		</tr>
		<tr>
			<td>Blog</td><td>Asthra - RTI</td><td>Annual Audit Reports</td><td>For Donors outside india</td>
		</tr>
		<tr>
			<td>Contact Us</td><td>Pilot Projects</td><td>12A, 80G Tax exemptions</td><td></td>
		</tr>
	</table>
	<div id="payment_footer">
		<div id="ccavenue_block">
					Donations powered by
					<br/>
					<img src="{{STATIC_URL}}img/ccavenue.png" width="140px" />
		</div>
		<div class = "right" id="follow_block">
			<span style="vertical-align:10px;">Follow us on</span> <a href="https://www.facebook.com/thelakshyafoundation"><img src="{{STATIC_URL}}img/facebook_icon.png" /></a> 
		</div>		
	</div>

</div>
{% endblock footer%}
</body>