<head>
	{% block meta %}
	<meta name="description" content="Lakshya Foundation is a registered ngo">
	<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
	<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css?1"></LINK>
	{% endblock %}
	{% block scripts %}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{GOOGLE_SITE_CODE}}' ]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	{% endblock %}	
</head>
<body>
{% block header %}
<div id="header_wrapper">
	<div id="logo" class="left">
		<a href="/"><img src="{{STATIC_URL}}img/logo.jpg"></a>
	</div>
    <!--[if lt IE 11]> 
	    <div id="IElt9warning">Please upgrade your browser to Chrome,Firefox. <br>We don't support IE as of now</div> 
	<![endif]--> 
	<div id="secondary_navigation" class = "right">
		<a href="/team"> Team </a>
		<a href="/contact"> Contact Us </a>
	</div>
	<div id="primary_navigation" class = "right cR">
		<ul>
		<li><a href="#">About Us<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/about">About Lakshya</a></li>
				<li><a href="/team">Team</a></li>
			</ul>
		</li>
		<li><a href="#">Projects<span class="drop">&#9660;</span></a>
			<ul id="projects-menu">
				<li><p>Research, Innovation and Entreprenuership</p></li>
				<li><a href="/innovation/home">- Innovation Support Program</a></li>
				<li><a href="/research/home">- Research Facilitator Program</a></li>
				<li><p>Campus Enablers</p></li>
				<li><a href="/automation/home">- Administrative Process Automation</a></li>
				<li><p>Student Enablers</p></li>
				<li><a href="/scholarships/home">- Financial Assistance Program</a></li>
				<li><p>Others</p></li>
				<li><a href="/pilot-projects">- Pilot Projects</a></li>
			</ul>
		</li>
		<li><a href="#">Funds & Transparency<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/accounts/our-core-belief">Our core belief</a></li>
				<li><a href="/accounts/donations">Donations</a></li>
				<li><a href="/accounts/expenses">Expenses</a></li>
				<li><a href="/accounts/audits">Audit Statements</a></li>				
			</ul>
		</li>
		<li><a href="/donate">Donate Now</a></li>
		</ul>
	</div>	
</div>
{% endblock header %}
<div id="content_wrapper" class="cB">
	<span class="cB"></span>
	{% block content %}
	<h1 class="cB">Content Area</h1>
    {% endblock content %}
</div>
{% block footer %}
<div id="footer" class="cB">
	<table id="footer_table">
		<tr id="footer_header">
			<th>About us</th><th>Projects</th><th>Funds & Transparency</th><th>Donate</th>
		</tr>
		<tr>
			<td><a href="/about">About Lakshya</a></td><td><a href="/innovation/home">Innovation Support Program</a></td><td><a href="/accounts/our-core-belief">Our core belief</a></td><td><a href="/donate">Online Payment Gateway</a></td>
		</tr>
		<tr>
			<td><a href="/team">The Team</a></td><td><a href="/research/home">Research Facilitator Program</a></td><td><a href="/accounts/donations">Donations</a></td><td><a href="/donate">Cheque/DD/Cash/NEFT</a></td>
		</tr>
		<tr>
			<td><a href="/contact">Contact Us</a></td><td><a href="/automation/home">Administrative Process Automation</a></td><td><a href="/accounts/expenses">Expenses</a></td>
		</tr>
		<tr>
			<td></td><td><a href="/scholarships/home">Financial Assistance Program</a></td><td><a href="/accounts/audits">Audit Reports</a></td><td></td>
		</tr>
	</table>
	<div id="payment_footer">
		<div id="ccavenue_block">
					<span>Donations powered by</span> <img src="{{STATIC_URL}}img/ccavenue.png" width="100px" height="20px" />
					<span id="copy_right">&#9400 thelakshyafoundation.com 2008-2015</span>
		</div>

		<div class = "right" id="follow_block">
			<span style="vertical-align:10px;">follow us on</span> <a href="https://www.facebook.com/thelakshyafoundation"><img src="{{STATIC_URL}}img/facebook_icon.png" width="25px" height="25px" /></a> 
		</div>		
	</div>

</div>
{% endblock footer%}
</body>

