
{% extends "base.html" %}
{% load humanize %} 

{% block title %}
<title>Seed Fund | Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block content %}
	<img src="{{STATIC_URL}}img/seed_capital_final.jpg" width="990px" height="100px" />
	
	<div id="companies_listing_left_pane" class="left" >
		<br>
		{% if company.logo %}
		<img src="{{ company.logo.url }}" width="200px" height="200px">
		<br>
		<h3>Company Attributes</h3>
		{% for attribute in company_attributes %}
			<p><b>{{ attribute.option.name }}</b> : {{ attribute.value }}</p>
		{% endfor %}
		{% endif %}

		<h3>Founders</h3>
		{% for founder in founder_details %}
			{% if founder.photo %}
				<img src="{{ founder.photo.url }}" width="100px" height="100px">
			{% endif %}
			<p>{{ founder.person.name }}</p>
			<p>{{ founder.designation }}</p>
			{% if founder.fb_link%}
				<a href="{{founder.fb_link}}"><img src="{{STATIC_URL}}img/facebook_icon.png" width="25px" height="25px"></a>
			{% endif %}
			{% if founder.linkedin_link%}
				<a href="{{founder.linkedin_link}}"><img src="{{STATIC_URL}}img/linkedin_icon.png" width="25px" height="25px"></a>
			{% endif %}	
			{% if founder.twitter_link%}
				<a href="{{founder.fb_link}}"><img src="{{STATIC_URL}}img/twitter_icon.png" width="25px" height="25px"></a>
			{% endif %}
			{% if founder.blog_link%}
				<a href="{{founder.linkedin_link}}"><img src="{{STATIC_URL}}img/blog_icon.png" width="25px" height="25px"></a>
			{% endif %}	
		{% endfor %}

	</div>

	<div id="companies_detail" class="left">
		<h2>{{company.name}}</h2>
		<p>{{ sectors_name_list }}</p>
		<a href="{{company.website_url}}">{{company.website_url}}</a>
		<br>
		<br>
		{% if company.video_url %}
			<iframe width="420" height="315" src="{{company.video_url}}" frameborder="0" allowfullscreen></iframe>
		{% endif %}
		<br>
		<br>
		<h3>Company Description</h3>
		<p>{{company.description}}</p>
		<br>
		<br>
		{% if other_companies_in_sector %}
		<h3>Other companies in {{sectors_name_list}}</h3>
		{% for com in other_companies_in_sector %}
			<p><a href="/company/{{com.slug}}">{{ com.name }}</a></p>
		{% endfor %}
		{% endif %}
		<br>
		<br>
	</div>

	<div class="left" id="companies_listing_right_pane">
		<div id="sectors_list">
			<p>Industries</p>
			<a href="/entreprenuers">All ({{ total_companies_count }})</a>
			{% for sector in sectors_list_details %}
				<div>
					<a href="/entreprenuers?sector={{ sector.1 }}">{{ sector.0 }} ({{ sector.2 }})</a>					
				</div>	
			{% endfor %}			
		</div>
		<div id="sectors_list">
			<p>Countries</p>
			<a href="/entreprenuers">All ({{ total_companies_count }})</a>
			{% for country in countries_list_details %}
				<div>
					<a href="/entreprenuers?country={{ country.0 }}">{{ country.0 }} ({{ country.1 }})</a>					
				</div>	
			{% endfor %}			
		</div>
<!-- 		<div id="batches_list">
			<p>Batches</p>
		</div> -->
	</div>
{% endblock content %}

