{% extends "base.html" %}
{% block title %}
<title>Contact - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}
{% block meta %}
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css?1"></LINK>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}	

{%  block header %}
<div id="example">
	<div id="header_wrapper">

	<div style="width:990px; height:24px; background-image:url('{{STATIC_URL}}img/REC-top.png'); opacity:0.8;">
		<div id="secondary_navigation" class = "right">
		<a href="/team"> Team </a>
		<a href="/contact"> Contact Us </a>
		<a href="/"> Home </a>
	</div>
	</div>

	<div style="width:990px; height:134px; background-image:url('{{STATIC_URL}}img/nav_bg.png'); opacity:0.8;">
		<div id="primary_navigation" class = "right cR">
		<ul>
		<li><a href="#">About Us<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/about">About Lakshya</a></li>
				<li><a href="/team">Team</a></li>
			</ul>
		</li>
		<li><a href="#">Projects<span class="drop">&#9660;</span></a>
			<ul id="projects-menu">
				<li><p>Innovation, Research and Entreprenuership</p></li>
				<li><a href="/innovation/home">- Innovation Support Program</a></li>
				<li><a href="/research/home">- Research Facilitator Program</a></li>
				<li><p>Campus Enablers</p></li>
				<li><a href="/automation/home">- Administrative Process Automation</a></li>
				<li><p>Student Enablers</p></li>
				<li><a href="/scholarships/home">- Financial Assistance Program</a></li>
				<li><p>Others</p></li>
				<li><a href="/pilot-projects">- Pilot Projects</a></li>
			</ul>
		</li>
		<li><a href="#">Funds & Transparency<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/accounts/our-core-belief">Our core belief</a></li>
				<li><a href="/accounts/donations">Donations</a></li>
				<li><a href="/accounts/expenses">Expenses</a></li>
				<li><a href="/accounts/audits">Audit Statements</a></li>				
			</ul>
		</li>
		<li><a href="/donate">Donate Now</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="slides">
	<div class="slides_container" >
			
	
	</div>
	</div>
	
</div>

{% endblock header%}

{% block content %}
<div class = "content_with_page_title left">
	<h2>Contact</h2>
	<div class="content_div">
		<div id="fb_block" class="left" >
			<p>Like our page to get regular updates. </p>
			<div class="fb-like-box" data-href="http://www.facebook.com/thelakshyafoundation" data-width="292" data-height="400" data-show-faces="true" data-stream="false" data-header="false"></div>
		</div>		
		<div id="contact_block" class="left">
			<h3>Hyderabad Office</h3>
				<span>Level 2, Oval Building</span><br>
				<span>iLabs Centre</span><br>
				<span>Madhapur</span><br>
				<span>Hyderabad - 500 081</span><br>
				<span>India</span><br>
			<h3>Warangal Office</h3>
				<span>Level 2, Center for Innovation and Incubation</span><br>
				<span>National Institue of Technology, Warangal</span><br>
				<span>Hyderabad - 506 004</span><br>
				<span>India</span><br>
			<h3>Email us : </h3>
			<span>info@thelakshyafoundation.org</span>
			<br>
			<h3>Call us : </h3>
			<span>+91-98493-65735 (<a href="/team"> Anand Rajgopalan </a>)</span>
		</div>	
	</div>
</div>
{% endblock content %}