{% extends "base.html" %}
{% load humanize %}

{% block meta %}
<title>Lakshya Donations</title>
<meta name="description" content="Lakshya Foundation is a registered ngo">
<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"></LINK>
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/datatable/demo_table.css"></LINK>

<script src="{{STATIC_URL}}js/jquery.min.js"></script>	
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#table_id').dataTable( {
        "sScrollY": "600px",
        "bPaginate": true,
        "bScrollCollapse": true,
        "iDisplayLength" : 50
    } );
} );
</script>
{% endblock %}

{% block content %}
<div class = "content_with_page_title left">
	<h2>Donations</h2>
	<div class="content_div">
		<p>Information on donations received by Lakshya. Please <a href="/contact">contact us</a> if you need more info</p>
		<div>
			<div class="expense_stats left">
				<div class="stats_number">{{total_donors}}</div>
				<div class="stats_description">Number of Unique Donors</div>
			</div>

			<div class="expense_stats left">
				<div class="stats_number">{{total_donation_amount|floatformat:"0"|intcomma}}</div>
				<div class="stats_description">Total Amount Raised</div>
			</div>

			<div class="expense_stats left">
				<div class="stats_number">{{avg_donation_amount|floatformat:"0"|intcomma}}</div>
				<div class="stats_description">Avg Donation by a Donor</div>
			</div>
		</div>
		<h3 class="cB">All Donations</h3>
		<!-- <p>asdfasdf asdf as df asdf as df sadf as df asdf as df asdf as fas df saf as dfsd af sa fd -->
			<!-- sadf asd fas df sad fasdf asdfasdf sadf asd f asdf sad</p> -->
		<br>
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="table_id">
		    <thead>
		        <tr>
		            <th>Name</th>
		            <th>Batch</th>
		            <th>Branch</th>
		            <th>Amount</th>
		            <th>Last Donated On</th>
		        </tr>
		    </thead>
		    <tbody>
		    	{% for name, year_of_passing, department, total, last_donated_on in donor_details_list %}
			        <tr>
			            <td>{{name}}</td>
			            <td>{{year_of_passing}}</td>
			            <td>{{department}}</td>
			        	<td>{{total}}</td>	
			        	<td>{{last_donated_on}}</td>	
			        </tr>			    		
		    	{% endfor %}
		    </tbody>
		</table>
		<br>
		<br>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li><a href="/accounts/our-core-belief">Our core belief</a></li>
		<li>Donations</li>
		<li><a href="/accounts/expenses">Expenses</a></li>
		<li><a href="/accounts/audits">Audits</a></li>
	</ul>
</div>
{% endblock content %}