{% extends "base.html" %}

{% block title %}
<title>Donate- Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block content %}
<div class = "content_with_page_title left">
	<h2>Donate</h2>
	<div class="content_div">
		<p>You can donate to Lakshya in one of the below ways</p>
		<a href="#">Why Seed Capital</a><a href="#">Why Corpus</a>
		<h3>Payment Gateway</h3>	
		<form action="payment_redirect" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>
		<h3>Online Transfer</h3>
		<p>Lakshya Bank account Details </p>
		<dl id="account_details">
		    <dt>Account Name :</dt>
		    <dd>The Lakshya Foundation</dd>
		    <dt>Account Number :</dt>
		    <dd>020101005180</dd>
		    <dt>Bank Details :</dt>
		    <dd>ICICI BANK, Hanmakonda Branch, Warangal</dd>
		    <dt>IFSC code :</dt>
		    <dd>ICIC0000201</dd>
		</dl>​
		<p class="cB">Note: While making an online transfer, please mention your name in the comments.</p>
		<h3>Cheques/Demand Drafts</h3>
		<p>Post your Cheques/DD's to below address.  </p>
		<div id="postal_address">		
			<p>Prof.J.Ramachander Rao,</p>
			<p>Department of Physics,</p>
			<p>NIT Warangal,</p>
			<p>Warangal - 506021.</p>
			<p>Andhra Pradesh, India</p>
		</div>
	</div>
</div>
{% endblock content %}