{% extends "base.html" %}

{% block title %}
<title>Donate- Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}
{%  block header %}
<div id="example">
	<div id="header_wrapper">

	<div style="width:990px; height:24px; background-image:url('{{STATIC_URL}}img/REC-top.png'); opacity:0.8;">
		<div id="secondary_navigation" class = "right">
		<a href="/team"> Team </a>
		<a href="/contact"> Contact Us </a>
		<a href="/"> Home </a>
	</div>
	</div>

	<div style="width:990px; height:134px; background-image:url('{{STATIC_URL}}img/nav_bg.png'); opacity:0.8;">
		<div id="primary_navigation" class = "right cR">
		<ul>
		<li><a href="#">About Us<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/about">About Lakshya</a></li>
				<li><a href="/team">Team</a></li>
			</ul>
		</li>
		<li><a href="#">Projects<span class="drop">&#9660;</span></a>
			<ul id="projects-menu">
				<li><p>Innovation, Research and Entreprenuership</p></li>
				<li><a href="/innovation/home">- Innovation Support Program</a></li>
				<li><a href="/research/home">- Research Facilitator Program</a></li>
				<li><p>Campus Enablers</p></li>
				<li><a href="/automation/home">- Administrative Process Automation</a></li>
				<li><p>Student Enablers</p></li>
				<li><a href="/scholarships/home">- Financial Assistance Program</a></li>
				<li><p>Others</p></li>
				<li><a href="/pilot-projects">- Pilot Projects</a></li>
			</ul>
		</li>
		<li><a href="#">Funds & Transparency<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/accounts/our-core-belief">Our core belief</a></li>
				<li><a href="/accounts/donations">Donations</a></li>
				<li><a href="/accounts/expenses">Expenses</a></li>
				<li><a href="/accounts/audits">Audit Statements</a></li>				
			</ul>
		</li>
		<li><a href="/donate">Donate Now</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="slides">
	<div class="slides_container" >
			<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/funds.jpg" width="990" height="420" alt="Team"></a>
	
	</div>
	</div>
	
</div>

{% endblock header%}

{% block content %}
<div class = "content_with_page_title left">
	<h2>Donate</h2>
	<div class="content_div">
<!--		<p>You can donate to Lakshya in one of the below ways</p>
		<a href="#">Why Seed Capital</a><a href="#">Why Corpus</a>-->
		<h3 id="vision_block">Payment Gateway (Credit card, Debit card, Net Banking)</h3>	
		<form action="payment_redirect" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		</form>
		<h3 id="vision_block">Online Transfer</h3>

		<dl id="account_details">
		    <dt>Account Name :</dt>
		    <dd>The Lakshya Foundation</dd>
		    <dt>Account Number :</dt>
		    <dd>020101005180</dd>
		    <dt>Bank Details :</dt>
		    <dd>ICICI BANK, Hanmakonda Branch, Warangal</dd>
		    <dt>IFSC code :</dt>
		    <dd>ICIC0000201</dd>
		</dl>​
		<p class="cB"></p>
		<h3 id="vision_block">Cheques/Demand Drafts</h3>
		<p>Post your Cheques/DD's to below address.  </p>
		<div id="postal_address">		
			<p>Prof. A. Venu Gopal,</p>
			<p>Mechanical Engineering Department,</p>
			<p>NIT Warangal,</p>
			<p>Warangal - 506021.</p>
			<p>Andhra Pradesh, India</p>
		</div>
	</div>
</div>
{% endblock content %}
