{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>Expenses</h2>
	<div class="content_div">
		<div id="image_slider">
			<h1>Image slider</h1>
		</div>
		<h3>All Expenses</h3>
		<div id="expenses_table">
			<h1>Expenses Table</h1>
		</div>		
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li><a href="/accounts/our-core-belief">Our core belief</a></li>
		<li><a href="/accounts/donations">Donations</a></li>
		<li>Expenses</li>
		<li><a href="/accounts/audits">Audits</a></li>
	</ul>
</div>
{% endblock content %}