{% extends "base.html" %}
{% block content %}
<div id="image_slider">
	<h1>Image slider123</h1>
</div>
<div id="intro_block" class="left">
	<p>The Lakshya Foundation is an NIT Warangal alumni led NGO.</p>
	<p>Our work involves building an ecosystem of innovation, research, and equal opportunity so NITW can make significant contributions to India and the world in the fields of science and technology. Learn more <a href="#">about us</a> and <a href="#">our work</a>.</p>
</div>
<div id="stats_block" class = "right">
	<div id="stats">
		<div id="stats_number">Rs 1,000,000</div>
		<div id="stats_description">Total scholarship amount disbursed</div>
	</div>
	<div id="announcemet_facebook_block">
		<div id="announcement_block" class="left"><p>announcement</p></div>
		<div id="facebook_block" class="right"><p>facebook</p></div>
	</div>	
</div>
<div id="updates_block" class="left cL">
	<div id="updates_block_inner_div">
		<h3>Lakshya Updates</h3>
		<hr>
		<ul>
			{% for update in update_list %}
			<li>{{update.update_text|safe|slice:"90"}}  ..... <a href="/updates#update-{{update.id}}">more</a></li>			
			{% endfor %}
		</ul>
		<a id="all_updates_link" class="right" href="/updates">all updates</a>
	</div>
</div>
<div id="testimonials_block" class="right">
	<h1>Testimonials block</h1>
</div>
{% endblock content %}
