{% extends "base.html" %}
{% load humanize %}

<head>
	{% block title %}
	<title>Lakshya - an NITW alumni led organization</title>
	<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
	<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
	{% endblock title %}
	{% block meta %}
	{% endblock %}
	<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css?1"></LINK>
	{% block scripts %}
	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '{{GOOGLE_SITE_CODE}}' ]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<script>(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/slides.min.jquery.js"></script>

	<script>
		$(function(){
		$('#slides').slides({
			preload: true,
			preloadImage: '{{STATIC_URL}}img/loading.gif',
			play: 5000,
			pause: 2500,
			hoverPause: true
		});

		$('#testimonial_slides').slides({
			pagination: false,
			container: 'testimonials_container',
			preload: true,
			preloadImage: '{{STATIC_URL}}img/loading.gif',
			play: 0,
			pause: 2500,
			hoverPause: true

		});

		function showTheList() {
		  var i = 1;
		  function showOne() {
		    if (i === 1) $('.ul li').hide();
		    $('.ul li').eq(i - 1).delay(100).fadeIn(2000, function() {
		      $('.ul li').eq(i - 1).fadeOut(4000, function() {
		        if (++i > 3) i = 1;
		        showOne();
		      });
		    });
		  }
		  showOne();
		}
		showTheList();
	});
	</script>

	{% endblock %}	
</head>

{%block header_slide%}
	<a href="/innovation/innovations-list/hovamarine" title="Hovamarine - NITW's first patent application" ><img src="{{STATIC_URL}}img/jobi_header_2.jpg" width="990" height="420" alt="Hovamarine - NITW's first patent application"></a>
{%endblock header_slide%}	


{% block content %}

<div id="intro_block" class="left">
	<div id="lakhsya-homepage-intro">
		<p>Lakshya helps build an ecosystem of research and entrepreneurship through creativity and innovation at NIT Warangal by bringing together alumni, students, faculty, the institute and relevant partners</p>
		<p>Know more about our mission, work and values in our <a href="/about">About Us</a> page.</p> 
	</div>
</div>
<div id="stats_block" class = "right">
	<div id="stats">
		<ul class="ul">
			<li>
				<div class="stats_number">&#x20B9; {{total_donation_amount|floatformat:"0"|intcomma}}</div>
				<div class="stats_description">funds raised for Lakshya</div>
			</li>
			<li>
				<div class="stats_number">7</div>
				<div class="stats_description">research ideas being supported</div>
			</li>
			<li>
				<div class="stats_number">22</div>
				<div class="stats_description">need based scholarships for NITW students</div>
			</li>
		</ul>
	</div>
	<div id="announcemet_facebook_block" style="z-index:25;">
		<div id="announcement_block" class="left">
			<a href="/innovation/home" style="padding-left:12px; margin-left:102px;">Apply</a> <p style="margin-left:30px"> to get Lakhsya's support for your innovative idea</p>
		</div>
		<div id="facebook_block" class="right">
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fthelakshyafoundation&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border-left-width: 0px;border:none; overflow:hidden; width:450px; height:21px;padding-left: 220px;padding-bottom: 0px;padding-top: 25px;" allowtransparency="true"></iframe>
		</div>
	</div>	
</div>
<div id="updates_block" class="left cL">
	<div id="updates_block_inner_div" style="height:350px">
		<h3>Lakshya Updates</h3>
		<hr>
		<ul>
			{% for update in update_list %}
			<li>{{update.update_text|safe|slice:"90"}}  ..... <a href="/updates#update-{{update.id}}">more</a></li>
			{% endfor %}
		</ul>
		<a id="all_updates_link" class="right" href="/updates">More Updates</a>
	</div>
</div>
<div id="testimonials_block" class="right">
	<div id="testimonials_block_inner_div">
		<h3>Lakshya Testimonials</h3>
		<hr>
		<div id="testimonial_slides">
			<div class="testimonials_container">
				<div class="testimonial_slide cB">
					<p class="testimonial_text cB">" Lakshya Foundation helped me achieve my dream.Lakshya makes a difference by helping ignited students propel their dreams and give others the opportunity to think differently.  I am sure the world will witness more innovations and innovators with the help of Lakshya Foundation in the coming years."</p>
					<div>
						<div class="testimonial_image_div left ">
							<img src="{{STATIC_URL}}img/joby_test_1.png" width="300px" height="100px">
						</div>
					</div>
					
				</div>

				<div class="testimonial_slide">
					<p class="testimonial_text">"Transparent mode of selection & sharing financial information are key areas which satisfy. I shall be a keen observer of my humble contribution put to good use by young & energetic team of selfless workforce"</p>
					<div>
						<div class="testimonial_image_div left ">
							<img src="{{STATIC_URL}}img/naresh_ummat.jpg" width="100px" height="100px">
						</div>
						<div id="testimonial_details_div" class="left" >
							<h4>Naresh Ummat</h4>
							<p>Managing Director, Barracuda Camouflage</p>
							<p>NITW Class of 1964</p>
						</div>
					</div>	
				</div>

				<div class="testimonial_slide">
					<p class="testimonial_text">" Lakshya Scholarship helped me to a great extent by reducing the fianancial burden during my engineering. It was a good inspiration for me to achieve higher goals. It helped me have a good social life during my B.Tech, and motivated me to help students financially in future."</p>
					<div>
						<div class="testimonial_image_div left ">
							<img src="{{STATIC_URL}}img/gayatri_k.jpg" width="100px" height="100px">
						</div>
						<div id="testimonial_details_div" class="left" >
							<h4>K. Gayatri</h4>
							<p>Lakshya Scholar </p>
							<p>NITW Class of 2012</p>
						</div>
					</div>	
				</div>
			</div>
			<a href="#" class="prev arrow" style="display: inline;"><img src="{{STATIC_URL}}img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
			<a href="#" class="next arrow" style="display: inline;"><img src="{{STATIC_URL}}img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>	
		</div>
	</div>


</div>

{% endblock content %}
