{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Lakshya Foundation is a registered ngo">
<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css?1"></LINK>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>

<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/slides.min.jquery.js"></script>

<script>
	$(function(){
		$('#slides').slides({
			preload: true,
			preloadImage: '{{STATIC_URL}}img/loading.gif',
			play: 5000,
			pause: 2500,
			hoverPause: true
		});

		$('#testimonial_slides').slides({
			pagination: false,
			container: 'testimonials_container',
			preload: true,
			preloadImage: '{{STATIC_URL}}img/loading.gif',
			play: 0,
			pause: 2500,
			hoverPause: true

		});

		function showTheList() {
		  var i = 1;
		  function showOne() {
		    if (i === 1) $('.ul li').hide();
		    $('.ul li').eq(i - 1).delay(100).fadeIn(2000, function() {
		      $('.ul li').eq(i - 1).fadeOut(4000, function() {
		        if (++i > 3) i = 1;
		        showOne();
		      });
		    });
		  }
		  showOne();
		}
		showTheList();
	});
</script>

{% endblock %}	

{% block content %}
<div id="example">
	<div id="slides">
		<div class="slides_container">
			<a href="http://www.flickr.com/photos/jliba/4665625073/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" ><img src="{{STATIC_URL}}img/slider-1.jpg" width="990" height="270" alt="Slide 1"></a>
			<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" ><img src="http://slidesjs.com/examples/standard/img/slide-2.jpg" width="990" height="270" alt="Slide 2"></a>
			<a href="http://www.flickr.com/photos/childofwar/2984345060/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" ><img src="http://slidesjs.com/examples/standard/img/slide-3.jpg" width="990" height="270" alt="Slide 3"></a>
			<a href="http://www.flickr.com/photos/b-tal/117037943/" title="We Eat Light | Flickr - Photo Sharing!" ><img src="http://slidesjs.com/examples/standard/img/slide-4.jpg" width="990" height="270" alt="Slide 4"></a>
		</div>
	</div>
</div>
<div id="intro_block" class="left">
	<div>
		<p>At Lakshya - an NIT Warangal alumni led organization - we are building an ecosystem of innovation, research, and equal opportunity so that NIT Warangal makes significant contributions to India and the world in the fields of science and technology.</p> <p>Learn more <a href="#">about us</a> and our work in the areas of <a href="#">innovation, research & entrepreneurship</a>, <a href="#">campus enablers</a> and <a href="#">student enablers</a>.</p>
	</div>
</div>
<div id="stats_block" class = "right">
	<div id="stats">
		<ul class="ul">
			<li>
				<div class="stats_number">&#x20B9; 20,00,000</div>
				<div class="stats_description">funds utilised for Lakshya projects</div>
			</li>
			<li>
				<div class="stats_number">8</div>
				<div class="stats_description">research ideas being supported</div>
			</li>
			<li>
				<div class="stats_number">22</div>
				<div class="stats_description">need based scholarships for NITW students</div>
			</li>
		</ul>
	</div>
	<div id="announcemet_facebook_block">
		<div id="announcement_block" class="left">
			<a href="/accounts/our-core-belief">Know more</a> <p>about our obscession for transparency</p>
		</div>
		<div id="facebook_block" class="right">
			<div class="fb-like-box" data-href="http://www.facebook.com/thelakshyafoundation" data-width="250" data-height="200" data-show-faces="false" data-stream="false" data-header="false"></div>
		</div>
	</div>	
</div>
<div id="updates_block" class="left cL">
	<div id="updates_block_inner_div">
		<h3>Lakshya Updates</h3>
		<hr>
		<ul>
			{% for update in update_list %}
			<li>{{update.update_text|safe|slice:"90"}}  ..... <a href="/updates#update-{{update.id}}">more</a></li>			
			{% endfor %}
		</ul>
		<a id="all_updates_link" class="right" href="/updates">more updates</a>
	</div>
</div>
<div id="testimonials_block" class="right">
	<div id="testimonials_block_inner_div">
		<h3>Lakshya Testimonials</h3>
		<hr>
		<div id="testimonial_slides">
			<div class="testimonials_container">
				<div class="testimonial_slide">
					<p class="testimonial_text">" We started with a small team, but it was a team in every sense of the word. Students, faculble. "</p>
					<div>
						<div class="testimonial_image_div left ">
							<img src="{{STATIC_URL}}img/slider-1.jpg" width="100px" height="100px">
						</div>
						<div id="testimonial_details_div" class="left" >
							<h4>Thomas Zacaria</h4>
							<p>adsfasdasfasdf asdfa </p>
							<p>afdasf asd fas df</p>
						</div>
					</div>	
				</div>

				<div class="testimonial_slide cB">
					<p class="testimonial_text cB">" Every donation made is ring a plant and no one waters a plant they are not allowed to see. We want your tributions "</p>
					<div>
						<div class="testimonial_image_div left ">
							<img src="{{STATIC_URL}}img/slider-1.jpg" width="100px" height="100px">
						</div>
						<div id="testimonial_details_div" class="left" >
							<h4>Thomas Zacaria</h4>
							<p>adsfasdasfasdf asdfa </p>
							<p>afdasf asd fas df</p>
						</div>
					</div>	
				</div>

				<div class="testimonial_slide">
					<p class="testimonial_text">" We are in this for the long-haul. We work to have a lasting impact that will take us closer "</p>
					<div>
						<div class="testimonial_image_div left ">
							<img src="{{STATIC_URL}}img/slider-1.jpg" width="100px" height="100px">
						</div>
						<div id="testimonial_details_div" class="left" >
							<h4>Thomas Zacaria</h4>
							<p>adsfasdasfasdf asdfa </p>
							<p>afdasf asd fas df</p>
						</div>
					</div>	
				</div>
			</div>
			<a href="#" class="prev arrow"><img src="{{STATIC_URL}}img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
			<a href="#" class="next arrow"><img src="{{STATIC_URL}}img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
		</div>
	</div>


</div>
{% endblock content %}
