<html>
<head>
{% block meta %}

	{% block meta_desc %}
	<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
	{% endblock meta_desc %}

	{% block meta_keywords %}
	<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
	{% endblock meta_keywords %}

{% endblock meta %}

<meta name="viewport" content="width=device-width,initial-scale=1">

{% block title %}
	<title>Lakshya - an NITW alumni led organization</title>
{% endblock title %}

{% block precss %}
{% endblock precss %}

<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/foundation/foundation.css"></LINK>
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/foundation/normalize.css"></LINK>
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css"></LINK>

{% block extracss %}
{% endblock extracss %}

<script src="{{STATIC_URL}}js/jquery-latest.min.js"></script>
<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{GOOGLE_SITE_CODE}}' ]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script>
	(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
function smoothScroll(position, callback)
{
	$('html, body').animate({
        scrollTop: position
    }, 600, 'swing', function() {
    	if(callback)
    	{
    		callback();
    	}
    });
}

	$(function() {
		$(window).on('click', function(e) {
			//Click is not on the menu icon and the menu is open, then close the menu
			if($(e.target).closest('li.menu-icon').length == 0 && $('#menu .top-bar').hasClass('expanded')) $('#menu .top-bar').removeClass('expanded');
		});

		$('#menu li.menu-icon').click(function() {
			if($('#menu .top-bar').hasClass('expanded'))
			{
				$('#menu ul.menu-items').hide();
			}
			else
			{
				$('#menu ul.menu-items').show();
			}
		});

		$('#menu #user_container').click(function() {
			$('#logout_container').toggle();
			if($('#logout_container').is(':visible')) {
				$(window).on('click', function() {
					if($('#logout_container').is(':visible')) $('#logout_container').hide();
				});
			}
			else
			{
				$(window).off('click');
			}
			return false;
		});

		$('#logout_container a').click(function() {
			window.location = $(this).attr('href');
			return false;
		});
	});
</script>

{% block scripts %}
{% endblock scripts %}
</head>

<body>
	<div id="wrapper">
		{% block header %}
		<div id="menu">
			<nav class="top-bar" data-topbar role="navigation">
			  <ul class="title-area">
			    <li class="name text-left">
			      {% block header_title %}
			      <a href="/"><img src="{{STATIC_URL}}newimg/logo_top.png" id="logo"><span class="show-for-medium-up">The Lakshya Foundation</span><span class="hide-for-medium-up">Lakshya</span></a>
			      {% endblock header_title %}
			    </li>
			    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			    {% block header_login %}
			    {% if user.is_authenticated %}
			    <li id="login">
			    	<div id="user_container">
			    		<a href="#"><img src="{{STATIC_URL}}newimg/icons/profile.svg"><span>{{user.first_name}}</span></a>
				    	<div id="logout_container">
				    		<a href="/crowdfunding/project/create">Start New Project Campaign</a>
				    		<a href="/crowdfunding/backedprojects">Backed Project Campaigns</a>
				    		<a href="/crowdfunding/myprojects">Created Project Campaigns</a>
				    		<a href="/crowdfunding/faqs">FAQs - Crowdfunding Help</a>
				    		<a href="/logout">Logout</a>
				    	</div>
			    	</div>
			    </li>
			    {% else %}
			    <li id="login"><a href="#" data-reveal-id="login_modal">Login</a></li>
			    {% endif %}
			    {% endblock header_login %}
			  </ul>
			  <section class="top-bar-section">
			    <ul class="left menu-items">
			      <li class="grp-end"><a href="/"><img src="{{STATIC_URL}}newimg/icons/home.svg"><span>The Lakshya Foundation</span></a></li>
			      <li><a href="/innovationgarage"><img src="{{STATIC_URL}}newimg/icons/ig.svg"><span>Innovation Garage</span></a></li>
			      <li><a href="/crowdfunding"><img src="{{STATIC_URL}}newimg/icons/crowdfunding.svg"><span>Crowdfunding</span></a></li>
			      <li><a href="/hackathon/"><img src="{{STATIC_URL}}newimg/icons/hackathon.svg"><span>Hackathon</span></a></li>
			      <li class="grp-end"><a href="/innovation/home"><img src="{{STATIC_URL}}newimg/icons/otherprojects.svg"><span>Other Projects</span></a></li>
			      <li><a href="/about"><img src="{{STATIC_URL}}newimg/icons/about.svg"><span>About</span></a></li>
			      <li class="grp-end"><a href="/accounts/our-core-belief"><img src="{{STATIC_URL}}newimg/icons/transparency.svg"><span>Funding and Transparency</span></a></li>
			      <li><a href="/partners"><img src="{{STATIC_URL}}newimg/icons/mentors.svg"><span>Partners</span></a></li>
			      <li><a href="/donate"><img src="{{STATIC_URL}}newimg/icons/donate.svg"><span>Donate</span></a></li>
			    </ul>
			  </section>
			</nav>
		</div>
		{% endblock header %}

		<div id="content_container">
		{% block content %}
		{% endblock content %}
		</div>

		{% block footer %}
		<div id="footer">
			<div class="row">
				<div class="column small-12 medium-12 large-3">
					<div class="footer-group">
						<table class="heading">
							<tr>
								<td class="heading_text"><span>About Lakshya</span></td>
								<td class="heading_img"><img class="footer_icon" src="{{STATIC_URL}}newimg/icons/email_footer.svg"></td>
							</tr>
						</table>
						<ul>
							<li class="footer-item"><a href="/research/home">Research Funding</a></li>
							<li class="footer-item"><a href="/innovation/home">Innovation Support</a></li>
							<li class="footer-item"><a href="/accounts/donations">Donations</a></li>
							<li class="footer-item"><a href="/accounts/our-core-belief">Transparency</a></li>
							<li class="footer-item"><a href="/terms">Terms</a></li>
						</ul>
					</div>
				</div>
				<div class="column small-12 medium-12 large-3">
					<div class="footer-group">
						<table class="heading">
							<tr>
								<td class="heading_text"><span>Hackathon</span></td>
								<td class="heading_img"><img class="footer_icon" src="{{STATIC_URL}}newimg/icons/hackathon_footer.svg"></td>
							</tr>
						</table>
						<ul>
							<li class="footer-item"><a href="/hackathon">Register</a></li>
							<li class="footer-item"><a href="/hackathon">Event Schedule</a></li>
						</ul>
					</div>
				</div>
				<div class="column small-12 medium-12 large-3">
					<div class="footer-group">
					<table class="heading">
							<tr>
								<td class="heading_text"><span>Innovation Garage</span></td>
								<td class="heading_img"><img class="footer_icon" src="{{STATIC_URL}}newimg/icons/ig_footer.svg"></td>
							</tr>
						</table>
						<ul>
							<li class="footer-item"><a href="/innovationgarage">Start a Project</a></li>
							<li class="footer-item"><a href="/innovationgarage/projects">Explore</a></li>
							<li class="footer-item"><a href="/innovationgarage">Book a machine</a></li>
						</ul>
					</div>
				</div>
				<div class="column small-12 medium-12 large-3">
					<div class="footer-group">
					<table class="heading">
							<tr>
								<td class="heading_text"><span>Crowd Funding</span></td>
								<td class="heading_img"><img class="footer_icon" src="{{STATIC_URL}}newimg/icons/crowdfunding_footer.svg"></td>
							</tr>
						</table>
						<ul>
							<li class="footer-item"><a href="/crowdfunding/project/create">Start a Project</a></li>
							<li class="footer-item"><a href="/crowdfunding">View Projects</a></li>
							<li class="footer-item"><a href="/crowdfunding/faqs">Tips and FAQs</a></li>
						</ul>
					</div>
				</div>
				<div class="column small-12 medium-12 large-12">
					<div class="footer-group text-center">
					<table class="heading">
							<tr>
								<td class="heading_text"><span>The Lakshya Foundation</span></td>
							</tr>
						</table>
						<ul>
							<li class="footer-item"><a href="tel:+919849365735">+91 98493 65735</a></li>
							<li class="footer-item">
								<a href="mailto:info@thelakshyafoundation.org"><img class="footer_icon" src="{{STATIC_URL}}newimg/icons/email_footer.svg"></a>
								<a href="https://www.facebook.com/thelakshyafoundation" target="_blank"><img class="footer_icon" src="{{STATIC_URL}}newimg/icons/facebook_footer.svg"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endblock footer %}
		<div id="login_modal" class="reveal-modal tiny" data-reveal aria-labelledby="Login Modal" aria-hidden="true" role="dialog">
			<p id="login_heading">Login to Lakshya</p>
			<a href="/login/facebook"><div class="social_connect facebook"></div></a>
			<a href="/login/google-oauth2"><div class="social_connect google"></div></a>
		  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
	</div>
	<script src="{{STATIC_URL}}js/foundation/foundation.js"></script>
	<script src="{{STATIC_URL}}js/foundation/foundation.topbar.js"></script>
	<script src="{{STATIC_URL}}js/foundation/foundation.reveal.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="{{STATIC_URL}}js/foundation/foundation.tooltip.js"></script>
	<!-- Other JS plugins can be included here -->
	<script>
		$(document).foundation();
	</script>
</body>