{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>Our core belief</h2>
	<div id="our_core_belief" class="content_div">
		<div id="blockquote_div">
			<blockquote> adfasdf asd fa sdf as df as df as fa sd fas df as fas f asd f sadf s adf sadf sad fsa df as fsa df as f sadfsdf s adf sad f sadf sa fsa df as f sdaf asd f fdsasda sadf as f as fas df sa df sa fd s afd f as f a sfd  sadf  </blockquote>
		</div>
		<p>asfdasdf sad fasd f asdf sad fasd f sadf sa df asd f sadf sad f sadf sda f sad fs daf s fsa df sa fsa f sa f sadf sad fsa df sda fsa df sad fs adf sdaf as df sda f asd fas df as df as df as df as df sd as df as f as df as df dsa f asd f as f dsa f asdfasdfsadfasdfsafasfsdafsda</p>
		<p>asfdasdf sad fasd f asdf sad fasd f sadf sa df asd f sadf sad f sadf sda f sad fs daf s fsa df sa fsa f sa f sadf sad fsa df sda fsa df sad fs adf sdaf as df sda f</p>
		<div class="project_gist_list">
			<div class="project_gist left" >
				<img src="{{STATIC_URL}}/img/temp_img.jpg" />
				<a href=""><h3>Donations</h3></a>
				<p>asdfasdf asd f saf sa df as fd <br>safd sadf sad fasd fsa df sa fasfd sdfa df</p>
			</div>
			<div class="project_gist left" >
				<img src="{{STATIC_URL}}/img/temp_img.jpg" />
				<a href=""><h3>Expenses</h3></a>
				<p>asdfasdf asd f saf sa df as fd <br>safd sadf sad fasd fsa df sa fasfd sdfa df</p>
			</div>
			<div class="project_gist left" >
				<img src="{{STATIC_URL}}/img/temp_img.jpg" />
				<a href=""><h3>Audits</h3></a>
				<p>asdfasdf asd f saf sa df as fd <br>safd sadf sad fasd fsa df sa fasfd sdfa df</p>
			</div>			
		</div>
		<br>
		<p class="cB" >Foor any queries, <a href="#">contact us</a></p>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li>Our core belief</li>
		<li><a href="/accounts/donations">Donations</a></li>
		<li><a href="/accounts/expenses">Expenses</a></li>
		<li><a href="/accounts/audits">Audits</a></li>
	</ul>
</div>
{% endblock content %}