{% extends "base.html" %}
{% block meta %}
<title>Lakshya Innovations List</title>
<meta name="description" content="Lakshya Foundation is a registered ngo">
<meta name="keywords" content="Alumni, Students and Faculty of NITW working together to bring social change" />
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"></LINK>
<script src="{{STATIC_URL}}js/jquery.min.js"></script>	
<script type="text/javascript">
$(function(){	
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
	});
});
</script>
{% endblock %}

{% block content %}
<div class = "content_with_page_title left">
	<h2>Pilot Projects</h2>
	<div class="content_div">
		<p>Lakshya carries out pilot projects to test their feasibilty and impact of before taking them up as a sustained activities.</p>
		<br>
		<a id="automation"><h3>Administrative System Automation</h3></a>
		<div>
			<p>Efficiency of the administrative system reflects directly on the institute. Whether it is retrieving data, dispatching transcripts or analyzing student preformances over time, automation plays a key role. In an increasing connected world, storing data in files is no longer an option.</p>
			<p>In our effort to make the sytem more efficient, we are automating the process of requesting for official document and letters like transcripts, degreee certificates and bonafide certificates. The project began 24th September with Lakshya working with the Academic Section and institute web team to develop a reliable online system. Features of the system include: </p>
			<ul>
				<li>Online process to request for offical student records, documents, certificates</li>
				<li>Transparency in costs and accountability of staff built into the system</li>
				<li>Online payment options</li>
			</ul>			
		</div>
		<br>
		<a id="internships"><h3>Internships</h3></a>
		<div>
			<p></p>
			<p>As part of a pilot to send NIT Warangal students to top engineering and research institute on internship programs, Lakshya arranged for two students to receive interships at IIT Madras. The more exposure students get, the more they will be able to bring back to NIT Warangal.</p>
			<table class="internships_numbers" border="1">
				<tr>
					<th>Student</th><th>Guide</th><th>Subject</th>
				</tr>
				<tr>
					<td>T.Viswarath</td><td>Prof.P.Chandramouli</td><td>Vibrations</td>
				</tr>
				<tr>
					<td>Deepinka Agarwal</td><td>Prof.A.Ramesh</td><td>IC Engines</td>
				</tr>
			</table>			
		</div>	
		<br>		
		<a id="ek_jodi_kapada"><h3>Ek Jodi Kapda</h3></a>
		<div>
			<div id="ek_jodi_kapada_desc" class="left">
				<p>In July 2010, Lakshya took up the 'Ek Jodi Kapda' ('A pair of clothes') drive at NIT Warangal. This was originally conceived by Goonj. The drive included spreading awareness about the basic need of clothing, coordinating with student teams, collecting used clothes from students and faculty, and finally handing them over to volunteers from Whirlpool, our partners for recycling and distribution.
</p>
				<p>The project was a huge success with over 1800 articles of clothing collected in under 3 weeks with over 40 volunteers working for the cause.</p>
			</div>
			<div id = "ek_jodi_kapada_stats" class="right">
				<h3>Impact</h3>
				<div id="stats_number">1800+</div>
				<div id="stats_description">articles of clothing collected</div>
				<br>
				<div id="stats_number">50</div>
				<div id="stats_description">Student volunteers mobilized by Lakshya</div>
			</div>
			<div class="cB">
				<p>For some pics <a href="#">click here</a></p>
			</div>
		</div>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Pilot Projects</h3>
	<ul>
		<li><a href="#automation" class="scroll">Automation</a></li>
		<li><a href="#internships" class="scroll">Internshipoos</a></li>
		<li><a href="#ek_jodi_kapada" class="scroll">Ek Jodi Kapda</a></li>
	</ul>
</div>
{% endblock content %}
