{% extends "base.html" %}

{% block title %}
<title>Research Facilitator - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{%block header_slide%}
	<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/headers/projects.png" width="990" height="420" alt="Team"></a>
{% endblock header_slide%}

{% block content %}
<br>
<h2 style="color: #2e93a8;">Research Facilitator Program</h2>
<div id="research_main_content" class="left">
	<p>This program provides funding to NIT Warangal UG and PG students whose work is chosen for presentation in top national/ international conferences and internships</p>

	<div class="content_block">
		<div class="content_block_inner">
		
			<h3>Selection Criteria</h3>
			<hr>
			<p>NIT Warangal UG and PG students are eligible. Students must receive selection confirmation from conference organizers or internship providers.</p>

		</div>
	</div>

	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Selection Process</h3>
			<hr>
			<ul>
				<li>Student mails selection confirmation and conference/internship details</li>
				<li>Lakshya committee evaluates conference/internship ranking</li>
				<li>Funding is provided based on conference/internship ranking and after student confirms participation</li>
			</ul>
		</div>
	</div>

	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Funding Criteria</h3>
			<hr>
			<p>Funding amount is based on the releative difficulty of obtaining internship/slot in conference and the quality of the hosting organization<p>
		</div>
	</div>

</div>

<!--<div class="left">

	<h2 style="color: #2e93a8;">Internships funded till date</h2>
		<table class="internships-table" width="500px" >
			<tr>
				<th>Name</th><th>University/Company</th><th>Country</th><th>Funding (INR)</th>
			</tr>
			<tr>
				<td>Aditi Agarwal</td><td>Texas A&M University</td><td>USA</td><td>54,348</td>
			</tr>
			<tr>
				<td>Shaik Waseem</td><td>Texas A&M University</td><td>USA</td><td>54,348</td>
			</tr>
			<tr>
				<td>Deepti Reddy</td><td>Texas A&M University</td><td>USA</td><td>54,348</td>
			</tr>
			<tr>
				<td>Saurav Shahlot</td><td>Skoda Headquarters</td><td>Czech Republic</td><td>42,000</td>
			</tr>
			<tr>
				<td>Avinash Yadav</td><td>National Chiao Tung University</td><td>Taiwan</td><td>35,000</td>
			</tr>
			<tr>
				<td>Chanukya Patnaik</td><td>Nanyang Technological University</td><td>Singapore</td><td>35,000</td>
			</tr>
		</table>

	<a class="button" href="/research/apply-internship-funding">Apply for funding for your internship</a>


	<h2 style="color: #2e93a8;">Paper Presentations funded till date</h2>
		<table class="internships-table" width="500px" >
			<tr>
				<th>Student Name</th><th>Conference</th><th>Place</th>
			</tr>
			<tr>
				<td>Ayush Kumar Jain</td><td>Nirma University International Conference on Engineering</td><td>Ahmedabad</td>
			</tr>
			<tr>
				<td>Yagnamurthy sai saran</td><td>Nirma University International Conference on Engineering</td><td>Ahmedabad</td>
			</tr>
			<tr>
				<td>Harpreet Singh Budwal</td><td> IEEE TENCON SPRING 2013</td><td>Sydney, Australia</td>
			</tr>
			<tr>
				<td>Sumanth Reddy</td><td> SCMT3 Conference, 2013</td><td>Kyoto, Japan</td>
			</tr>
		</table>

	<a class="button" href="/research/apply-conference-funding">Apply for funding for paper presentation</a>

</div>-->
<div class = "right_navigation_div right">
	<h3>Financial Assistance Program</h3>
	<ul>
		<li>Research Facilitator Program Home</li>
		<li><a href="/research/about">About Internship Funding</a></li>
		<li><a href="/research/apply-rfp/">Apply for Funding</a></li>

	</ul>
</div>

<!-- <div id="research_image" class="left">
	<br>
	<img src="{{STATIC_URL}}img/research_facilitator/research_facilitator_program-1.jpg" width="480px"> 

</div> -->
{% endblock content %}
