{% extends "base.html" %}

{% block title %}
<title>Research Facilitator - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{%  block header %}
<div id="example">
	<div id="header_wrapper">

	<div style="width:990px; height:24px; background-image:url('{{STATIC_URL}}img/REC-top.png'); opacity:0.8;">
		<div id="secondary_navigation" class = "right">
		<a href="/team"> Team </a>
		<a href="/contact"> Contact Us </a>
		<a href="/"> Home </a>
	</div>
	</div>

	<div style="width:990px; height:134px; background-image:url('{{STATIC_URL}}img/nav_bg.png'); opacity:0.8;">
		<div id="primary_navigation" class = "right cR">
		<ul>
		<li><a href="#">About Us<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/about">About Lakshya</a></li>
				<li><a href="/team">Team</a></li>
			</ul>
		</li>
		<li><a href="#">Projects<span class="drop">&#9660;</span></a>
			<ul id="projects-menu">
				<li><p>Innovation, Research and Entreprenuership</p></li>
				<li><a href="/innovation/home">- Innovation Support Program</a></li>
				<li><a href="/research/home">- Research Facilitator Program</a></li>
				<li><p>Campus Enablers</p></li>
				<li><a href="/automation/home">- Administrative Process Automation</a></li>
				<li><p>Student Enablers</p></li>
				<li><a href="/scholarships/home">- Financial Assistance Program</a></li>
				<li><p>Others</p></li>
				<li><a href="/pilot-projects">- Pilot Projects</a></li>
			</ul>
		</li>
		<li><a href="#">Funds & Transparency<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/accounts/our-core-belief">Our core belief</a></li>
				<li><a href="/accounts/donations">Donations</a></li>
				<li><a href="/accounts/expenses">Expenses</a></li>
				<li><a href="/accounts/audits">Audit Statements</a></li>				
			</ul>
		</li>
		<li><a href="/donate">Donate Now</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="slides">
	<div class="slides_container" >
			<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/projects.jpg" width="990" height="420" alt="Team"></a>
	
	</div>
	</div>
	
</div>

{% endblock header%}

{% block content %}
<br>
<h2 style="color: #2e93a8;">Research Facilitator Program</h2>
<div id="intro">
	<p>This program provides funding to NIT Warangal UG and PG students whose work is chosen for presentation in top national/ international conferences and internships</p>
</div>
<div id="research_main_content" class="left">
	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Selection Criteria</h3>
			<hr>
			<p>NIT Warangal UG and PG students are eligible. Students must receive selection confirmation from conference organizers or internship providers.</p>

		</div>
	</div>

	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Selection Process</h3>
			<hr>
			<ul>
				<li>Student mails selection confirmation and conference/internship details</li>
				<li>Lakshya committee evaluates conference/internship ranking</li>
				<li>Funding is provided based on conference/internship ranking and after student confirms participation</li>
			</ul>
		</div>
	</div>

	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Funding Criteria</h3>
			<hr>
			<p>Funding amount is based on the releative difficulty of obtaining internship/slot in conference and the quality of the hosting organization<p>
		</div>
	</div>

	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Apply For Funding</h3>
			<hr>
			<p>To apply for funding, Please mail to <a href="mailto:info@thelakshyafoundation.org">info@thelakshyafoundation.org</a></p>
		</div>
	</div>

</div>

<div class="left">

	<h2 style="color: #2e93a8;">Internships funded till date</h2>
		<table class="internships-table" width="500px" >
			<tr>
				<th>Name</th><th>University/Company</th><th>Country</th><th>Funding (INR)</th>
			</tr>
			<tr>
				<td>Aditi Agarwal</td><td>Texas A&M University</td><td>USA</td><td>54,348</td>
			</tr>
			<tr>
				<td>Shaik Waseem</td><td>Texas A&M University</td><td>USA</td><td>54,348</td>
			</tr>
			<tr>
				<td>Deepti Reddy</td><td>Texas A&M University</td><td>USA</td><td>54,348</td>
			</tr>
			<tr>
				<td>Saurav Shahlot</td><td>Skoda Headquarters</td><td>Czech Republic</td><td>42,000</td>
			</tr>
			<tr>
				<td>Avinash Yadav</td><td>National Chiao Tung University</td><td>Taiwan</td><td>35,000</td>
			</tr>
			<tr>
				<td>Chanukya Patnaik</td><td>Nanyang Technological University</td><td>Singapore</td><td>35,000</td>
			</tr>
		</table>
	<h2 style="color: #2e93a8;">Conferences funded till date</h2>
		<table class="internships-table" width="500px" >
			<tr>
				<th>Student Name</th><th>Conference</th><th>Place</th>
			</tr>
			<tr>
				<td>Ayush Kumar Jain</td><td>Nirma University International Conference on Engineering</td><td>Ahmedabad</td>
			</tr>
			<tr>
				<td>Yagnamurthy sai saran</td><td>Nirma University International Conference on Engineering</td><td>Ahmedabad</td>
			</tr>
			<tr>
				<td>Harpreet Singh Budwal</td><td> IEEE TENCON SPRING 2013</td><td>Sydney, </td>
			</tr>
			<tr>
				<td>Sumanth Reddy</td><td> SCMT3 Conference, 2013</td><td>Kyoto, Japan</td>
			</tr>
		</table>



</div>
<!-- <div id="research_image" class="left">
	<br>
	<img src="{{STATIC_URL}}img/research_facilitator/research_facilitator_program-1.jpg" width="480px"> 

</div> -->
{% endblock content %}
