{% extends "newbase.html" %}

{% block title %}
<title>Research Facilitator - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block precss %}
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_v_1_0_3.css?1"></LINK>
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_1.css"></LINK>
{% endblock precss %}

{% block scripts %}
<script type="text/javascript">
function setFlexField(scholar_id)
{
	document.getElementById("id_flex_field").value = document.getElementById(scholar_id).innerHTML
	intro_string = "To sponsor: Enter amount & email ID. Click on 'donate by card/net banking' button</br></br>"
	document.getElementById("popup_text").innerHTML = intro_string + "</br>Pledged: " + document.getElementById(scholar_id+"_pledged").innerHTML
+" of "+document.getElementById(scholar_id+"_goal").innerHTML 
+"</br></br>"+document.getElementById(scholar_id).innerHTML
+"</br>"+document.getElementById(scholar_id+"_college_conf").innerHTML
+"</br>"+ document.getElementById(scholar_id+"_duration").innerHTML
+"</br>CGPA: "+document.getElementById(scholar_id+"_cgpa").innerHTML

}
</script>

{% endblock %}

{%block header_slide%}
	<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/headers/projects.png" width="990" height="420" alt="Team"></a>
{% endblock header_slide%}

{% block content %}
<div class="content_wrap_old clearfix">
		<script src="{{STATIC_URL}}js/popup/modernizr.custom.js"></script>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/popup/default.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/popup/component.css" />

<!-- modal popups start -->

		<div class="md-modal md-effect-1" id="modal-1">
			<div class="md-content">
				<h3>Intern Sponsorship</h3>

					<table style="padding: 5px">
					<tr><td style="padding: 15px" width="50%"><div id="popup_text" class="popup_text"></div></td>
					<td><div class="donate_section">{% include "test.html" %}</div></td>
					</tr>
					</table>

				<button class="md-close">EXIT</button>
			</div>
		</div>
<!-- modal popups end -->

<br>
<h2 style="color: #2e93a8;">Research Facilitator Program - Sponsoring Interns</h2>

<div class="left">

<u>Sponsor (in part or full)</u>- Funding is routed through Lakshya to the students. You can use your card or internet enabled bank account here.<br/><br/>
<u>Pledge</u> - If you wish to contribute directly to the student, please send us an email at <b>info@thelakshyafoundation.org</b><br/><br/>
More details about the interns and their work can be found <a href="https://docs.google.com/spreadsheets/d/1PzprTWxP_ttIZjf2vlx0TCxHqwI7I5k9UFfb7WoPR04/edit?usp=sharing">here</a>.
<br/><br/>
<table class="research_applicants">
		<tr>
			<td><B>S.No.</B></td>
			<td><B>Contribute</B></td>
			<td><B>Name</B></td>
			<td><B>University</B></td>
			<td><B>Duration</B></td>
			<td><B>Alumni Funding</B></td>
			<td><B>Requested Funding</B></td>
			<td><B>Stipend/Sponsorship</B></td>
			<td><B>CGPA</B></td>
		</tr>
		<tr class="group1">
			<td>1</td>
			<td><button class="button" type="submit" value="Submit" disabled style="cursor: default; background-color: #808080">Funding Goal Reached</button></td>

			<td><div id="prianka">G Prianka (Biotech)</div></td>
			<td><div id="prianka_college_conf">Université INRS, Québec city, Canada</div></td>
			<td><div id="prianka_duration">08May - 30Jul</div></td>
			<td><div id="prianka_pledged">Rs.41,000</div></td>
			<td><div id="prianka_goal">Rs.41,000</div></td>
			<td><div id="prianka_sponsorship">Rs.2,18,970</div></td>
			<td><div id="prianka_cgpa">8.55</div></td>
		</tr>
		<tr class="group2">
			<td>2</td>
			<td><button class="md-trigger" data-modal="modal-1" onclick="setFlexField('kritesh')">Sponsor</button></td>
			<td><div id="kritesh">Kritesh Abhishek (EEE)</div></td>
			<td><div id="kritesh_college_conf">NUS, Singapore</div></td>
			<td><div id="kritesh_duration">08May-16July</div></td>
			<!--td><div id="kritesh_pledged">Rs.24,400</td-->
			<td><div id="kritesh_pledged">Rs.57,500</td>
			<td><div id="kritesh_goal">Rs.60,000</div></td>
			<td><div id="kritesh_sponsorship">-</div></td>
			<td><div id="kritesh_cgpa">7.08</div></td>
		</tr>
		<tr class="group2">
			<td>3</td>
			<td><button class="md-trigger" data-modal="modal-1" onclick="setFlexField('saikrishna')">Sponsor</button></td>
			<td><div id="saikrishna">M.L.N.V Sai Krishna (Biotech)</div></td>
			<td><div id="saikrishna_college_conf">Kyoto University, Japan</div></td>
			<td><div id="saikrishna_duration">10May-15July</div></td>
			<td><div id="saikrishna_pledged">Rs.60,100</div></td>
			<td><div id="saikrishna_goal">Rs.60,000</div></td>
			<td><div id="saikrishna_sponsorship">-</div></td>
			<td><div id="saikrishna_cgpa">7.56</div></td>
		</tr>
		<tr class="group2">
			<td>4</td>
			<td><button class="md-trigger" data-modal="modal-1" onclick="setFlexField('aditya')">Sponsor</button></td>
			<td><div id="aditya">Aditya Kumar Agarwal (ME)</div></td>
			<td><div id="aditya_college_conf">RWTH Aachen University, Germany</div></td>
			<td><div id="aditya_duration">15May-16July</div></td>
			<td><div id="aditya_pledged">Rs.44,100</div></td>
			<td><div id="aditya_goal">Rs.60,000</div></td>
			<td><div id="aditya_sponsorship">Rs.80,000</div></td>
			<td><div id="aditya_cgpa">9.54</div></td>
		</tr>
<!--
		<tr class="group6">
			<td>5</td>
			<td><button class="md-trigger" data-modal="modal-1" onclick="setFlexField('amit')">Sponsor</button></td>
			<td><div id="amit">Amit Maroo</div></td>
			<td><div id="amit_college_conf">PM2014 Conference, Orlando, Florida, USA</div></td>
			<td><div id="amit_duration">18-21 May (3 days)</div></td>
			<td><div id="amit_pledged">$0</div></td>
			<td><div id="amit_goal">$1,000 (as loan)</div></td>
			<td><div id="amit_sponsorship">$0</div></td>
			<td><div id="amit_cgpa">9.09</div></td>
		</tr>
-->
		<tr class="group2">
			<td>5</td>
			<td><button class="md-trigger" data-modal="modal-1" onclick="setFlexField('shubham')">Sponsor</button></td>
			<td><div id="shubham">Shubham Sahu (Biotech)</div></td>
			<td><div id="shubham_college_conf">Fujian Agriculture and Forestry University, China</div></td>
			<td><div id="shubham_duration">15May-30July</div></td>
			<td><div id="shubham_pledged">Rs.40,000</div></td>
			<td><div id="shubham_goal">Rs.60,000</div></td>
			<td><div id="shubham_sponsorship">Rs.60,000</div></td>
			<td><div id="shubham_cgpa">8.20</div></td>
		</tr>

		<tr class="group3">
			<td>6</td>
			<td><button class="md-trigger" data-modal="modal-1" onclick="setFlexField('shivam')">Sponsor</button></td>
			<td><div id="shivam">Shivam Bahuguna (ME)</div></td>
			<td><div id="shivam_college_conf">TU Freiberg, Germany</div></td>
			<td><div id="shivam_duration">15May-16July</div></td>
			<td><div id="shivam_pledged">Rs.33,101</div></td>
			<td><div id="shivam_goal">Rs.60,000</div></td>
			<td><div id="shivam_sponsorship">-</div></td>
			<td><div id="shivam_cgpa">8.85</div></td>
		</tr>
		<!--
		<tr class="group4">
			<td>7</td>
			<td><button class="md-trigger" data-modal="modal-1" onclick="setFlexField('balaajhi')">Sponsor</button></td>
			<td><div id="balaajhi">M. Balaajhi</div></td>
			<td><div id="balaajhi_college_conf">The Eskitis Institute-Griffith Unv, Brisbane, Australia</div></td>
			<td><div id="balaajhi_duration">2 Months (May, June)</div></td>
			<td><div id="balaajhi_pledged">$0</div></td>
			<td><div id="balaajhi_goal">$2,000.00</div></td>
			<td><div id="balaajhi_sponsorship">$0</div></td>
			<td><div id="balaajhi_cgpa">7.74</div></td>
		</tr>
		<tr class="group5">
			<td>8</td>
			<td><button class="button" type="submit" value="Submit" disabled style="cursor: default; background-color: #808080">Funding goal reached</button></td>
			<td><div id="prashanth">Gomatham Prashanth</div></td>
			<td><div id="prashanth_college_conf">Livelabs, Singapore Mangement University</div></td>
			<td><div id="prashanth_duration">2 months(May, June)</div></td>
			<td><div id="prashanth_pledged">Rs.0</div></td>
			<td><div id="prashanth_goal">Rs.17,000</div></td>
			<td><div id="prashanth_sponsorship">S$1,800 p.m.</div></td>
			<td><div id="prashanth_cgpa">8.41</div></td>
		</tr>
		-->
</table>


</div>

		<div class="md-overlay"></div><!-- the overlay element -->

		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
		<script src="{{STATIC_URL}}js/popup/classie.js"></script>
		<script src="{{STATIC_URL}}js/popup/modalEffects.js"></script>

		<!-- for the blur effect -->
		<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '{{STATIC_URL}}js/popup/';
		</script>
		<script src="{{STATIC_URL}}js/popup/cssParser.js"></script>
		<script src="{{STATIC_URL}}js/popup/css-filters-polyfill.js"></script>


</div>
{% endblock content %}

