{% extends "base.html" %}
{% block content %}
<br>
<h2>Research Facilitator Program</h2>
<div id="intro">
	<p>This program provides funding to NIT Warangal UG and PG students whose work is chosen for presentation in top national and international conferences.</p>
</div>
<div id="research_main_content" class="left">
	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Selection Criteria</h3>
			<hr>
			<p>NIT Warangal UG and PG students are eligible. Students must receive selection confirmation from conference organizers.</p>

		</div>
	</div>

	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Selection Process</h3>
			<hr>
			<ul>
				<li>Student mails selection confirmation and conference details</li>
				<li>Lakshya committee evaluates conference ranking</li>
				<li>Funding is provided based on conference ranking and after student confirms participation</li>
			</ul>
		</div>
	</div>

	<div class="content_block">
		<div class="content_block_inner">		
			<h3>Funding Criteria</h3>
			<hr>
<p>International Conferences</p>
			<ul>
				<li>Tier-1 Conference: 100% Airfare + registration fee</li>
				<li>Tier-2 Conference: 100% Airfare</li>
				<li>Tier-3 Conference: 50% Airfare</li>
			</ul>
<p>National Conferences</p>
			<ul>
				<li>Tier-1 Conference: 100% Registration fee</li>
				<li>Tier-2 Conference: 50% Registration fee</li>
				<li>Tier-3 Conference: 25% Registration fee</li>
			</ul>

		</div>
	</div>

</div>
<div id="research_image" class="left">
	<h3>Apply For Funding</h3>
	<hr>
	<p>To apply for funding, Please mail to <a href="mailto:info@thelakshyafoundation.org">info@thelakshyafoundation.org</a></p>
	<br>
	<img src="{{STATIC_URL}}img/research_facilitator/research_facilitator_program.jpg" width="480px"> 

</div>
{% endblock content %}
