{% extends "base.html" %}

{% block title %}
<title>Funding Partners - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}
{%block header_slide%}
	<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/headers/projects.png" width="990" height="420" alt="Team"></a>
{% endblock header_slide%}

{% block content %}
<div class = "content_with_page_title left">
	<h2>Funding Partners</h2>
	<p>Lakshya is supported in various capacities by the NIT Warangal alumni. Given below is a list of alumni and alumni-led organizations which fund Lakshya for the specific purpose of providing scholarships.</p>

	{% for funding_partner,scholar_list in funding_partners_list%}	
		<h3 id="{{funding_partner.id}}">{{funding_partner.name}}</h3>
		{{funding_partner.description|safe}}
		<br/>Sponsored students:
		<div class="scholar_funded_list">
			<ul class="left">
				{% for scholar in scholar_list %}
					{% if not forloop.counter|divisibleby:"2" %}
						<li><a href="/scholarships/scholars-list/{{scholar.id}}">{{scholar.name}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="left">
				{% for scholar in scholar_list %}
					{% if forloop.counter|divisibleby:"2" %}
						<li><a href="/scholarships/scholars-list/{{scholar.id}}">{{scholar.name}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<hr class="cB">
	{% endfor %}
</div>
<div class = "right_navigation_div right">
	<h3>Scholarships</h3>
	<ul>
		<li><a href="/scholarships/home">Scholarships Home</a></li>
		<li><a href="/scholarships/about-scholarships-project">About Scholarships</a></li>
		<li><a href="/scholarships/scholars-list/16">List of Scholars</a></li>
		<li>Funding Partners</li>
		<li><a href="/scholarships/apply-scholarships">Apply For Scholarships</a></li>		
	</ul>
</div>
{% endblock content %}
