{% extends "base.html" %}

{% block title %}
<title>Funding Partners - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}
{%  block header %}
<div id="example">
	<div id="header_wrapper">

	<div style="width:990px; height:24px; background-image:url('{{STATIC_URL}}img/REC-top.png'); opacity:0.8;">
		<div id="secondary_navigation" class = "right">
		<a href="/team"> Team </a>
		<a href="/contact"> Contact Us </a>
		<a href="/"> Home </a>
	</div>
	</div>

	<div style="width:990px; height:134px; background-image:url('{{STATIC_URL}}img/nav_bg.png'); opacity:0.8;">
		<div id="primary_navigation" class = "right cR">
		<ul>
		<li><a href="#">About Us<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/about">About Lakshya</a></li>
				<li><a href="/team">Team</a></li>
			</ul>
		</li>
		<li><a href="#">Projects<span class="drop">&#9660;</span></a>
			<ul id="projects-menu">
				<li><p>Innovation, Research and Entreprenuership</p></li>
				<li><a href="/innovation/home">- Innovation Support Program</a></li>
				<li><a href="/research/home">- Research Facilitator Program</a></li>
				<li><p>Campus Enablers</p></li>
				<li><a href="/automation/home">- Administrative Process Automation</a></li>
				<li><p>Student Enablers</p></li>
				<li><a href="/scholarships/home">- Financial Assistance Program</a></li>
				<li><p>Others</p></li>
				<li><a href="/pilot-projects">- Pilot Projects</a></li>
			</ul>
		</li>
		<li><a href="#">Funds & Transparency<span class="drop">&#9660;</span></a>
			<ul>
				<li><a href="/accounts/our-core-belief">Our core belief</a></li>
				<li><a href="/accounts/donations">Donations</a></li>
				<li><a href="/accounts/expenses">Expenses</a></li>
				<li><a href="/accounts/audits">Audit Statements</a></li>				
			</ul>
		</li>
		<li><a href="/donate">Donate Now</a></li>
		</ul>
	</div>
	</div>
</div>
<div id="slides">
	<div class="slides_container" >
			<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/projects.jpg" width="990" height="420" alt="Team"></a>
	
	</div>
	</div>
	
</div>

{% endblock header%}

{% block content %}
<div class = "content_with_page_title left">
	<h2>Funding Partners</h2>
	<p>Lakshya is supported in various capacities by the NIT Warangal alumni. Given below is a list of alumni and alumni-led organizations which fund Lakshya for the specific purpose of providing scholarships.</p>

	{% for funding_partner,scholar_list in funding_partners_list%}	
		<h3 id="{{funding_partner.id}}">{{funding_partner.name}}</h3>
		{{funding_partner.description|safe}}
		<br/>Sponsored students:
		<div class="scholar_funded_list">
			<ul class="left">
				{% for scholar in scholar_list %}
					{% if not forloop.counter|divisibleby:"2" %}
						<li><a href="/scholarships/scholars-list/{{scholar.id}}">{{scholar.name}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="left">
				{% for scholar in scholar_list %}
					{% if forloop.counter|divisibleby:"2" %}
						<li><a href="/scholarships/scholars-list/{{scholar.id}}">{{scholar.name}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<hr class="cB">
	{% endfor %}
</div>
<div class = "right_navigation_div right">
	<h3>Scholarships</h3>
	<ul>
		<li><a href="/scholarships/home">Scholarships Home</a></li>
		<li><a href="/scholarships/about-scholarships-project">About Scholarships</a></li>
		<li><a href="/scholarships/scholars-list/16">List of Scholars</a></li>
		<li>Funding Partners</li>
		<li><a href="/scholarships/apply-scholarships">Apply For Scholarships</a></li>		
	</ul>
</div>
{% endblock content %}
