{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>Scholarships</h2>
	<div class="content_div">
		<div id="innovation_project_desc" class="left">
			<p>Lakshya provides scholarships to students who cannot afford the fee. Ours is an interest free, collateral free loan model with a repayment period of five years</p>
		</div>
		<div id = "innnovation_stats" class="right">
			<h3>Impact</h3>
			<div id="stats_number">22</div>
			<div id="stats_description">students funded</div>
			<br>
			<div id="stats_number">&#x20B9; 15,00,000</div>
			<div id="stats_description">Funds disbursed for scholarships</div>
		</div>
		<div class="cB">
			<p></p>
		</div>
		<h3>Funding partners</h3>
		<p>Many individuals, foundations and groups have come forward to generously support students chosen by Lakshya.</p>
		<ul class="left funding_partners_list">
			{% for funding_partner in funding_partners_list %}
				{% if not forloop.counter|divisibleby:"2" %}
					<li><a href="/scholarships/funding-partners/#{{funding_partner.id}}">{{funding_partner.name}}</a></li>
				{% endif %}
			{% endfor %}		
		</ul>
		<ul class="left funding_partners_list">
			{% for funding_partner in funding_partners_list %}
				{% if forloop.counter|divisibleby:"2" %}
					<li><a href="/scholarships/funding-partners/#{{funding_partner.id}}">{{funding_partner.name}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		<h3 class="cB">Lakshya Scholars</h3>	
		<p>Students pursuing their undergraduate studies in NIT Warangal apply for Lakshya scholarships after they are admitted. Given below are the list of students who receive financial support from Lakshya.</p>
		{% for year, scholar_list in scholar_year_list %}
		<div class="scholar_year_list left">
			<p class="year" > {{year}} </p>
			<hr>
			{% for scholar in scholar_list%}
				<p><a href="/scholarships/scholars-list/{{scholar.id}}">{{scholar.name}}</a></p>
			{% endfor %}			
		</div>
		{% endfor %}
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Scholarships</h3>
	<ul>
		<li>Scholarships Home</li>
		<li><a href="/scholarships/about-scholarships-project">About Scholarships</a></li>
		<li><a href="/scholarships/scholars-list">List of Scholars</a></li>
		<li><a href="/scholarships/funding-partners">Funding Partners</a></li>
	</ul>
</div>
{% endblock content %}
