{% extends "base.html" %}
{% block content %}
<div class = "content_with_page_title left">
	<h2>Scholarships Project</h2>
	<div class="content_div">
		<div id="innovation_project_desc" class="left">
			<p>The Innovation Project is a step towards building an atmosphere of research, innovation and entrepreneurship at NIT Warangal.</p>
			<p>The Innovation Project involves:</p>

			<ul>
				<li>Funding and guiding innovative ideas from students and faculty</li>
				<li>Protecting IPR resulting from such ideas</li>
				<li>Encourage students to take up technology entrepreneurship</li>

			</ul>
		</div>
		<div id = "innnovation_stats" class="right">
			<h3>Impact</h3>
			<div id="stats_number">8</div>
			<div id="stats_description">innovative ideas funded</div>
			<br>
			<div id="stats_number">Rs.3,30,000</div>
			<div id="stats_description">Total funding amount</div>
		</div>
		<div class="cB">
			<p></p>
		</div>
		<h3>Funding partners</h3>
		<p>asdfasfd sad f sa f asf  asf as f as df sa f sa df sd f sa df s adf sad f sdf sdafasdf asd fs adf sad f sadf sa df sad f sadf s f sd af sda f sad f sda fsa df sda f a f sd f</p>
		<ul class="left funding_partners_list">
			<li>Tom Zacharia Foundation</li>
			<li>Tom Zacharia Foundation</li>
			<li>Tom Zacharia Foundation</li>
			<li>Tom Zacharia Foundation</li>
		</ul>	

		<ul class="left funding_partners_list">
			<li>Tom Zacharia Foundation</li>
			<li>Tom Zacharia Foundation</li>
			<li>Tom Zacharia Foundation</li>
			<li>Tom Zacharia Foundation</li>
		</ul>

		<h3 class="cB">Lakshya Scholars</h3>	
		<p>asdfasfd sad f sa f asf  asf as f as df sa f sa df sd f sa df s adf sad f sdf sdafasdf asd fs adf sad f sadf sa df sad f sadf s f sd af sda f sad f sda fsa df sda f a f sd f</p>
		<table class="scholars_list_table" border="1">
			<tr><th>2008-2012</th><th>2008-2012</th><th>2008-2012</th></tr>
			<tr><td>asdfasdf afsdfassddfa</td><td>asdfasdf afsdfassdfa</td><td>asdfasdf afsdfassdfa</td></tr>
			<tr><th>2008-2012</th><th>2008-2012</th><th>2008-2012</th></tr>
			<tr><td>asdfasdf afsdfassdfa</td><td>asdfasdf afsdfassdfa</td><td>asdfasdf afsdfassdfa</td></tr>
			<tr><td>asdfasdf afsdfassdfa</td><td>asdfasdf afsdfassdfa</td><td>asdfasdf afsdfassdfa</td></tr>
			<tr><td>asdfasdf afsdfassdfa</td><td>asdfasdf afsdfassdfa</td><td>asdfasdf afsdfassdfa</td></tr>
		</table>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>Innovation Project</h3>
	<ul>
		<li>Scholarship Project Home</li>
		<li><a href="/innovation/about-innovation-project">About Scholarhip Project</a></li>
		<li><a href="/innovation/innovations-list">Scholars list</a></li>
		<li><a href="/innovation/innovations-list">Funding Partners</a></li>
	</ul>
</div>
{% endblock content %}