{% extends "base.html" %}

{% block title %}
<title>Seed Fund | Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block meta %}
<script src="{{STATIC_URL}}js/jquery.min.js"></script>	
<script type="text/javascript">
$(function(){
	$("#why_corpus").hide();
	$("#why_seed").show();
	$('#why_seed_link').addClass("seed-link-selected")
	$('#why_corpus_link').addClass("seed-link-not-selected")	
	$("#why_seed_link").click(function(){
		$("#why_corpus").hide();
		$("#why_seed").show();
		$('#why_seed_link').addClass("seed-link-selected")
		$('#why_seed_link').removeClass("seed-link-not-selected")
		$('#why_corpus_link').removeClass("seed-link-selected")
		$('#why_corpus_link').addClass("seed-link-not-selected")

	});
	$("#why_corpus_link").click(function(){
		$("#why_corpus").show();
		$("#why_seed").hide();
		$('#why_seed_link').removeClass("seed-link-selected")
		$('#why_seed_link').addClass("seed-link-not-selected")
		$('#why_corpus_link').addClass("seed-link-selected")
		$('#why_corpus_link').removeClass("seed-link-not-selected")
	});
});
</script>
{% endblock %}

{% block content %}
	<h2 id="seed_fund_heading">Seed Capital Funding</h2>
		<div id="seedcapital_main" class="left">
			<p><b>Thank You</b></p>
			<p>For coming here to learn more about our efforts to sustain, grow and make big things happen in NIT Warangal</p>
			<div id="seed_links">
			<span id="why_seed_link" >Why Seed Capital</span>&nbsp&nbsp|&nbsp&nbsp<span id="why_corpus_link" >Why Corpus</span>
			</div>

			<p id="why_seed">Your support is our fuel, it is what drives us. We work hard for this cause because it is our passion. However, every effort needs finances to be effectively delivered. Raising a corpus is in itself a massive task and it will entail expenses. It is a long term committment and, through this seed capital,we are preparing ourselves to go the distance. The seed will be used to cover for activities, resources, and purchases towards raising the corpus.</p>

			<p id="why_corpus">In February 2012 Lakshya's first full-time employee was hired. The results we've delivered in NIT Warangal- a patent application, two startups, alumni services, scholarships - all within a short span of time, goes to show that our independance and flexibility is our strength.We now have to grow, and grow rapidly, if we are to achieve our <a href="/about">vision</a>. Having a corpus will enable us to take up several more projects having a wider and deeper impact in NIT Warangal. We can build resources in line with our goal and take bold decisions, a necessity in an era where innovation and risk go hand in hand.</p>	
        </div>
        <div id="ceo_message_panel" class="left">
        	<p><b>Dear alumni,</b></p>
        	<p>NIT Warangal has given us fond memories, great friends, and a top education. Its time we give back and in a big way. Lakshya aims to do just that and we've delivered some fine results so far. Support from the alumni, institute, and industry is imperative but strong foundations are laid on sound financial footing. </p><p>A corpus will help realize our collective vision for NIT Warangal, the seed capital is the first small step to enter the big league.</p>
        	<p>Sincerely,</p>
        	<img src="{{STATIC_URL}}img/anand-sign.png" width="120px" height="50px"/>
        	<p>Anand Rajgoplanan, CEO</p>
        </div>

{% endblock content %}