{% extends "base.html" %}

{% block title %}
<title>Team - Lakshya, an NITW alumni led organization</title>
<meta name="description" content="Lakshya an NIT Warangal alumni led registered organization">
{% endblock title %}

{% block meta %}
<script src="{{STATIC_URL}}js/jquery.min.js"></script>	
<script type="text/javascript">
$(function(){
	$(".desc").hide();
	$(".anand").show();	
	$(".thumbnail").click(function(){
		$(".desc").hide();
		$("."+this.id).show();
		$(".thumbnail").removeClass("selected")
		$(this).addClass("selected")
	});
});
</script>
{% endblock %}
{%block header_slide%}
			<a href="/team" title="Team" ><img src="{{STATIC_URL}}img/headers/team.png" width="990" height="420" alt="Team"></a>
{% endblock header_slide%}

{% block content %}
<div class = "content_with_page_title left">
	<h2>Lakshya Team</h2>
	<div class="content_div">
<!--Role of individual in Lakshya-->
		<p>Synergy is one of our core values and it reflects in our team composition. Faculty, alumni, and students are all part of the organization, bringing all stakeholders of NIT Warangal together.</p>
		<div id="team-list" class="left cB">
			<h3>Faculty</h3>
			<div>
				<img class = "thumbnail" id="venugopal" src="{{STATIC_URL}}img/team-page-pics/inactive_state/venugopal.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/venugopal.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/venugopal.png'" width="50px" height="50px"/>
				<img class = "thumbnail" id="padma" src="{{STATIC_URL}}img/team-page-pics/inactive_state/padma.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/padma.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/padma.png'" width="50px" height="50px"/>
			</div>
			<h3>Alumni</h3>
			<div>
				<img class = "thumbnail selected" id="anand" src="{{STATIC_URL}}img/team-page-pics/inactive_state/anand.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/anand.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/anand.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="naveen" src="{{STATIC_URL}}img/team-page-pics/inactive_state/naveen.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/naveen.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/naveen.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="ginu" src="{{STATIC_URL}}img/team-page-pics/inactive_state/ginu.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/ginu.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/ginu.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="srihari" src="{{STATIC_URL}}img/team-page-pics/inactive_state/srihari.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/srihari.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/srihari.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="rakesh" src="{{STATIC_URL}}img/team-page-pics/inactive_state/rakesh.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/rakesh.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/rakesh.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="vrishank" src="{{STATIC_URL}}img/team-page-pics/inactive_state/vrishank.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/vrishank.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/vrishank.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="ashok" src="{{STATIC_URL}}img/team-page-pics/inactive_state/ashok.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/ashok.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/ashok.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="maruthi" src="{{STATIC_URL}}img/team-page-pics/inactive_state/maruthi.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/maruthi.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/maruthi.png'" width="50px" height="50px" />

			</div>
			<h3>Students</h3>
			<div>
				<img class = "thumbnail" id="shine" src="{{STATIC_URL}}img/team-page-pics/inactive_state/shine.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/shine.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/shine.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="namini" src="{{STATIC_URL}}img/team-page-pics/inactive_state/namini.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/namini.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/namini.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="debajyoti" src="{{STATIC_URL}}img/team-page-pics/inactive_state/deba.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/deba.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/deba.png'" width="50px" height="50px" />
			</div>
			<h3>Board Of Advisors</h3>
			<div>
				<img class = "thumbnail" id="venkat" src="{{STATIC_URL}}img/team-page-pics/inactive_state/venkat.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/venkat.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/venkat.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="vasanth" src="{{STATIC_URL}}img/team-page-pics/inactive_state/vasanth.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/vasanth.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/vasanth.png'" width="50px" height="50px" />
				<img class = "thumbnail" id="sastry" src="{{STATIC_URL}}img/team-page-pics/inactive_state/sastry.png" onmouseover="this.src='{{STATIC_URL}}img/team-page-pics/active_state/sastry.png'" onmouseout="this.src='{{STATIC_URL}}img/team-page-pics/inactive_state/sastry.png'" width="50px" height="50px" />
			</div>
		</div>
		<div id="team_description" class="right">
			{% for team_member in team_member_list %}
			<div class = "{{team_member.slug}} desc hidden cB">
				<div class="left">
					<img src="{{team_member.photo.url}}" width="150px" height="150px" />
				</div>
				<div id="team_member_details"class="left">
					<h3> {{team_member.name}} </h3>
					{% if team_member.designation%}
						<p>{{team_member.designation}}</p>
					{% endif %}
					{% if team_member.fb_link%}
						<a href="{{team_member.fb_link}}"><img src="{{STATIC_URL}}img/facebook_icon.png" width="25px" height="25px"></a>
					{% endif %}
					{% if team_member.linkedin_link%}
						<a href="{{team_member.linkedin_link}}"><img src="{{STATIC_URL}}img/linkedin_icon.png" width="25px" height="25px"></a>
					{% endif %}	
					{% if team_member.twitter_link%}
						<a href="{{team_member.fb_link}}"><img src="{{STATIC_URL}}img/twitter_icon.png" width="25px" height="25px"></a>
					{% endif %}
					{% if team_member.blog_link%}
						<a href="{{team_member.linkedin_link}}"><img src="{{STATIC_URL}}img/blog_icon.png" width="25px" height="25px"></a>
					{% endif %}				
				</div>
				<div id="team_member_description" class="cB"> 
					<p>{{team_member.description|safe}}</p>
				</div>
			</div>	
			{% endfor %}
		</div>
		<span class="cB"></span>
	</div>
</div>
<div class = "right_navigation_div right">
	<h3>About</h3>
	<ul>
		<li><a href="/about">About Lakshya</a></li>
		<li>Team</li>
	</ul>
</div>
{% endblock content %}
