#u783
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
}

#u488
{
	border-color: #000000;
	background-color: #7F7F7F;
	position: fixed;
}

#u493
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.26;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=26)";
	filter: alpha(opacity=26);
	position: fixed;
}

#u494-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u491,#pamphletu735
{
	position: fixed;
}

#u746
{
	position: absolute;
}

#u747
{
	border-color: #999999;
	background-color: #383838;
	background-color: rgba(0, 0, 0, 0.78);
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.78);
}

#menuu748
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
}

#u773
{
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	position: relative;
}

#u773:hover
{
	background-color: #62BF9C;
	background-color: rgba(71, 180, 139, 0.85);
	-pie-background: rgba(71, 180, 139, 0.85);
}

#u773:active
{
	background-color: #818181;
	background-color: rgba(107, 107, 107, 0.85);
	-pie-background: rgba(107, 107, 107, 0.85);
}

#u773.MuseMenuActive
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 1);
	-pie-background: rgba(153, 153, 153, 1);
}

#u759
{
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	position: relative;
}

#u759:hover
{
	background-color: #62BF9C;
	background-color: rgba(71, 180, 139, 0.85);
	-pie-background: rgba(71, 180, 139, 0.85);
}

#u759:active
{
	background-color: #818181;
	background-color: rgba(107, 107, 107, 0.85);
	-pie-background: rgba(107, 107, 107, 0.85);
}

#u759.MuseMenuActive
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 1);
	-pie-background: rgba(153, 153, 153, 1);
}

#u750
{
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	position: relative;
}

#u750:hover
{
	background-color: #62BF9C;
	background-color: rgba(71, 180, 139, 0.85);
	-pie-background: rgba(71, 180, 139, 0.85);
}

#u750:active
{
	background-color: #818181;
	background-color: rgba(107, 107, 107, 0.85);
	-pie-background: rgba(107, 107, 107, 0.85);
}

#u750.MuseMenuActive
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 1);
	-pie-background: rgba(153, 153, 153, 1);
}

#u766
{
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	position: relative;
}

#u766:hover
{
	background-color: #62BF9C;
	background-color: rgba(71, 180, 139, 0.85);
	-pie-background: rgba(71, 180, 139, 0.85);
}

#u766:active
{
	background-color: #818181;
	background-color: rgba(107, 107, 107, 0.85);
	-pie-background: rgba(107, 107, 107, 0.85);
}

#u766.MuseMenuActive
{
	background-color: #999999;
	background-color: rgba(153, 153, 153, 1);
	-pie-background: rgba(153, 153, 153, 1);
}

#u774-4,#u760-4,#u751-4,#u769-4
{
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u770,#u756,#u749,#u763,#u736
{
	position: relative;
}

#u737
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u737:hover
{
	border-style: none;
	border-color: transparent;
}

#u737.PamphletThumbSelected
{
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u738
{
	background-color: transparent;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
}

#u737:hover #u738
{
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
}

#u737.PamphletThumbSelected #u738
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u778
{
	position: fixed;
	background: url("../images/u778_states.png") no-repeat 0px 0px;
}

#u778_states
{
	vertical-align: top;
}

#u778:hover #u778_states
{
	background: url("../images/u778_states-r.png") no-repeat 0px 0px;
}

#u779
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: fixed;
}

