{% extends "nurj/nurjbase.html" %}
{% block content %}
	{{ block.super }}
<div class="content_wrap_old clearfix">
	<div class = "content_with_page_title left">
		<h2>NIT Undergraduate Research Journal Submission Form</h2>
		<div class="content_div">
			<div id="nurj_about" class="left">
				<div><label for="name">Name</label><input type="text" name="name" id="name" class="text" required></div>
				<div><label for="email">Email</label><input type="email" name="email" id="email" class="text" required></div>

				<div>
					<label for="course">Course</label>

				</div>
				
				<div>
					<label for="branch">Branch</label>

				</div>

				<div>
					<label for="rollno">Rollno</label>
					<input type="text" name="rollno" id="rollno" class="text">
				</div>
				
				<div>
					<label for="sub_type"></label>
					<input type="radio" name="sub_type" class="" value="1" required>Article</input>
					<input type="radio" name="sub_type" class="" value="2" required>Commentary</input>
				</div>

				<div><label for="title">Title</label><input type="text" name="title" id="title" class="text"></div>
				
				<div><label for="manuscript">Blinded Manuscript</label><input type="file" name="manuscript" id="manuscript" class="text"></div>
				
				<div><label for="title_page">Title Page</label><input type="file" name="title_page" id="title_page" class="text"></div>
				
			</div>
			<div class="cB">
				<p></p>
			</div>
			<br>
		</div>
	</div>
</div>
{% endblock content %}