{% extends "ig/base.html" %}


{% block scripts %}
<script type="text/javascript">
$(function() {
	
});
</script>
{% endblock scripts %}

{% block content %}
<div id="ig_list">
	<div class="content">
		<p class="heading">Projects</p>
		<div class="row">
			{%for project in projects %}
				<div class="column small-12 medium-6 large-4">
					<div class="ig_project_snippet" style="background: url('{{project.get_primary_picture_url}}');background-position: center, center;">
						<p class="ig_project_name">{{project.title}}</p>
						<a href="/innovationgarage/project/{{project.id}}"></a>
					</div>
				</div>
			{%endfor%}
		</div>
		<a href="/innovationgarage" class="cta ig">Back to innovation garage</a>
	</div>
</div>
{% endblock content %}