{% extends "crowdfunding/base.html" %}
{% load humanize %}
{% load embed_video_tags %}
{% block meta %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{project.title}}" />
    <meta property="og:description" content="{{project.summary}}" />
    <meta property="og:image" content="http://{{request.get_host}}/{{project.project_images.all.0.image.url}}" /> 
    <meta property="og:url" content="http://{{request.get_host}}/crowdfunding/project/{{project.id}}" />
<!--     {% if project.video_url %}
        <meta property="og:video" content="{{project.video_url}}"/>    
    {% endif %}                          -->
{% endblock meta %}
{% block scripts %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1491007234499273";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">

    function submitPledge(){
        if($(this).hasClass('disabled')) return;
        // $(this).addClass('disabled').siblings('img.loading').show();
        $('#pledge_submit').addClass('disabled');
        $('#pledge_form img.loading').show();
        $.post($('#pledge_form form').attr('action'), $('#pledge_form form').serialize(), function(response) {
            if(response.success == 'true')
            {
                window.location.reload();
                // window.location.href="http://www.google.com";
            }
            else
            {
                $('#pledge_form p.errors').html('Could not submit pledge. ');
                for(var i=0; i<response.errors.length; i++)
                {
                    $('#pledge_form p.errors').append(response.errors[i] + '. ');
                }
                $('#pledge_form p.errors').show();
                $('#pledge_submit').removeClass('disabled').siblings('img.loading').hide();
            }
        });
    }

    function display_pan()
    {
      if (!document.getElementById("id_email_receipt").checked)
        document.getElementById("div_id_pan_card").style.display = "none";
      else
        document.getElementById("div_id_pan_card").style.display = "inline";
    }    

    $(function(){
        $('#description_tab').click(function(){
            $('.update_content').fadeOut();
            $('.challenges_content').fadeOut();
            $('.backers_content').fadeOut();
            $('.description_content').fadeIn();
            $('#updates_tab').removeClass('selected');
            $('#challenges_tab').removeClass('selected');
            $('#backers_tab').removeClass('selected');
            if(!$(this).hasClass('selected'))
                $('#description_tab').addClass('selected');
        });
        $('#challenges_tab').click(function(){
            $('.description_content').fadeOut();
            $('.update_content').fadeOut();
            $('.backers_content').fadeOut();
            $('.challenges_content').fadeIn();
            $('#description_tab').removeClass('selected');
            $('#update_tab').removeClass('selected');
            $('#backers_tab').removeClass('selected');
            if(!$(this).hasClass('selected'))
                $('#challenges_tab').addClass('selected');
        });
        $('#updates_tab').click(function(){
            $('.description_content').fadeOut();
            $('.challenges_content').fadeOut();            
            $('.backers_content').fadeOut();
            $('.update_content').fadeIn();
            $('#description_tab').removeClass('selected');
            $('#challenges_tab').removeClass('selected');
            $('#backers_tab').removeClass('selected');
            if(!$(this).hasClass('selected'))
                $('#updates_tab').addClass('selected');
        });
        $('#backers_tab').click(function(){
            $('.description_content').fadeOut();
            $('.challenges_content').fadeOut();            
            $('.update_content').fadeOut();
            $('.backers_content').fadeIn();
            $('#description_tab').removeClass('selected');
            $('#challenges_tab').removeClass('selected');
            $('#updates_tab').removeClass('selected');
            if(!$(this).hasClass('selected'))
                $('#backers_tab').addClass('selected');
        });


        $('#back_this_project_button').click(function() {
            $('#login_modal a:not(.close-reveal-modal)').each(function() {
                $(this).attr('href', $(this).attr('href') + '?next=/crowdfunding/project/{{project.id}}');
            });
            $('#login_modal').foundation('reveal', 'open');
        });

        $('#pledge_submit').click(function() {
            submitPledge();
        });
    
        $('#crowdfunding_project_detail_page #hero_content span.edit').click(function() {
          window.location = $(this).data('href');
          return false;
        });

        // Pledge even if user presses Enter inside text box
        $('#pledge_amount').keydown(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    submitPledge();
                 }
            });

        $('#crowdfunding_project_detail_page p#already_pledged_message a').click(function() {
            $('#pledge_form').removeClass('hidden');
            $('#already_pledged_message').addClass('hidden');
        });
    });
    </script>
    <LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/slick/slick.css"/>
    <LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/introjs/introjs.min.css"/>
    <LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/introjs/custom-introjs.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/slick/slick-theme.css"/>
{% endblock scripts %}

{% block content %}
<div id="crowdfunding_faq_section">
    <div class="row" id="why_it_works">We'll be back soon</div>
    Hi! We're currently fixing issues and will be up and running latest by 15 April 5PM IST. For urgent queries, please write to us at info@TheLakshyaFoundation.org. The crowdfunding campaigns are running and will be visible here soon.</div>
{% endblock content %}
