{% extends "crowdfunding/base.html" %}
{% load humanize %}
{% load embed_video_tags %}

{% block scripts %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1491007234499273";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">

    function submitPledge(){
        if($(this).hasClass('disabled')) return;
            $(this).addClass('disabled').siblings('img.loading').show();
            $.post($('#pledge_form form').attr('action'), $('#pledge_form form').serialize(), function(response) {
                if(response.success == 'true')
                {
                    window.location.reload();
                    // window.location.href="http://www.google.com";
                }
                else
                {
                    $('#pledge_form p.errors').html('Could not submit pledge. ');
                    for(var i=0; i<response.errors.length; i++)
                    {
                        $('#pledge_form p.errors').append(response.errors[i] + '. ');
                    }
                    $('#pledge_form p.errors').show();
                    $('#pledge_submit').removeClass('disabled').siblings('img.loading').hide();
                }
            });
    }

    $(function(){
        $('#description_tab').click(function(){
            $('.update_content').fadeOut();
            $('.challenges_content').fadeOut();
            $('.description_content').fadeIn();
            $('#updates_tab').removeClass('selected');
            $('#challenges_tab').removeClass('selected');
            if(!$(this).hasClass('selected'))
                $('#description_tab').addClass('selected');
        });
        $('#challenges_tab').click(function(){
            $('.description_content').fadeOut();
            $('.update_content').fadeOut();
            $('.challenges_content').fadeIn();
            $('#description_tab').removeClass('selected');
            $('#update_tab').removeClass('selected');
            if(!$(this).hasClass('selected'))
                $('#challenges_tab').addClass('selected');
        });
        $('#updates_tab').click(function(){
            $('.description_content').fadeOut();
            $('.challenges_content').fadeOut();            
            $('.update_content').fadeIn();
            $('#description_tab').removeClass('selected');
            $('#challenges_tab').removeClass('selected');
            if(!$(this).hasClass('selected'))
                $('#updates_tab').addClass('selected');
        });

        $('#back_this_project_button').click(function() {
            $('#login_modal a').attr('href', $('#login_modal a').attr('href') + '?next=/crowdfunding/project/{{project.id}}');
            $('#login_modal').foundation('reveal', 'open');
        });

        $('#pledge_submit').click(function() {
            submitPledge();
        });
    
        $('#crowdfunding_project_detail_page #hero_content span.edit').click(function() {
          window.location = $(this).data('href');
          return false;
        });

        // Pledge even if user presses Enter inside text box
        $('#pledge_amount').keydown(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    submitPledge();
                 }
            });

        $('#crowdfunding_project_detail_page p#already_pledged_message a').click(function() {
            $('#pledge_form').removeClass('hidden');
            $('#already_pledged_message').addClass('hidden');
        });
    });
    </script>
    <LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/slick/slick-theme.css"/>
{% endblock scripts %}

{% block content %}
    <div id="crowdfunding_project_detail_page">
        <div id="hero_content">
            <div class="row">
                <div class="large-6 column" id="project_image_container">
                <div class="cover-images">
                        {% if project.video_url %}
                        <div>
                            {% video project.video_url 'tiny' %}
                        </div>
                        {% endif %}                         

                        {% for project_image in project.project_images.all %}
                            <div>
                                <img src="{{project_image.image.url}}">
                            </div>
                        {% endfor %} 
                </div>
                </div>
                <div class="large-6 column">
                    <div id="project_title">{% if project.author.id == user.id %}<span class="edit" data-href="/crowdfunding/project/{{project.id}}/edit">Edit Campaign</span>&nbsp;<span class="edit" data-href="/crowdfunding/project/{{project.id}}/update">Post Progress Update</span>{% endif %}<br/><br/>{{project.title}}</div>
                    <div id="project_summary">{{project.summary}}</div>
                    <div>
                        <div class="column project_progress progress nice large-10">
                            <span class="meter" style="width:{{project.get_percentage_pledged}}%"></span>
                        </div>
                        <div class="row">
                            <div class="large-4 small-4 medium-4 column">
                              <div class="project_metric_number">{{project.get_percentage_pledged}}%</div>
                              <div class="project_metric_label">Pledged</div>
                            </div>
                            <div class="large-4 small-4 medium-4 column">
                              <div class="project_metric_number">Rs.{{project.goal|intcomma}}</div>
                              <div class="project_metric_label">Goal</div>
                            </div>
                            <div class="large-4 small-4 medium-4 column">
                              <div class="project_metric_number">{{project.get_days_remaining}} Days</div>
                              <div class="project_metric_label">To go</div>
                            </div>
                          </div>  
                    </div>

                    {% if not user.is_authenticated %}
                    <div class="button need_login" id="back_this_project_button">BACK THIS PROJECT</div>
                    {% elif project.is_expired and project.is_fully_pledged %}
                        <p id="already_pledged_message" {% if not user_pledge %}class="hidden"{% endif %}><span>SUCCESSFULLY FUNDED! Thanks for pledging Rs. {{user_pledge.amount}} to this project. You will receive a mail soon to fulfill your pledge.</span></p>
                        <div id="pledge_form" {% if user_pledge %}class="hidden"{% endif %}>
                        <p> This campaign was a success and pledges are now closed!</p>
                        <div class="btn" id="pledge_submit_disabled">SUCCESSFULLY FUNDED!</div></div>
                    {% elif project.is_expired and not project.is_fully_pledged %}
                        <p id="already_pledged_message" {% if not user_pledge %}class="hidden"{% endif %}><span>CAMPAIGN UNSUCCESFUL - Thanks for pledging Rs. {{user_pledge.amount}} to this project. However, this campaign was unsuccessful in raising the required funding. Please continue supporting projects, we're sure many will be funded successfully!</span></p>
                        <div id="pledge_form" {% if user_pledge %}class="hidden"{% endif %}>
                        <p> CAMPAIGN UNSUCCESFUL - This campaign has expired and was unable to raise the reuired funding.</p><div class="btn" id="pledge_submit_disabled">CAMPAIGN CLOSED</div></div>                        
                    {% else %}
                    <p id="already_pledged_message" {% if not user_pledge %}class="hidden"{% endif %}><span>You have pledged Rs. {{user_pledge.amount}} to this project. </span><a href="#">Edit pledge</a></p>
                    <div id="pledge_form" {% if user_pledge %}class="hidden"{% endif %}>
                        <form method="POST" action="/crowdfunding/_pledge/create">{% csrf_token %}
                            <input type="hidden" name="project_id" value="{{project.id}}">
                            <input type="text" placeholder="Enter pledge amount(Rs)" name="amount" id="pledge_amount" value="{{user_pledge.amount}}">
                            <div class="btn" id="pledge_submit">Pledge</div>
                            <img src="{{STATIC_URL}}newimg/spinner_transparent.gif" class="loading">
                            <p class="errors">Could not submit pledge</p>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div id="thumbnails" class="column large-6 medium-12 small-12">
                
            </div>
            <div id="disclaimer" class="column large-6 medium-12 small-12">
                *Campaign initiated on {{project.start_date}}
            </div>
        </div>
        <div class="row" id="detail_content">
            <div class="column large-6 large-offset-1">
                <!-- <div class="row project_content_title">
                    <div class="column">
                        {{project.title}}
                    </div>
                </div> -->
                <div class="row" id="project_content_nav">
                <div class="large-12 column project_nav_container">
                    <div class="column large-4 project_content_nav_item selected" id="description_tab">Description</div>
                    <div class="column large-4 project_content_nav_item" id="challenges_tab">Challenges</div>
                    <div class="column large-4 project_content_nav_item" id="updates_tab">Updates</div>
                    
                </div>
                </div>
                    <div class="row update_content" style="display: none;">
                        {% for update in project.updates.all %}
                        <div class="row update_item">
                            <div class="column large-6">
                                <!--span class="project_update_title">TEST SUCCESS</span-->
                                <span class="project_update_date">{{update.timestamp}}</span>
                            </div>
                            <div class="column large-12">
                                {{update.update|safe}}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                    <div class="row description_content">
                        <div class="large-12 column">
                            {{project.description|safe}}
                        </div>
                    </div>
                    <div class="row challenges_content" style="display: none;">
                        <div class="large-12 column">
                            {{project.risks_and_challenges|safe}}
                        </div>
                    </div>
            </div>
            <div class="column large-4 large-offset-1">
                <div class="row project_content_title">TEAM</div>
                <div class="row team_members">{{project.team|safe}}</div>
                Share campaign with friends - <br/>
                <!-- Share on Facebook -->
                <div class="fb-share-button" data-href="http://{{request.get_host}}/crowdfunding/project/{{pledge.project.id}}" data-layout="box_count"></div>
                <!-- Share on Twitter -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this project campaign" data-via="lakshyatweets" data-hashtags="nitwCrowdfunding" data-count="vertical">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <!-- Share on LinkedIn -->
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US
                </script><script type="IN/Share" data-counter="top"></script>
            </div>
        </div>
    <div id="crowdfunding_projects_section" class="content-width">

    <div id="crowdfunding_project_grid" class="row">
        {% for project in related_projects %}
        <div class="column large-4 medium-6 small-12 project_block_container {% if forloop.last %}end{% endif %}">
            <a href="./{{project.id}}">
              <div class="project_block row">
                <div class="project_image_container" style="background-image:url({{project.get_primary_picture_url}});">
                  {% if project.is_fully_pledged %}
                  <div class="status_bar completed">Fully funded</div>
                  {% elif project.is_expired %}
                  <div class="status_bar expired">Project expired</div>
                  {% endif %}
                  {% if project.author.id == user.id %}<span class="edit" data-href="/crowdfunding/project/{{project.id}}/edit">Edit</span>{% endif %}
                </div>
                <div class="project_content">
                    <p class="project_content_heading"><span>{{project.title}}</span></p>
                    <p class="project_content_summary">{{project.summary|truncatechars:90}}</p>
                    <div class="project_numbers">
                        <div class="project_progress progress nice">
                            <span class="meter" style="width:{{project.get_percentage_pledged}}%"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-4 small-4 medium-4 column">
                          <div class="project_metric_number">{{project.get_percentage_pledged}}%</div>
                          <div class="project_metric_label">Pledged</div>
                        </div>
                        <div class="large-4 small-4 medium-4 column">
                          <div class="project_metric_number">Rs. {{project.goal|intcomma}}</div>
                          <div class="project_metric_label">Goal</div>
                        </div>
                        <div class="large-4 small-4 medium-4 column project_days_container">
                          <div class="project_metric_number">{{project.get_days_remaining}} Days</div>
                          <div class="project_metric_label">To go</div>
                        </div>
                    </div>
                </div>
              </div>
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
    </div>
    <script type="text/javascript" src="{{STATIC_URL}}js/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.cover-images').slick({dots: true,
                                    infinite: true,
                                    });
        });
    </script>
{% endblock content %}