{% extends "hackathon/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% block scripts %}
<script type="text/javascript">
    $(function(){               
        $('#hackathon_register_button').click(function() {
            $('#login_modal a:not(.close-reveal-modal)').each(function() {
                $(this).attr('href', $(this).attr('href') + '?next=/hackathon/register');
            });
            $('#login_modal').foundation('reveal', 'open');
        }); 

    });
    

</script>
{% endblock scripts %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hackathon - Lakshya Foundation</title>
    {% load staticfiles %}
    {% load static %}
    <link href="{% static 'css/hackathon/register.css' %}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

    <body>
        <aside class="callout" style="height:275px;">
            <div class="text-vertical-center">
                <h1 style="color:#ffffff">Registration</h1>
                <h2 style="color:#ffffff">Hackathon 5.0</h2>
                {% if not login_needed %}
                <h2 style="color:#ffffff">Welcome {{user}}</h2>
                {% endif %}
            </div>
        </aside>

        <aside class="call-to-action bg-primary">
            <div class="container">
                <div class="row">
                    {% if finished %}
                        <h3>Registrations for Hackathon 5.0 are closed</h3>
                        <!-- <hr class="small"> -->
                    {% elif login_needed %}
                        <div style="cursor: pointer;" class="cta hackathon" id="hackathon_register_button">Please click here to login before registering</div>
                    {% elif registered %}
                        <h3>You have already registered for Hackathon 5.0 with the following details:</h3>
                        {% for reg_user in registered_user %}
                            <h3 style="color:#ffffff">Problem: {{ reg_user.problem }} </h3>
                            <h3 style="color:#ffffff">Team: {{ reg_user.team }} </h3>
                            <h3 style="color:#ffffff">Mobile: {{ reg_user.mobile }} </h3>
                        {% endfor %}
                        <h3>Write to us (info[at]TheLakshyaFoundation[dot]org) if you have any queries</h3>
                        <!-- <hr class="small"> -->
                    {% else %}
                        <form method="post" action="/hackathon/register/">{% csrf_token %}
                    {% for field in form %}
                    <div class="col-lg-6">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>                   
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-light">Register</button>
                    </div>
                    </form>
                    {% endif %}
                </div>
                <hr>
                <div class="text-center">
                            <a href="/hackathon/problems/" class="btn btn-lg btn-light">Problem Statements</a>
                            <a href="/hackathon/faq/" class="btn btn-lg btn-light">Frequently Asked Questions</a>
                </div>
            </div>
        </aside>
    </body>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</html>
{% endblock content %}