{% extends "hackathon/base.html" %}
{% block meta %}
	<meta property="og:image" content="{{STATIC_URL}}newimg/hero_hackathon.png" />
	<meta property="og:title" content="NITW Hackathon Stats" />
	<meta property="og:description" content="Insights into participation at the NITW Hackahton 5.0" />
{% endblock meta %}

{% block scripts %}
{% endblock scripts %}

{% block content %}

<h1>Participation at {{hackathon.name}}</h1>
<h1>Total participation {{count}}*</h1>

<!-- by Gender -->
<iframe width="1094.5" height="676.7658333333334" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1z-slxf3utNtaZXwmC654edJf4X9jXbbx5iIc_5P_waQ/pubchart?oid=2046202272&amp;format=interactive"></iframe>

<!-- Participation by Problem Statement -->
<iframe width="1066" height="659.1763342967245" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1z-slxf3utNtaZXwmC654edJf4X9jXbbx5iIc_5P_waQ/pubchart?oid=92713309&amp;format=interactive"></iframe>

<!-- by Branch -->
<iframe width="990.5" height="612.4591666666666" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1z-slxf3utNtaZXwmC654edJf4X9jXbbx5iIc_5P_waQ/pubchart?oid=283153674&amp;format=interactive"></iframe>

<!-- by Year -->
<iframe width="1001.5" height="619.2608333333334" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1z-slxf3utNtaZXwmC654edJf4X9jXbbx5iIc_5P_waQ/pubchart?oid=498748137&amp;format=interactive"></iframe>


{% endblock content %}