<p>Hi {{project.author.first_name}},</p>

<p>We are almost near the finish line! Your project is {{project.get_days_remaining}} days from completing the campaign period and has so far raised {{project.get_percentage_pledged}}% of the set goal.</p>

<p>Go ahead and post the link on Facebook, Twitter, LinkedIn and share it with friends and family.</p>

<p>Link to your campaign page: <a href="http://{{request.get_host}}/crowdfunding/project/{{project.id}}">http://{{request.get_host}}/crowdfunding/project/{{project.id}}</a><br/>
Edit your campaign: <a href="http://{{request.get_host}}/crowdfunding/project/{{project.id}}/edit">http://{{request.get_host}}/crowdfunding/project/{{project.id}}/edit</a><br/>
<b>Project Title: {{project.title}} <br/>
Campaign Goal: {{project.goal}}<br/>
Campaign Duration: {{project.period}}</b></p>

<p>We follow an <b>all-or-nothing</b> funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal. Please contact us (info@thelakshyafoundation.org) for any queries.</p>

<p>Thanks and all the best!<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>


