<p>Hey {{project.author.first_name}},</p>

<p><b>Congratulations!</b></p>

<p>Your campaign {{project.title}} has <b>successfully raised Rs.{{project.get_total_pledged_amount}}</b> against a goal of Rs.{{project.goal}} with {{project.get_days_remaining}} days remaining!

<p>List of Backers can be found on the project campaign details page.<br/></p>

<p>Backers will start converting their pledges into donations and we will disburse the amount to your team 14 days from the day the campaign ends. Until then, backers can continue to back your project, enabling you to stretch your goals with the extra funding.</p>

<p>
	Link to campaign page: <a href="http://{{request.get_host}}/crowdfunding/project/{{project.id}}">http://{{request.get_host}}/crowdfunding/project/{{project.id}}</a><br/>
</p>

<p>Please write to us at info@thelakshyafoundation.org for any clarifications.</p>

<p>Thanks,<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>


