<div style="padding: 20px 0 0 0; font-size: 13px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">
Hey {{project.author.first_name}},

<p><b>Congratulations!</b></p>

<p>Your campaign <a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{project.id}}" style="text-decoration: none; font-weight: bold">{{project.title}}</a> has successfully raised Rs.{{project.get_total_pledged_amount}} against a goal of Rs.{{project.goal}}! The campaign is now closed and no more pledges will be allowed.</p>

<p>A complete list of backers can be found on the campaign page.<br/></p>

<p>Your next task is to send a personal update to backers through the <a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{project.id}}/update" style="text-decoration: none; font-weight: bold">campaign update page</a>. Keep backers informed at all times about what you have done (images and videos can also be posted in the update section) and what your plans are.</p>

<p>Backers will start converting their pledges into donations and we will disburse the amount to your team 14 days from the day the campaign closes.</p>

<p>Please write to us at info@thelakshyafoundation.org for any clarifications.</p>

<div class="row" style="background: url('http://www.thelakshyafoundation.org/static/img/crowdfunding/create_project_BG.png'); width: 100%">

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 500px;" class="responsive-table">
		<tbody>
			<tr>
	            <td align="center" style="font-size: 11px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
	                Level 2, Center for Innovation and Incubation, NIT Warangal, Warangal-506004, India
	                <br>
	                <a href="http://thelakshyafoundation.org" target="_blank" style="color: #ffffff; text-decoration: none;">Lakshya Foundation</a>
	                <span style="font-family: Arial, sans-serif; font-size: 11px; color: #ffffff;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
	                <a href="http://nitw.ac.in" target="_blank" style="color: #ffffff; text-decoration: none;">NIT Warangal</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>
</div>
