<p>Hey {{project.author.first_name}},</p>

<p><b>Congratulations!</b></p>

<p>Your campaign <a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{project.id}}">{{project.title}}</a> has <b>successfully raised Rs.{{project.get_total_pledged_amount}}</b> against a goal of Rs.{{project.goal}}. Your campaign is now closed and backers will begin fulfilling their pledges after which (14 days) you will receive your funding.

<p>List of Backers can be found on the project campaign details page.<br/></p>

<p>Please write to us at info@thelakshyafoundation.org for any clarifications.</p>

<p>Thanks,<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>


