<p>Dear {{pledge.user.first_name}} {{pledge.user.last_name}},</p>

<p>You recently backed <a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{pledge.project.id}}">{{pledge.project.title}}</a> listed on the NITW Crowdfund platform. Unfortunately, the project could not reach its funding goal.</p>

<table>
	<tr>
		<td>Amount you pledged:</td>
		<td>Rs.{{pledge.amount}}</td>
	</tr>
	<tr>
		<td>Project Title:</td>
		<td><a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{pledge.project.id}}">{{pledge.project.title}}</a></td>
	</tr>
	<tr>
		<td>Campaign Goal:</td>
		<td>Rs.{{pledge.project.goal}}</td>
	</tr>
	<tr>
		<td>Total Pledge from all backers:</td>
		<td>Rs.{{pledge.project.get_total_pledged_amount}} ({{pledge.project.get_percentage_pledged}}%)</td>
	</tr>
</table>

<p>The Campaign was initiatied on {{pledge.project.start_date}} for a period of {{pledge.project.period}} days.</p>

<p>We follow an all-or-nothing funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal within the campaign period. Please contact us (info@thelakshyafoundation.org) for any queries.</p>

<p>Thanks,<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>