<div style="padding: 20px 0 0 0; font-size: 13px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">
Dear {{pledge.user.first_name}} {{pledge.user.last_name}},

<p><a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{pledge.project.id}}" style="text-decoration: none; font-weight: bold">{{pledge.project.title}}</a> has SUCCESSFULLY achieved its funding goal! </p>

<p>Please click on the button below to fulfil your pledge</p>

<a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{pledge.project.id}}" style="text-decoration: none"><div id="fulfil_pledge_button" style="background: #00B49E; 
	color: white;
	text-transform: uppercase;
	font-family: 'Gotham',Helvetica,Arial,sans-serif ;
    border: none;
	border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 300px;">Fulfil pledge</div></a>

<p style="text-decoration: none; font-weight: bold">If you do NOT hold an Indian passport, please donate to the following account. After transferring the amount, please email a copy of your passport (front page) to info@TheLakshyaFoundation.org.</p>

<p>A/c name: The Lakshya Foundation-FCRA</p>
<p>A/c no: 3311389680</p>
<p>IFSC: KKBK0000563 </p>
<p>SWIFT: KKBKINBB</p>
<p>Bank and Branch: Kotak Mahindra Bank, Dilsukhnagar Branch, Hyderabad</p>
<p>Under GoI rules, all foreign funding (non-Indian passport holders or a body registered abroad) has to be directed to a separate bank account approved through an FCRA (Foreign Contributions Regulations Act) certification.</p>

<table>
	<tr>
		<td>Amount you pledged:</td>
		<td>Rs.{{pledge.amount}}</td>
	</tr>
	<tr>
		<td>Project Title:</td>
		<td><a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{pledge.project.id}}" style="text-decoration: none; font-weight: bold">{{pledge.project.title}}</a></td>
	</tr>
	<tr>
		<td>Campaign Goal:</td>
		<td>Rs.{{pledge.project.goal}}</td>
	</tr>
	<tr>
		<td>Total Pledge from all backers:</td>
		<td>Rs.{{pledge.project.get_total_pledged_amount}} ({{pledge.project.get_percentage_pledged}}%)</td>
	</tr>
</table>

<div class="row" style="background: url('http://www.thelakshyafoundation.org/static/img/crowdfunding/create_project_BG.png'); width: 100%">

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 500px;" class="responsive-table">
		<tbody>
			<tr>
	            <td align="center" style="font-size: 11px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
	                Level 2, Center for Innovation and Incubation, NIT Warangal, Warangal-506004, India
	                <br>
	                <a href="http://thelakshyafoundation.org" target="_blank" style="color: #ffffff; text-decoration: none;">Lakshya Foundation</a>
	                <span style="font-family: Arial, sans-serif; font-size: 11px; color: #ffffff;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
	                <a href="http://nitw.ac.in" target="_blank" style="color: #ffffff; text-decoration: none;">NIT Warangal</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>
</div>