<div style="padding: 20px 0 0 0; font-size: 13px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">
Hi {{project.author.first_name}},

<p>Your project campaign was not able to raise the funding goal within the campaign period. As you know, we follow an all-or-nothing funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal.</p>

<p>But hey, you're still on campus, are still super young, and have already made a bright start! We're giving you all the data we have so you can pour over it to analyze how you can make the next campaign event better with better images, an awesome video, or with a brief about your previous projects in the team or description section.</p>


<table>
	<tr>
		<td>Project Title</td>
		<td><a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{project.id}}" style="text-decoration: none; font-weight: bold"> {{project.title}}</a></td>
	</tr>
	<tr>
		<td>Campaign Goal:</td>
		<td>Rs.{{project.goal}}</td>
	</tr>
	<tr>
		<td>Funds Pledged:</td>
		<td>Rs.{{project.get_total_pledged_amount}} ({{project.get_percentage_pledged}}%)</td>
	</tr>
	<tr>
		<td>Number of backers:</td>
		<td>{{project.get_total_backers}}</td>
	</tr>
</table>

The Campaign was initiatied on {{project.start_date}} for a period of {{project.period}} days.
<p>Please contact us (info@thelakshyafoundation.org) if you'd like to know more about how you could improve your campaign and reach out to more backers.</p>

<div class="row" style="background: url('http://www.thelakshyafoundation.org/static/img/crowdfunding/create_project_BG.png'); width: 100%">

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 500px;" class="responsive-table">
		<tbody>
			<tr>
	            <td align="center" style="font-size: 11px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
	                Level 2, Center for Innovation and Incubation, NIT Warangal, Warangal-506004, India
	                <br>
	                <a href="http://thelakshyafoundation.org" target="_blank" style="color: #ffffff; text-decoration: none;">Lakshya Foundation</a>
	                <span style="font-family: Arial, sans-serif; font-size: 11px; color: #ffffff;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
	                <a href="http://nitw.ac.in" target="_blank" style="color: #ffffff; text-decoration: none;">NIT Warangal</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>
</div>