<p>Dear {{pledge.user.first_name}} {{pledge.user.last_name}},</p>

<p>We have received the following pledge from you:</p>

<table>
	<tr>
		<td>Pledge Amount:</td>
		<td>Rs.{{pledge.amount}}</td>
	</tr>
	<tr>
		<td>Project Title:</td>
		<td><a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{pledge.project.id}}">{{pledge.project.title}}</a></td>
	</tr>
	<tr>
		<td>Campaign Goal:</td>
		<td>Rs.{{pledge.project.goal}}</td>
	</tr>
	<tr>
		<td>Total Pledge from all backers:</td>
		<td>Rs.{{pledge.project.get_total_pledged_amount}} ({{pledge.project.get_percentage_pledged}}%)</td>
	</tr>
	<tr>
		<td>Campaign Ends in:</td>
		<td>{{pledge.project.get_days_remaining}} days</td>
	</tr>
</table>

<p>Thank you for being a part of the crowdfunding community and enhancing the maker culture at NIT! We shall send you important updates about the project status and will mail you when the campaign period is about to end.</p>

<p>We follow an all-or-nothing funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal within the campaign period. Please contact us (info@thelakshyafoundation.org) for any queries.</p>

<p>Thanks,<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>