<p>Hi {{pledge.project.author.first_name}},</p>

<p>You have a new pledge for your project <b>{{pledge.project.title}}</b>:</p>
<p><b>Pledge Amount: Rs.{{pledge.amount}}<br/>
Backer Name: {{pledge.user.first_name}} {{pledge.user.last_name}}</b><br/></p>

<p>You have reached <b>Rs.{{pledge.project.get_total_pledged_amount}} ({{pledge.project.get_percentage_pledged}}%)</b> of your campaign goal of Rs.{{pledge.project.goal}}. Your campaign ends in {{pledge.project.get_days_remaining}} days.</p>

<p>
	Link to campaign page: <a href="http://{{request.get_host}}/crowdfunding/project/{{pledge.project.id}}">http://{{request.get_host}}/crowdfunding/project/{{pledge.project.id}}</a><br/>
</p>

<p>We follow an <b>all-or-nothing</b> funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal. Please contact us (info@thelakshyafoundation.org) for any queries.</p>
<p>Thanks,<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>


