<p>Dear {{pledge.user.first_name}} {{pledge.user.last_name}},</p>

<p>We have received the following pledge from you:</p>
<p>Pledge Amount: Rs.{{pledge.amount}}<br/>
Project Title: {{pledge.project.title}}<br/>
Campaign Goal: Rs.{{pledge.project.goal}}<br/>
Funds Pldeged: Rs.{{pledge.project.get_total_pledged_amount}}
Campaign Ends in: {{pledge.project.get_days_remaining}} days<br/></p>

<p>
	Link to campaign page: <a href="http://{{request.get_host}}/crowdfunding/project/{{pledge.project.id}}">http://{{request.get_host}}/crowdfunding/project/{{pledge.project.id}}</a><br/>
</p>

<p>Thank you for being a part of the crowdfunding community and enhancing the maker culture at NIT! We shall send you important updates about the project status and will mail you when the campaign period is about to end.</p>

<p>We follow an all-or-nothing funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal. Please contact us (info@thelakshyafoundation.org) for any queries.</p>

<p>Thanks,<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>


