<p>Hi {{project.author.first_name}},</p>

<p>Congratulations on submitting your latest project! We are reviewing the details to make sure it complies with all the rules and has all the necessary information to attract maximum pledges.</p>

<p>You can continue adding more information to your project till it is approved. Click <a href="http://{{request.get_host}}/crowdfunding/project/{{project.id}}">here</a> to access the project.</p>

<p>You will receive an email when the project is approved (normally within 48 hours) or if we have any doubts. You can reply to this email if you have any questions.</p>

<p>Thanks,<br>
NITW Crowdfund Team<br>
Lakshya Foundation</p>