<div style="padding: 20px 0 0 0; font-size: 13px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">
Dear {{pledge.user.first_name}} {{pledge.user.last_name}},

<p>{{pledge.project.author.first_name}} has posted updates for <a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{pledge.project.id}}" style="text-decoration: none; font-weight: bold">{{pledge.project.title}}</a></p>

<table>
{% for update in updates %}
<tr>
	<td><p>{{update.timestamp|safe}}</p>{{update.update|safe}}
	</td>
</tr>
{% endfor %}
</table>

<p>We follow an all-or-nothing funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal. Please contact us (info@thelakshyafoundation.org) for any queries.</p>

<div class="row" style="background: url('http://www.thelakshyafoundation.org/static/img/crowdfunding/create_project_BG.png'); width: 100%">

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 500px;" class="responsive-table">
		<tbody>
			<tr>
	            <td align="center" style="font-size: 11px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
	                Level 2, Center for Innovation and Incubation, NIT Warangal, Warangal-506004, India
	                <br>
	                <a href="http://thelakshyafoundation.org" target="_blank" style="color: #ffffff; text-decoration: none;">Lakshya Foundation</a>
	                <span style="font-family: Arial, sans-serif; font-size: 11px; color: #ffffff;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
	                <a href="http://nitw.ac.in" target="_blank" style="color: #ffffff; text-decoration: none;">NIT Warangal</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>
</div>