<p>Hi {{project.author.first_name}},</p>

<p>Congratulations on submitting your latest project campaign! </p>
<p>You can now view it on the crowdfunding home page. We will review your campaign to make sure it complies with all our rules and has all the necessary information. You will be sent an email if there are changes needed.</p>

<p>Also, you have to be logged in to edit your campaign. Go ahead and post the link on social networking websites and share it with friends and family.</p>

<a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{project.id}}/edit">Click here </a>to edit your campaign<br/>
<b>Project Title: <a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{project.id}}">{{project.title}} </a><br/>
Campaign Goal: {{project.goal}}<br/>
Campaign Duration: {{project.period}}</b></p>

<p>We follow an <b>all-or-nothing</b> funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal. Please contact us (info@thelakshyafoundation.org) for any queries.</p>

<p>Thanks and all the best!<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>
