<div style="padding: 20px 0 0 0; font-size: 13px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;">
Hi {{project.author.first_name}},

<p>Congratulations on submitting your project campaign! </p>
<p>You can now view it on the crowdfunding home page. We will review your campaign to make sure it complies with all our rules and has all the necessary information. You will be sent an email if there are changes needed.</p>

<p>You can edit your campaign from the 'Edit Campaign' section and post updates from the 'Post Progress Update' section accessible from buttons located on the top of your <a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{project.id}}" style="text-decoration: none; font-weight: bold">campaign page</a>. You have to be logged in to see these buttons. Go ahead and post the link on social media and share it with friends and family.</p>

<table>
	<tr>
		<td>Project Title</td>
		<td><a href="http://www.thelakshyafoundation.org/crowdfunding/project/{{project.id}}" style="text-decoration: none; font-weight: bold"> {{project.title}}</a></td>
	</tr>
	<tr>
		<td>Campaign Goal:</td>
		<td>Rs.{{project.goal}}</td>
	</tr>
	<tr>
		<td>Campaign Duration:</td>
		<td>{{project.period}}</td>
	</tr>
</table>

<p>We follow an all-or-nothing funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal. Please contact us (info@thelakshyafoundation.org) for any queries.</p>

<div class="row" style="background: url('http://www.thelakshyafoundation.org/static/img/crowdfunding/create_project_BG.png'); width: 100%">

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 500px;" class="responsive-table">
		<tbody>
			<tr>
	            <td align="center" style="font-size: 11px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
	                Level 2, Center for Innovation and Incubation, NIT Warangal, Warangal-506004, India
	                <br>
	                <a href="http://thelakshyafoundation.org" target="_blank" style="color: #ffffff; text-decoration: none;">Lakshya Foundation</a>
	                <span style="font-family: Arial, sans-serif; font-size: 11px; color: #ffffff;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
	                <a href="http://nitw.ac.in" target="_blank" style="color: #ffffff; text-decoration: none;">NIT Warangal</a>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>
</div>