<p>Dear {{pledge.user.first_name}} {{pledge.user.last_name}},</p>

<p>
	Campaign: <a href="http://{{request.get_host}}/crowdfunding/project/{{pledge.project.id}}">http://{{request.get_host}}/crowdfunding/project/{{pledge.project.id}}</a><br/>
</p>
<p>There is a new update to a project you've backed</p>

<h1>New Updates</h1>
{% for update in updates %}
-------------------------------------------------------------<br/>
	<p>Update: {{update.timestamp|safe}}</p>
	<p>{{update.update|safe}}</p>
{% endfor %}
-------------------------------------------------------------<br/>
<p>We follow an all-or-nothing funding policy. Funds are collected from backers and disbursed to the project team only if the campaign is able to raise 100% or more of its funding goal. Please contact us (info@thelakshyafoundation.org) for any queries.</p>

<p>Thanks,<br/>
NITW Crowdfund Team<br/>
Lakshya Foundation<br/></p>


