{% extends "crowdfunding/base.html" %}
{% load humanize %}

{% block scripts %}
<script type="text/javascript">
$(function() {
    $('#project_authors').click(function() {
      smoothScroll($('#faq_project_authors').offset().top);
      return false;
    });

    $('#project_backers').click(function() {
      smoothScroll($('#faq_project_backers').offset().top);
      return false;
    });    

    $('#startnew_button').click(function() {
      {% if not user.is_authenticated %}
      $('#login_modal a:not(.close-reveal-modal)').each(function() {
        $(this).attr('href', $(this).attr('href') + '?next=/crowdfunding/project/create');
      });
      $('#login_modal').foundation('reveal', 'open');
      {% else %}
      window.location = '/crowdfunding/project/create';
      {% endif %}
    });

    $('#seeall_button').click(function() {
      window.location = '/crowdfunding';
    });
});
</script>
{% endblock scripts %}


{% block content %}
<div id="crowdfunding_home_page">
  
  <div id="faqs_hero_section">
    <div id="crowdfunding_hero_content" class="content-width">

      <!-- <div id="crowdfunding_hero_cta">
          <a href="#" id="see_all_projects" class="cta crowdfunding">See all projects</a>
          <div id="startnew_button" class="button">START NEW PROJECT</div>
      </div> -->


    </div>
  </div>

    <!-- <div id="projects_explore_all" >Explore All</div> -->
    <!--div id="crowdfunding_projects_mask">
      <p>Launching on <br>May 15, 2015</p>
    </div>
  </div-->
  
  <div id="crowdfunding_analytics_section" class="content-width">
    <div class="row" id="makesomething_container">
      <div class="large-4 large-offset-2 column">
      <p>--FAQs--</p>
      <p>A Guide for Authors and Backers</p>
      </div>
      <div class="large-5 large-offset-1 column" id="startnew_btn_container">
        <div id="startnew_button" class="button">START NEW PROJECT</div>
      </div>
      <div class="large-5 large-offset-1 column" id="startnew_btn_container">
        <div id="seeall_button" class="button">DISCOVER PROJECTS</div>
      </div>
    </div>
<!--     <div class="row" id="analytics_section_bg">
      <div class="column large-4 analytics_box">
        <div class="row analytics_number">0</div>
        <div class="row analytics_label">RUPEES FUNDED</div>
      </div>
      <div class="column large-4 analytics_box">
        <div class="row analytics_number">0</div>
        <div class="row analytics_label">PROJECTS</div>
      </div>
      <div class="column large-4 analytics_box">
        <div class="row analytics_number">0</div>
        <div class="row analytics_label">STUDENTS</div>
      </div>
    </div> -->
  </div>

  <div id="crowdfunding_faq_page" class="content-width">
    <div id="crowdfunding_faq_links">
      <div class="row" id="project_authors"><a>For Project Campaign Authors (Students)</a></div><br/>
      <div class="row" id="project_backers"><a>For Project Campaign Backers (Donors)</a></div>
    </div>


    <div class="row" id="faq_project_authors">
<!--       <div class="column large-12 small-12 faq_box">
        <div class="faq_box_head">Project Campaign Authors</div>
        <p>How quickly your project gets funded depends on how you present it to the world! Your project campaign page is your canvas, make it as creative as possible.</p>
      </div> -->
      <div class="faq_box_head_title">Tips and FAQs for Project Campaign Authors</div>
      <div class="column large-12 small-12 faq_box">
        <!-- <img class="faq_about_icon" src="{{STATIC_URL}}img/icons/icon_about.svg"> -->
        <div class="faq_box_head">Images</div>
        <p class="faq_body"><b>Go through <a href="https://www.kickstarter.com/help/images">this link</a> for more useful tips on which images you should use.</b><br/><i>"Use your main project image to brand your project and make it stand out. Be sure to give it life and make it representative of you and what you're creating."</i></p>
      </div>
      <div class="column large-12 small-12 faq_box">
        <!-- <img class="faq_about_icon" src="{{STATIC_URL}}img/icons/icon_about.svg"> -->
        <div class="faq_box_head">Videos</div>
        <p class="faq_body"><b>Watch this video and go to <a href="https://www.kickstarter.com/help/handbook/your_story">this page</a> from Kickstarter on how to create an awesome project campaign video</b><br/><i>"Your project page is where you’ll share your story. What are you looking to create with the help of your community? Use your video and description to quickly and clearly communicate what you’re trying to do and why you’re doing it"</i></p>
        <video width="600" height="400" controls="controls"><source src="https://d3mlfyygrfdi2i.cloudfront.net/awesomevid_h264_hi.mp4" type="video/mp4"/>Your browser does not support HTML5 video. Please update your browser to view this media content.</video>
      </div>
      <div class="column large-12 small-12 faq_box">
        <!-- <img class="faq_about_icon" src="{{STATIC_URL}}img/icons/icon_about.svg"> -->
        <div class="faq_box_head">Project Progress Updates</div>
        <p class="faq_body"><b><a href="https://www.kickstarter.com/help/handbook/updates">Read more</a> about project progress updates</b><br/><i>"Throughout the life of your project, you’ll be communicating with backers and keeping them updated on your progress. That’s where project updates come in. They’re your project’s blog, and how backers can follow along with you from start to finish".</i> Each time you update your project, a mail is sent out to all your current backers. This will also help you spread the word and keep backers engaged.</p>
      </div>

      <div class="column large-12 small-12 faq_box">
      <div class="faq_box_head">How does crowdfunding work?</div>
          <p class="faq_body">The crowdfunding model is fueled by three types of actors: the project initiator who proposes the idea and/or project to be funded; individuals or groups (the “backers”) who support the idea; and a moderating organization (the "platform") that brings the parties together to launch the idea.<br/><br/>

          If you, the initiator, have an idea you believe in and need funding to give it some shape and create a prototype, crowdfunding is for you. There is no application process, judging committee or presentations to make. You can upload project ideas at anytime during the year and begin your campaign. It is up to you to make a decent case for yourself by marketing the idea (through videos, images), marketing your capabilities (by mentioning you previous work) and marketing the team.</p>

          <div class="faq_box_head">Am I eligible to upload a project?</div>
          <p class="faq_body">You are eligible to upload a project if you are a current student of NIT Warangal (B.Tech, M.Tech, MCA, MBA, PhD).</p>

          <div class="faq_box_head">What kind of ideas can I upload? What stage should the idea be in?</div>
          <p class="faq_body">For now, we are only accepting technology ideas, i.e. projects that need funding to build something in the technology space. The ideas can be at any stage – idea, design or early stage prototype.</p>

          <div class="faq_box_head">How much can I raise? In how much time?</div>
          <p class="faq_body">We've set a minimum amount of Rs.20,000. Anything lesser can be funded by the creators themselves, and you should always look to put in your own money first. There is also an upper limit of Rs.2,00,000. Keep in mind that this is an all-or-nothing model.<br/>
          The minimum funding duration is 5 days and the maximum funding duration is 45 days.</p>

          <div class="faq_box_head">When do I receive the funding after I have successfully reached by funding goal?</div>
          <p class="faq_body">Once the funding goal is reached, Lakshya gives backers 14 days to fulfill their pledge. Once the money is received, we will disburse the amount based on your project plan and need.</p>

          <div class="faq_box_head">What if I don't finish a project?</div>
          <p class="faq_body">Risks are an inherent part of innovation and building stuff. There will always be a possibility of failing to reach your development goals or even failing to build anything that works. As long you can show your backer that you've put in the effort, we are okay with that. Remember that all your projects will be in the public domain, and a failed project will reflect on your capacity to deliver on any future projects too. Hence, you must do your research on the Risks and Challenges involved in your proposal and prepare adequately before starting your campaign.</p>

          <div class="faq_box_head">What do backers look for in a project proposal?</div>
          <p class="faq_body">Backers look for:
          <ul>
          <li><b>Capability:</b> Are you technically capable of delivering on your project?</li>
          <li><b>Results:</b> Have you delivered in the past?</li>
          <li><b>Idea:</b> Is the idea interesting? Does it have potential?</li></ul><br/>
          Backers are constantly looking for information about you. Hence we strongly suggest you connect your Facebook and LinkedIn profiles to your crowdfunding profile. You can also upload your past work, youtube channels etc. More information = more trust.</p>


          <div class="faq_box_head">I have uploaded a project. What do I do now?</div>
          <p class="faq_body">Your funding duration count down starts as soon as the campaign is approved by us. So don't submit a campaign before you are fully ready.<br/>
          After you've submitted the campaign, it has been approved and is listed on the site, you should actively work to promote the project and reply to comments/questions by potential backers and curious viewers. The more you interact with the community, the greater are your chances of gaining the trust of backers.</p>

          <div class="faq_box_head">What is the criteria for reaching the funding goal?</div>
          <p class="faq_body">You should raise funding equal to or greater than your funding goal within the funding duration.</p>

      </div>

    </div>

    <div class="row" id="faq_project_backers">
<!--       <div class="column large-12 small-12 faq_box">
        <div class="faq_box_head">Project Campaign Authors</div>
        <p>How quickly your project gets funded depends on how you present it to the world! Your project campaign page is your canvas, make it as creative as possible.</p>
      </div> -->
      <div class="faq_box_head_title">FAQs for Project Campaign Backers</div>
      <div class="column large-12 small-12 faq_box">
        <!-- <img class="faq_about_icon" src="{{STATIC_URL}}img/icons/icon_about.svg"> -->
      <div class="column large-12 small-12 faq_box">
      <div class="faq_box_head">How does crowdfunding work?</div>
          <p class="faq_body">Crowdfunding is the practice of funding a project or venture by raising monetary contributions from a large number of people, typically via the internet.<br/><br/>

          The crowdfunding model is fueled by three types of actors: the project initiator who proposes the idea and/or project to be funded; individuals or groups (the “backers”) who support the idea; and a moderating organization (the "platform") that brings the parties together to launch the idea.<br/><br/>

          Crowdfunding is not a source of investments (in India), the initiator cannot sell equity in exchange for money. It is more of a grant given be the backers for something they love, find interesting or curious, or for someone they believe in. Often, the initiators provide 'rewards' for backers in the form of 'thank you' notes/cards, mentions on their website/product, goodies, or even a sample of their first prototype.
          </p>

          <div class="faq_box_head">What should I look for in a project before funding it?</div>
          <p class="faq_body">
          <ul>
          <li><b>Explore the project page:</b> It should tell you everything you need to know, including details about the project and information about the creator whose vouching for it. The “Risks and Challenges” section is especially worth a look.</li>

          <li><b>Read about the authors:</b> Does the team have an online presence, or past work you can look at? Do people say good things about them? Has it been tried before? We encourage students to publish their past work and connect their accounts with Facebook and LinkedIn.</li>

          <li><b>Ask questions:</b> If there’s something you want to know about a project, ask the creator via email.And if you come across anything suspicious, just let us know by contacting us via email or phone. That feedback helps us make sure no one’s trying to abuse the system.</li></p>
          </ul>

          <div class="faq_box_head">What happens once a project funding goal or funding duration is reached? How do I fulfill my pledge?</div>
          <p class="faq_body">
          <ul>
          <li><b>If funding goal NOT reached within funding duration:</b>
          Nothing happens. The team will not get any of the funding pledged by backers as they did not reach the minimum funding goal. For example, a creator sets a goal to raise Rs.50,000 (funding goal) in 30 days (funding duration). In 20 days, they receive backing for Rs.45,000. In this case, the creators will not get any amount as they did not raise at least Rs.50,000.</li>
          <li><b>If funding goal IS reached within funding duration:</b>
          If the team reaches or exceeds their funding goal within the funding duration, all backers will receive an email to fulfill their pledge within 14 days of receiving the notification. Once all the pledged amount is received, it will be disbursed to the creators either in tranches or as a whole, based on the need and our evaluation. We will then monitor the project and the creators will send regular updates to all backers.</li>
          </ul></p>

          <div class="faq_box_head">What if I cannot fulfill my pledge?</div>
          <p class="faq_body">Our crowdfunding system is based on trust. Since we do not store your card information, we cannot auto-debit the amount from your account/card. Hence, it is imperative that all those who pledge fulfill their commitment. We strongly suggest you make a pledge only if you are absolutely certain you can fulfill it. If you are unable to do so, please send us a mail or call us.</p>

          <div class="faq_box_head">How is my money going to be used?</div>
          <p class="faq_body">While uploading their idea, campign authors will also provide a brief of how they intend to use the funding they raise through their campaign. This can be used to purchase equipment, material, labour, and other products or services. It might also be used to cover their travel and other expenses. They are putting their reputation at stake and any misuse will only reflect on them. Over time, we will work to improve transparency and provide data on how each team is using its funds.</p>

          <div class="faq_box_head">Do you guarantee project completion?</div>
          <p class="faq_body">No. Lakshya does not guarantee project completion. Itsi the stu responsibility to complete their project. Lakshya is not involved in the development of the projects themselves.<br/><br/>
          The fact that Lakshya allows creators to take risks and attempt to create something new forms the basis of this platform. We do not guarantee projects or investigate a creator's ability to complete their project. Backers (you!) ultimately decide the validity and worthiness of a project.
          </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}