#crowdfunding_home_page{
	padding-bottom: 5rem;
}
#crowdfunding_hero_section{
	position: relative;
	background-image: url('../../img/crowdfunding/crowdfunding_hero.jpg');
	height: 51.2rem;
	display: block;
}
#crowdfunding_hero_content{
	padding: 6rem 0;
}
#crowdfunding_hero_icon{
	margin: 3rem auto;
	background: #01b49e;
	width: 12em;
	height: 12em;
	border-radius: 50%;
	color: white;

}
#crowdfunding_hero_icon svg{
	width: 60%;
	padding-top: 3rem;
}
.svg-white path{
	fill: white;
}
#crowdfunding_hero_content_button{
	font-size: 1.6rem;
	font-weight: 400;
	margin: 0 auto;
	max-width: 20rem;
	display: block;
	background: #01b49e;
}
#crowdfunding_hero_content_button:hover{
	background: #25ca82;
}
#crowdfunding_hero_content_button_container{
	margin-top: -1.3rem;
}
#crowdfunding_hero_content_next{
	position: relative;
	margin: 0 auto;
	background: rgba(48,48,47,0.95);
	color: white;
	max-width: 64rem;
	padding: 1.5em; 
}
#crowdfunding_hero_content_next p {
	color: white;
	font-size: 1.6rem;
	text-align: center;
	padding: 0 1em;
}

#crowdfunding_hero_content_next p#crowdfunding_hero_heading {
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #01b49e;
}

.project_block{
	border: 1px solid #d3d3d3;
	padding: 0;
	margin: 0 0;
}
.row.project_block{
	margin-left: 0rem;
	margin-right: 0rem;
}
#crowdfunding_projects_mask_container {
	position: absolute;
	top: 60rem;
	left: 0;
	right: 0;
	height: 110rem;
	z-index: 10;
}

#crowdfunding_projects_mask {
	background: rgba(0,180,158,0.95);
	height: 100%;
}
#crowdfunding_projects_mask p {
	font-size: 8rem;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding-top: 10rem;
}

div#crowdfunding_projects_section{
	margin: 1.8em auto;
}
#crowdfunding_project_grid .project_image_container{
	max-width: 32.5rem;
	padding-bottom: 0.8rem;
	overflow: hidden;
}
#crowdfunding_project_grid .project_image_container img.project_image{
	margin: 0 auto;
}
#crowdfunding_project_grid .project_metric_label{
	color: #777;
	margin-bottom: 1.5rem;
}
#crowdfunding_project_grid .project_metric_number{
	color: #4b4b4b;
	font-weight: bold;
}
#crowdfunding_project_grid .project_days_container {
	padding-left: 2.7rem;
}

#crowdfunding_project_grid .meter{
	background: #00b49e;
	margin:0;
	padding: 0;
}
#crowdfunding_project_grid .project_content{
	padding-bottom: 0.7rem;
}
#crowdfunding_project_grid .project_content_heading{
	font-size: 1.6rem;
	font-weight: bold;
	margin-top: 1rem;
}
#crowdfunding_project_grid .project_numbers{
	margin-top: 3rem;
	margin-bottom: 1rem;
}
#crowdfunding_project_grid .project_progress{
	background: #ddd;
	padding: 0;
	height: 1rem;
}
#crowdfunding_home_page #projects_explore_all{
	margin: 0 auto;
	font-size: 2rem;
	text-align: center;
	cursor: pointer;
	padding-bottom: 3rem;
	padding-top: 3rem;
	display: none; /* Temporary */
}
#crowdfunding_home_page #projects_explore_all:hover{
	text-decoration: underline;
}
.project_content_summary{
	padding-top: 1rem;  
	padding-bottom: 1rem;  
	font-style: justify;
}
.project_block_container{
	padding-bottom: 1.5rem;
	margin-bottom: 4rem;
}
#crowdfunding_home_page #projects_title{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	padding: 1.5rem;
	padding-bottom: 3.8rem;
}
#crowdfunding_analytics_section {
	display: none; /* Temporary */
}
#crowdfunding_analytics_section #analytics_section_bg{
	background: #F8F8F8;
}
#crowdfunding_analytics_section #makesomething_container{
	background: url('../../img/crowdfunding/create_project_BG.png');
	width: 100%;
	padding: 2.5rem;
}
#makesomething_container .column{
	color:white;
	margin-top: 1rem;
	font-size: 2rem;
}
#makesomething_container #startnew_button{
	padding: 1rem;
	max-width: 20rem;
	margin-right: 18rem;
	font-size: 1.4rem;
	background: #E7E755;
	color:#444;
	font-weight: bold;
}
#crowdfunding_analytics_section .analytics_box{
	padding: 3rem;
	background: #F8F8F8;
}
#crowdfunding_analytics_section .analytics_number{
	margin: 0 0 ;
	text-align: center;
	font-size: 9.6rem;
	font-weight: 100;
	color: #01B49E;
}
#crowdfunding_analytics_section .analytics_label{
	margin : 0 auto ;
	text-align: center;
	font-weight: bold;
	font-size: 2.2rem;
	max-width: 20rem;
}
#crowdfunding_faq_section{
	text-align: center;
	padding: 3rem;
}
#crowdfunding_faq_section .row {
	padding: 1.5rem;
}
#crowdfunding_faq_section .faq_about_icon{
	width: 5rem;
	height: 5rem;
}
#crowdfunding_faq_section .faq_box_head{
	color: #24B399;
	font-weight: bold;
	font-size: 1.6rem;
	padding: 0.7rem;
}
#crowdfunding_faq_section p{
	font-style: justify !important;
}
#crowdfunding_faq_section .faq_box{
	padding: 1.5rem;
}
#crowdfunding_faq_section p#faq_body{
	font-style: justify;
}
#crowdfunding_faq_section #why_it_works{
	font-weight: bold;
	font-size: 2rem;
}
@media small and medium {
	#crowdfunding_hero_section{
		height: 15em;
	}
}


/***** Crowdfunding project_detail page ******/

#crowdfunding_project_detail_page #hero_content{
	background: url('../../img/crowdfunding/default_project.jpg');
	filter: blur(1rem);
}
#crowdfunding_project_detail_page  #project_image_container{
	margin-left: 3rem;
	width: 45rem;
	overflow: hidden;
}
#crowdfunding_project_detail_page  #project_image_container img{
	margin: 0 auto;
}
#crowdfunding_project_detail_page #hero_content #project_title{
	margin-top: 7rem;
	color: white;
	font-weight: bold;
	font-size: 1.6rem;
}
#crowdfunding_project_detail_page #hero_content div#project_summary{
	font-size: 1.2rem;
	padding : 0.7rem 0;
	color: white;
	font-style: justify;
}
#crowdfunding_project_detail_page #hero_content .project_progress{
	background: rgba(255,255,255, 0.2);
	padding : 0 0;
	border: 0px;
	margin: 0.5rem auto;
}
#crowdfunding_project_detail_page #hero_content .project_progress span{
	background: #00B49E;
}
#crowdfunding_project_detail_page #hero_content .project_metric_number{
	color: white;
	font-weight: bold;
}
#crowdfunding_project_detail_page #hero_content .project_metric_label{
	color: white;
}
#crowdfunding_project_detail_page #back_this_project_button{
	background: #00B49E;
	margin: 2rem auto;
	padding: 1.8rem 2.5rem;
	color: #222;
	font-weight: bold;
	font-size: 1.6rem;
	font-family: 'Gotham',Helvetica,Arial,sans-serif;
}
#crowdfunding_project_detail_page #disclaimer{
	font-size: 1.2rem;
	color: #999;
}
#crowdfunding_project_detail_page div#detail_content{
	margin: 5rem auto;
	padding-bottom: 6rem;
	border-bottom: 1px solid #00b49e;
}
#crowdfunding_project_detail_page #team_member_pic{
	width: 3rem;
	height: 3rem;
}
#crowdfunding_project_detail_page div#team_member_container{
	margin: 1rem auto;
}
.project_update_title{
	font-weight: bold;
}
.project_update_date{
	font-size: 1.2rem;
	margin-left: 0.5rem;
}
#crowdfunding_project_detail_page div.project_content_title{
	font-weight: bold;
	padding-bottom: 1rem;
}
#crowdfunding_project_detail_page #project_content_nav{
	margin-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}
#crowdfunding_project_detail_page .update_content{
	display: none;
}
#crowdfunding_project_detail_page .project_content_nav_item{
	padding-bottom: 1rem;
	padding-top: 1rem;
	cursor: pointer;
}
#crowdfunding_project_detail_page .project_content_nav_item:hover , #crowdfunding_project_detail_page .project_content_nav_item.selected{
	border-bottom: 3px solid #00B49E;
	color: #00B49E;
	background: #eee;
}
.project_nav_container{
	padding: 0 0;
}
#crowdfunding_project_detail_page .team_members{
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}
#crowdfunding_project_detail_page .update_item{
	padding: 1rem 1rem;
}